.m-biz-list{
	
	ul{

	}
	.tbody{
		&:hover{
			background-color: #EAF8FC;
		}
	}
	.tbody a,.thead a{
		.db;
		.lh(24px);
		padding:6px 0;
		.clearfix;
	}
	.thead{
	    border-bottom: 1px dotted #ccc;
	    padding-top: 5px;
	    .x;
		.biz-type{
			background: none;
		}
	    *{.color(#555,#555,#555) !important;}
	}
	.tbody{
		border-bottom: 1px solid #C2D5E3;
	}
	.tbody,.thead{
		.nobreak;
		span{
			.db;.fl;
			.clip;
			.nobreak;
			.h(100%);
		}
		em{
			color:#999;
			margin-right:3px;
		}
	}
	.u-admin{
		.w(13px);
	}
	.biz-type{
		em{
			.dbi;.y;
			padding:0 5px;
			background-color:#f7f7f7;
			.r(2px);
			color:@yel;
		}
		margin-right:10px;
		i{.dbi;.y;.size(24px);margin-right:5px;}
	}
	.biz-title{
		//width:600px;
	}
	.biz-fwq{
		.w(130px);
		.fr !important;
		color:#555;
	}
	.biz-dateline{
		margin-left:20px;
		.fr !important;
		width:80px;
		.x;
		color:#888;
	}
	.u-type-1{background:url('@{url}biz/u-type-1.png') no-repeat 0 0;}
	.u-type-2{background:url('@{url}biz/u-type-2.png') no-repeat 0 0;}
	.u-type-3{background:url('@{url}biz/u-type-3.png') no-repeat 0 0;}
	.u-type-4{background:url('@{url}biz/u-type-4.png') no-repeat 0 0;}
	.e-failtime{
		.none;
	}

}

.ua-responsive .screen-s .m-biz-list {
	.thead{.none;}
	.biz-title{float:none !important;.db;}
	.biz-fwq,.biz-dateline{.none;}

}