.m-biz-list{
	
	ul{

	}
	.tbody{
		&:hover{
			background-color: #EAF8FC;
		}
	}
	.tbody a,.thead a{
		.db;
		.lh(24px);
		padding:6px 0;
		.clearfix;
	}
	.thead{
	    border-bottom: 1px dotted #ccc;
	    padding-top: 5px;
	    .x;
		.biz-type{
			background: none;
		}
	    *{.color(#555,#555,#555) !important;}
	}
	.tbody{
		border-bottom: 1px solid #C2D5E3;
	}
	.tbody,.thead{
		span{
			.db;.fl;
			.clip;
			.nobreak;
			.h(100%);
		}
		em{
			color:#999;
			margin-right:3px;
		}
	}
	.u-admin{
		.w(13px);
	}
	.biz-type{
		.w(60px);.x;
		background-color:#f7f7f7;
		.r(2px);
		margin-right:20px;
		color:@yel;
	}
	.biz-title{
		width:600px;
	}
	.biz-fwq{
		.w(130px);
		.fr !important;
		color:#555;
	}
	.biz-dateline{
		margin-left:20px;
		.fr !important;
		width:80px;
		.x;
		color:#888;
	}

}