//通栏
.default-sidebar,.default-content{float:none;.w(auto)!important;}

.ua-responsive .screen-s .default-sidebar{
	.db;
	.ps;
}


//筛选表现
.w-category{
	.none;
}
.w-order{
	.u-fav,.u-digest,.u-zan,.pipe,.xi2{
		.none;
	}
}
.w-listmode{
	margin-bottom:5px;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	.r(3px);
}
.ua-responsive .screen-s {
	.w-listmode{
		border-left:none;
		border-right:none;
	}
}

//列表区
.c-flist{
	padding:0 5px;
}

