.m-member-list{
	margin-top:10px;
}
.m-member-item{
	
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #ddd;
	.fz(13px,26px);

	&:hover{
		background:#EFF9FD;
	}
	
	.pr;
	.u-avt{
		.pa;.lt(0,12px);
		.size(24px);
		.r(24px);
	}

	.u-info{
		.db;
		margin-left:24px + 10px;
		em{.color(#555);}
		span{.db;.nobreak;}
	}

	.u-name{
	}
	.u-role{
		em,.e-role,i{
			.dbi;.y(top);
		}
	}
	.u-fwq{
		//.w(220px);
		.nobreak;
		max-width:60%;
	}
	.u-words{
		.nobreak;
		.color(@blue-link);
		&:hover{text-decoration:underline;}
	}
	.u-msg{
		.pa;.rt(0,5px);
	}
	.u-go{
		.pa;.rb(5px,10px);
		color:#888;
		&:hover{
			color:@blue-link;
		}
	}
	.u-control{
		.pa;.lb(0,10px);
	}
}

.ua-responsive .screen-s {
	.m-member-item .u-go{
		.ps;
		color:#555;
		.db;
		.x(right);
	}
}