.m-member-view{

	.pr;

	.m-avt{
		//.w(102px);
		.pa;.lt(0,0);
		margin-top:15px;
		.u-avt{
			.db;
			.size(80px);.auto(x);
			margin-bottom:10px;
			border-radius:80px;
		}
	}

	.m-details{
		margin-left:102px + 20px;
		ul{}
		li{
			.lh(32px);
			.nobreak;
			em{color:#555;margin-right:20px;.w(60px);.dbi;.y;}
			a{.color(@blue-link,#c00);text-decoration:underline;}
		}
	}

	.m-intro{
	}
}
.ua-responsive .screen-s{
	.m-member-view .m-avt{
		.ps;
		margin-bottom:10px;
	}
}