.m-baseinfo{
	.pr;
	.m-avt{
		.pa;.lt(0,0);
	}
	.u-raidlogo{
		.db;
		.size(180px,100px);
		.x;margin:8px;
		border:1px solid #ddd;
		border-radius:3px;
		.clip;

		.logo{
			max-width:100%;
			max-height:100%;
			border-radius:3px;
			transition:0.15s ease-in-out;
		}

		.verif{
			.pa;.db;
			.lt(-1px,-1px);
			.full;
			span{.none;}
			.none;
		}
	}
	.m-details{
		margin-left:200px;
		padding:0 20px;

		li{
			.fz(13px,32px);
			em{color:#555;.dbi;.y;.w(80px);}
			span{.y;}
			.nobreak;
			a{color:@blue-link;text-decoration:underline;}
			a:hover{color:#c00;}
		}
	}
}
.m-photo{
	img{
		border:1px solid #ddd;
		padding:5px;
		max-width:100%;
		box-sizing:border-box;
		.db;.auto(x);
	}
}
.m-team-info{
	padding:0 10px;
}
.ua-responsive .screen-s{
	.m-baseinfo{
		.m-avt{.pr;}
		.u-msg{margin:0 0 10px 10px;}
	}
	.m-details{margin-left:0;}
}