.c-rate{
	.mibi{
		.pointer;
		.w(70px);
		em{
			background: #f00;
			color: #fff;
			padding: 0 5px;
			border-radius: 3px;
			margin-left: 10px;
			.pr;
			.arrow(l,4px,#f00);
			&:after{
				content:'此项将消耗自己积分';
				.db;.pa;.lt(-40px,-40px);
				.tips(yel);
				padding:2px 5px;
				border-radius:3px;
				width: 120px;
				text-align: center;
				color:#555;
				.none;
			}
		}
		&:hover{
			@keyframes rateMBtips{
			    from{opacity:0;transform:translateY(50%);}
			    to{opacity:1;transform:translateY(0);}
			}
			em:after{
				.db;
				animation:rateMBtips 0.3s ease-in-out;
			}
		}
	}

	.tpclg h4{
		.w(auto);
	}
	.reason_slct .px{
		.lh(32px);
	}

	.reasonselect{
		padding:0 10px;
		//box-sizing:border-box;
	}

	.px{
		padding:2px 10px;
		//border-right:none;
	}
	.dpbtn{

	}
}

.m-rate-tips{
	.clearfix;
	p{
		color:#EA6100;
		.x;
		border-bottom:1px dotted #ddd;
	}
	a{
		padding:10px;
		.fr;
		.db;
		.color(#999,#666);
	}
}

.ua-mobile,.screen-s{
	.c-rate{
		font-size:12px;
		//隐藏下拉按钮
		.dpbtn{
			.none;
		}
		.reason_slct{
			.w(100%);
			box-sizing:border-box;
		}
		.reason_slct .pt{
			.w(auto) !important;
		}
		.reason_slct .px{
			width: 100% !important;
		    box-sizing: border-box;
		}
	}
}

.ua-mobile,.screen-s{
	#fwin_viewratings{
		font-size:12px;
		.f_c .list{
			.w(100%);
		}
	}
} 

.ua-mobile,.screen-s{
	#fwin_rate{
		font-size:12px;
		.f_c .list{
			.w(100%);

			thead tr td:nth-child(3),
			tbody tr td:nth-child(3){
				.none;
			}
		}
		.o{
			.px{.none;}
		} 
	}
}