.c-post-tips{
	padding:0;
}
#c-post-tips-moretg{
	color:#c00;
	margin-bottom:10px;
}
#c-post-tips-content{
    border: 1px dashed #ccc;
    padding: 10px;
    color:#333;
    background:#f7f7f7;

    b{.bold;color:#555;}
    .none;
}

.ua-reponsive .screen-s{

}