//列表
.m-snow-list{
	margin-top:10px;
}

.m-snow-list-item{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #ddd;
	&:hover{
		background-color:#f7f7f7;
		.u-screenshot{
			background-color:#fff;
		}
	}
	a{
		.db;
		.pr;
		min-height:112px;
	}
	.u-screenshot{
		.fl;.db;
		.pa;.lt(0,0);
		.size(350px,100px);
		padding:5px;
		border:1px solid #ddd;
		img{.db;.auto(x);max-width:100%;max-height:100%;}
		background-color:#f7f7f7;
	}
	.u-info{
		margin-left:350px + 20px;
		.db;
		padding:10px;
	}
	.u-meta{
		.db;
		margin-bottom:5px;
		.fzlh(13px,24px,26px);
		.nobreak;
		em{
			.dbi;.y;
			background-color:#eee;
			margin-right:10px;
			padding:0 10px;
			color:#555;
			.r(24px);
		}
		span{
			.dbi;.y;
			margin-right:10px;
		}
		.clearfix;
	}
	.u-name{}
	.u-author{}
	.u-type{}
	.u-time{}
}

.ua-responsive .screen-s{

	.m-snow-list-item .u-screenshot{
		float:none;
		.ps;
		.w(100%);
		box-sizing:border-box;
		.h(auto);
		max-width:100%;
	}

	.m-snow-list-item .u-info{
		margin:0;
	}

}

//单页
.m-snow-primary{
	border-bottom:1px dotted #ddd;
	.clearfix;
	padding-bottom:10px;
}

.m-snow-shot{
	.fl;
	.u-img{
		.size(350px,100px);
		padding:5px;
		border:1px solid #ddd;
		img{.db;.auto(x);max-width:100%;max-height:100%;}
	}
	.u-down{
		margin-top:10px;
		padding-left:5px;
	}
	.down_url,.down_url_new{
		padding:0 10px;
		&:extend(.u-btn-blue);
	}
	.down_url_data{
		.none;
	}
	.u-help{
		margin-right:10px;
		color:#555;
		&:hover{text-decoration:underline;color:#000;}
	}
	.u-faq{
		.dbi;.y;
		.size(13px);
		background:url('@{url}icon/faq.gif') no-repeat 0 0;
		margin-top:-2px;
		margin-right:5px;
	}
}

.m-snow-info{
	margin-left:350px + 20px;
	li{
		margin-bottom:5px;
		.fzlh(13px,24px);
	}
	em{
		.fl;
		background-color:#eee;
		margin-right:10px;
		padding:0 10px;
		color:#555;
		.r(24px);
	}
	span{
		.db;margin-left:82px;
		.nobreak;
	}
}
.ua-responsive .screen-s .m-snow-primary{
	.m-snow-shot{
		float:none;
	}
	.u-img{
		.w(100%);
		box-sizing:border-box;
		.h(auto);
		max-width:100%;
	}

	.m-snow-info{
		margin-left:0;
		margin-top:10px;
	}
}

//发布
#select_snowcolor .u-checkbox-list{
	.u-checkbox-item{
		label{.db;.full(x);}
		.u-checkbox{margin-left:10px;}
		&:nth-child(1){background-color:#ccc;}
		&:nth-child(2){background-color:gold;}
		&:nth-child(3){background-color:pink;}
		&:nth-child(4){background-color:red;}
		&:nth-child(5){background-color:orange;}
		&:nth-child(6){background-color:yellow;}
		&:nth-child(7){background-color:green;}
		&:nth-child(8){background-color:#32F7EE;}
		&:nth-child(9){background-color:#09f;}
		&:nth-child(10){background-color:#93f;}
		&:nth-child(11){background-color:#000;color:#fff;}
		&:nth-child(12){background-color:#fff;}
	}
}