<div class="c-fli-attachment">
	<!--{if $post['attachment'] && $_GET['from'] != 'preview'}-->
		<div class="attach_nopermission attach_tips">
			<div>
				<h3><strong>{lang attach_nopermission_notice}</strong></h3>
				<p><!--{if $_G['uid']}-->{lang attach_nopermission}<!--{elseif $_G['connectguest']}-->{lang attach_nopermission_connect_fill_profile}<!--{else}-->{lang attach_nopermission_login} <!--{hook/global_login_text}--><!--{/if}--></p>
			</div>
			<span class="atips_close" onclick="this.parentNode.style.display='none'">x</span>
		</div>
	<!--{elseif $post['imagelist'] || $post['attachlist']}-->
		<div class="pattl">
			<!--{if $post['imagelist'] && $_G['setting']['imagelistthumb'] && $post['imagelistcount'] >= $_G['setting']['imagelistthumb']}-->
				<!--{if !isset($imagelistkey)}-->
					<!--{eval $imagelistkey = rawurlencode(dsign($_G[tid].'|100|100'))}-->
					<script type="text/javascript" reload="1">var imagelistkey = '$imagelistkey';</script>
				<!--{/if}-->
				<!--{eval $post['imagelistthumb'] = true;}-->
				<div class="bbda cl mtw mbm pbm">
					<strong>{lang more_images}</strong>
					<a href="javascript:;" onclick="attachimglst('$post[pid]', 0)" class="xi2 attl_g">{lang image_small}</a>
					<a href="javascript:;" onclick="attachimglst('$post[pid]', 1, {echo intval($_G['setting']['lazyload'])})" class="xi2 attl_m">{lang image_big}</a>
				</div>
				<div id="imagelist_$post[pid]" class="cl" style="display:none"><!--{echo showattach($post, 1)}--></div>
				<div id="imagelistthumb_$post[pid]" class="pattl_c cl"><img src="{IMGDIR}/loading.gif" width="16" height="16" class="vm" /> {lang image_list_openning}</div>
			<!--{else}-->
				<!--{echo showattach($post, 1)}-->
			<!--{/if}-->
			<!--{if $post['attachlist']}-->
				<!--{echo showattach($post)}-->
			<!--{/if}-->
		</div>
	<!--{/if}-->
</div>