<div class="c-fli-info">

	<!--{if $_G['forum_thread']['replycredit'] > 0 || $rushreply}-->
	<div class="c-fli-replycredit" id="pl_top">
		<!-- 回帖奖励 -->
		<!--{if $_G['forum_thread']['replycredit'] > 0 }-->
			<i class="u-icons-replycredit"></i>
			<strong>{$_G['forum_thread']['replycredit']} {$_G['setting']['extcredits'][$_G[forum_thread][replycredit_rule][extcreditstype]][unit]}{$_G['setting']['extcredits'][$_G[forum_thread][replycredit_rule][extcreditstype]][title]}</strong>
			{lang thread_replycredit_tips1} 
			{lang thread_replycredit_tips2}
			<!--{if $_G['forum_thread']['replycredit_rule'][random] > 0}--><span class="xg1">{lang thread_replycredit_tips3}</span><!--{/if}-->
		<!--{/if}-->

		<!-- 抢楼贴 -->
		<!--{if $rushreply}-->
			<img src="{IMGDIR}/rushreply_s.png" class="vm" alt="{lang rushreply}" />
			<strong>{lang rushreply}</strong>
			<!--{if $rushresult[rewardfloor]}-->
				<span class="y">
				<!--{if $_G['uid'] == $_G['thread']['authorid'] || $_G['forum']['ismoderator']}--><a href="javascript:;" onclick="showWindow('membernum', 'forum.php?mod=ajax&action=get_rushreply_membernum&tid=$_G[tid]')" class="y pn xi2"><span>{lang thread_rushreply_statnum}</span></a><!--{/if}-->
				<!--{if !$_GET['checkrush']}-->
					<a href="forum.php?mod=viewthread&tid=$post[tid]&checkrush=1" rel="nofollow" class="y pn xi2"><span>{lang rushreply_view}</span></a>
				<!--{/if}-->
				</span>
			<!--{/if}-->

			<!--{if $rushresult[creditlimit] == ''}-->
				{lang thread_rushreply}&nbsp;
			<!--{else}-->
				{lang thread_rushreply_limit} &nbsp;
			<!--{/if}-->
			<!--{if $rushresult['timer']}-->
			<span id="rushtimer_$thread[tid]"> {lang havemore_special} <span id="rushtimer_body_$thread[tid]"></span> <script language="javascript">settimer($rushresult['timer'], 'rushtimer_body_$thread[tid]');</script>{if $rushresult['timertype'] == 'start'} {lang header_start} {else} {lang over} {/if} {lang right_special}</span>
			<!--{/if}-->
			<!--{if $rushresult[stopfloor]}-->
				{lang thread_rushreply_end}$rushresult[stopfloor]&nbsp;
			<!--{/if}-->
			<!--{if $rushresult[rewardfloor]}-->
				{lang thread_rushreply_floor}: $rushresult[rewardfloor]&nbsp;
			<!--{/if}-->
			<!--{if $rushresult[rewardfloor] && $_GET['checkrush']}-->
				<p class="ptn">
					<!--{if $countrushpost}-->[<strong>$countrushpost</strong>]{lang thread_rushreply_rewardnum}<!--{else}--> {lang thread_rushreply_noreward} <!--{/if}-->&nbsp;&nbsp;
					<a href="forum.php?mod=viewthread&tid=$_G[tid]" class="xi2">{lang thread_rushreply_check_back}</a>
				</p>
			<!--{/if}-->
		<!--{/if}-->
	</div>
	<!--{/if}-->

</div>