<div class="c-forum-title">
	
	<div class="c-forum-title-subject">
		<!-- 主题分类 -->
		<!--{if $_G['forum_thread']['typeid'] && $_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}-->
			<!--{if !IS_ROBOT && ($_G['forum']['threadtypes']['listable'] || $_G['forum']['status'] == 3)}-->
				<a class="u-type" href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid&typeid=$_G[forum_thread][typeid]">[{$_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}]</a>
			<!--{else}-->
				[{$_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}]
			<!--{/if}-->
		<!--{/if}-->
		<!--{if $threadsorts && $_G['forum_thread']['sortid']}-->
			<a class="u-sort" href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$_G[forum_thread][sortid]">[{$_G['forum']['threadsorts']['types'][$_G['forum_thread']['sortid']]}]</a>
		<!--{/if}-->

		<!-- 标题 -->
		<a class="u-subject" id="thread_subject" href="forum.php?mod=viewthread&tid=$_G[tid]">$_G[forum_thread][subject]</a>

		<!-- 标题标志 -->
		<span class="u-subjectmark xg1">
			<!--{if $_G['forum_thread'][displayorder] == -2}-->({lang moderating})
			<!--{elseif $_G['forum_thread'][displayorder] == -3}-->({lang have_ignored})
			<!--{elseif $_G['forum_thread'][displayorder] == -4}-->({lang draft})
				<!--{if $post['first'] && $post['invisible'] == -3}-->
					<a class="u-psave psave" href="forum.php?mod=misc&action=pubsave&tid=$_G[tid]">{lang published}</a>
				<!--{/if}-->
			<!--{/if}-->
			<!--{if $_G['setting']['threadhidethreshold'] && $_G['forum_thread']['hidden'] >= $_G['setting']['threadhidethreshold']}-->						
				<!--{if $_G['forum_thread']['authorid'] == $_G['uid']}--><a class="u-psave psave" id="hiderecover" title="{lang hiderecover_tips}" href="forum.php?mod=misc&action=hiderecover&tid=$_G[tid]&formhash={FORMHASH}" onclick="showWindow(this.id, this.href, 'get', 0);">{lang hidden}</a><!--{else}-->({lang hidden})<!--{/if}-->
				&nbsp;
			<!--{/if}-->

			<!--{if $_G['forum_thread']['recommendlevel']}-->
				&nbsp;<img class="u-recommend" src="{IMGDIR}/recommend_$_G['forum_thread']['recommendlevel'].gif" alt="" title="{lang thread_recommend} $_G['forum_thread'][recommends]" />
			<!--{/if}-->

			<!--{if $_G['forum_thread'][heatlevel]}-->
				&nbsp;<img class="u-heat" src="{IMGDIR}/hot_$_G['forum_thread'][heatlevel].gif" alt="" title="{lang heats}: $_G['forum_thread']['heats']" />
			<!--{/if}-->

			<!--{if $_G['forum_thread']['closed'] == 1}-->
				&nbsp;<img class="u-close" src="{IMGDIR}/locked.gif" alt="{lang close}" title="{lang close}" class="vm" />
			<!--{/if}-->
		</span>

		<!-- 收藏 -->
		<a class="u-fav" href="home.php?mod=spacecp&ac=favorite&type=thread&id=$_G[tid]&formhash={FORMHASH}" id="k_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" onmouseover="this.title = $('favoritenumber').innerHTML + ' {lang activity_member_unit}{lang thread_favorite}'" title="{lang fav_thread}">
			<i></i>收藏
			<span class="none" id="favoritenumber"{if !$_G['forum_thread']['favtimes']} style="display:none"{/if}>
				$_G['forum_thread']['favtimes']
			</span>
		</a>

		<!-- 只看楼主 -->
		<!--{if $post['invisible'] == 0}-->
			<!--{if !IS_ROBOT && !$_GET['authorid'] && !$_G['forum_thread']['archiveid']}-->
				<a class="u-only" href="forum.php?mod=viewthread&tid=$post[tid]&page=$page&authorid=$_G[forum_thread][authorid]" rel="nofollow">只看楼主</a>
			<!--{elseif !$_G['forum_thread']['archiveid']}-->
				<a class="u-only on" href="forum.php?mod=viewthread&tid=$post[tid]&page=$page" rel="nofollow">取消只看楼主</a>
			<!--{/if}-->
		<!--{/if}-->

		<!-- 印戳 -->
		<!--{if $post['first'] &&  $_G['forum_threadstamp']}-->
			<div class="w-stamp w-stamp-$_G[forum_thread][stamp]" id="threadstamp">
				<img src="{STATICURL}image/stamp/$_G[forum_threadstamp][url]" title="$_G[forum_threadstamp][text]" />
			</div>
		<!--{/if}-->

	</div>

	<div class="c-forum-title-meta">

		<div class="c-forum-title-meta-left">
			<!-- 作者信息 -->
			<span class="u-author">
				<!--{if $_G[forum_thread][authorid] && $_G[forum_thread][author]}-->
					<a class="avatar" href="home.php?mod=space&uid=$_G[forum_thread][authorid]" title="$_G[forum_thread][author]"><!--{avatar($_G[forum_thread][authorid],small)}--></a>
					<a href="home.php?mod=space&uid=$_G[forum_thread][authorid]" title="$_G[forum_thread][author]">$_G[forum_thread][author]</a>
				<!--{else}-->
					<!--{if $_G['forum']['ismoderator']}-->
						<a href="home.php?mod=space&uid=$_G[forum_thread][authorid]">{lang anonymous}</a>
					<!--{else}-->
						{lang anonymous}
					<!--{/if}-->
				<!--{/if}-->
			</span>

			<!-- 关注收听 -->
			<!--{if $post[authorid] != $_G[uid]}-->
				<!--{if helper_access::check_module('follow')}-->
				<a class="u-follow" href="home.php?mod=spacecp&ac=follow&op=add&hash={FORMHASH}&fuid=$post[authorid]" id="followmod_$post[authorid]" onclick="showWindow('followmod', this.href, 'get', 0);"><i></i>关注</span></a>
				<!--{/if}-->
			<!--{/if}-->

			<!-- 发布时间 -->
			<span class="u-posttime"><em>发布时间:</em> <b>$post[dateline]</b></span>
			<span class="u-lastedit"><em>最后更新:</em> <b>$thread[lastedit]</b></span>
			<span class="u-view" title="查看"><i></i> <b>$_G[forum_thread][views]</b></span>
			<span class="u-reply" title="回复"><i></i> <b>$_G[forum_thread][allreplies]</b></span>

		</div>

		<div class="c-forum-title-meta-right">
			
			<!-- 打印 -->
			<!--{if $post['invisible'] == 0}-->
			<a class="u-print" href="forum.php?mod=viewthread&action=printable&tid=$_G[tid]" title="{lang thread_printable}" target="_blank"><i></i><span>打印</span></a>
			<!--{/if}-->

			<!-- 分享 -->
			<div class="u-share" id="c-forum-title-share">
				<i></i><span>分享</span>
				<div class="bdsharebuttonbox" id="c-forum-title-share-box">
					<a href="#" class="bds_more" data-cmd="more"></a>
					<a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
					<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
					<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
					<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
				</div>
				<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
				</script>
			</div>

			<!-- 楼层跳转 -->
			<span class="u-goto" id="c-forum-title-goto">
				<i></i><span>跳转</span>
				<div class="u-goto-box" id="fj">
					<label class="z">跳转楼层</label>
					<input type="text" class="px p_fre z" size="2" onkeyup="$('fj_btn').href='forum.php?mod=redirect&ptid=$_G[tid]&authorid=$_GET[authorid]&postno='+this.value" onkeydown="if(event.keyCode==13) {window.location=$('fj_btn').href;return false;}" title="{lang thread_redirect_postno_tips}" />
					<a href="javascript:;" id="fj_btn" class="z" title="{lang thread_redirect_postno_tips}"><img src="{IMGDIR}/fj_btn.png" alt="{lang thread_redirect_postno_tips}" class="vm" /></a>
				</div>
			</span>

			<!-- 倒序 -->
			<!--{if !$rushreply}-->
				<!--{if $ordertype != 1}-->
					<a href="forum.php?mod=viewthread&tid=$_G[tid]&extra=$_GET[extra]&ordertype=1"  class="u-descending" title="倒序浏览 - 最后发布的靠前"><i></i><span>倒序</span></a>
				<!--{else}-->
					<a href="forum.php?mod=viewthread&tid=$_G[tid]&extra=$_GET[extra]&ordertype=2"  class="u-descending" title="正序浏览 - 最早发布的靠前"><i></i><span>正序</span></a>
				<!--{/if}-->
			<!--{/if}-->

			<!-- 举报 -->
			<!--{if $post['authorid'] != $_G['uid']}-->
				<a class="u-report" title="举报" href="javascript:;" onclick="showWindow('miscreport$post[pid]', 'misc.php?mod=report&rtype=post&rid=$post[pid]&tid=$_G[tid]&fid=$_G[fid]', 'get', -1);return false;"><i></i><span>{lang report}</span></a>
			<!--{/if}-->


		</div>

	</div>

	<!--{hook/viewthread_title_extra}-->
</div>