<!-- dz:原侧边栏 -->
<!--{if !$close_leftinfo}-->
<div id="favatar$post[pid]" class="pls favatar">
	$post[newpostanchor] $post[lastpostanchor]
	<!--{if $post['authorid'] && $post['username'] && !$post['anonymous']}-->
		<!--{if $_G['setting']['authoronleft']}-->
			<div class="pi">
				<div class="authi"><a href="home.php?mod=space&uid=$post['authorid']" target="_blank" class="xw1"{if $post[groupcolor]} style="color: $post[groupcolor]"{/if}>$post[author]</a>$authorverifys</div>
			</div>
		<!--{/if}-->
		<div class="p_pop blk bui card_gender_$post['gender']" id="userinfo$post[pid]" style="display: none; {if $_G['setting']['authoronleft']}margin-top: -11px;{/if}">
			<div class="m z">
				<div id="userinfo$post[pid]_ma"></div>
				<!--{hook/viewthread_profileside $postcount}-->
			</div>
			<div class="i y">
				<div>
					<strong><a href="home.php?mod=space&uid=$post[authorid]" target="_blank" class="xi2"{if $post[groupcolor]} style="color: $post[groupcolor]"{/if}>$post[author]</a></strong>
					<!--{if $_G['setting']['vtonlinestatus'] && $post['authorid']}-->
						<!--{if ($_G['setting']['vtonlinestatus'] == 2 && $_G[forum_onlineauthors][$post[authorid]]) || ($_G['setting']['vtonlinestatus'] == 1 && (TIMESTAMP - $post['lastactivity'] <= 10800) && !$post['authorinvisible'])}-->
							<em>{lang online}</em>
						<!--{else}-->
							<em>{lang offline}</em>
						<!--{/if}-->
					<!--{/if}-->
				</div>
				{eval viewthread_profile_node('top', $post);}
				<div class="imicn">
					<!--{if $post['qq'] && !$post['privacy']['profile']['qq']}--><a href="http://wpa.qq.com/msgrd?V=3&Uin=$post[qq]&Site=$_G['setting']['bbname']&Menu=yes&from=discuz" target="_blank" title="QQ"><img src="{IMGDIR}/qq.gif" alt="QQ" /></a><!--{/if}-->
					<!--{if $post['icq'] && !$post['privacy']['profile']['icq']}--><a href="http://wwp.icq.com/scripts/search.dll?to=$post[icq]" target="_blank" title="ICQ"><img src="{IMGDIR}/icq.gif" alt="ICQ" /></a><!--{/if}-->
					<!--{if $post['yahoo'] && !$post['privacy']['profile']['yahoo']}--><a href="http://edit.yahoo.com/config/send_webmesg?.target=$post[yahoo]&.src=pg" target="_blank" title="Yahoo"><img src="{IMGDIR}/yahoo.gif" alt="Yahoo!"  /></a><!--{/if}-->
					<!--{if $post['taobao'] && !$post['privacy']['profile']['taobao']}--><a href="javascript:;" onclick="window.open('http://amos.im.alisoft.com/msg.aw?v=2&uid='+encodeURIComponent('$post[taobaoas]')+'&site=cntaobao&s=2&charset=utf-8')" title="{lang taobao}"><img src="{IMGDIR}/taobao.gif" alt="{lang taobao}" /></a><!--{/if}-->
					<!--{if $post['site'] && !$post['privacy']['profile']['site']}--><a href="$post[site]" target="_blank" title="{lang member_homepage}"><img src="{IMGDIR}/forumlink.gif" alt="{lang member_homepage}" /></a><!--{/if}-->
					<a href="home.php?mod=space&uid=$post[authorid]&do=profile" target="_blank" title="{lang member_viewpro}"><img src="{IMGDIR}/userinfo.gif" alt="{lang member_viewpro}" /></a>
					<!--{hook/viewthread_imicons $postcount}-->
					<!--{if $_G['setting']['magicstatus']}-->
						<!--{if !empty($_G['setting']['magics']['showip'])}-->
							<a href="home.php?mod=magic&mid=showip&idtype=user&id={echo rawurlencode($post[author])}" id="a_showip_li_{$post[pid]}" class="xi2" onclick="showWindow(this.id, this.href)"><img src="{STATICURL}/image/magic/showip.small.gif" alt="" /> $_G['setting']['magics']['showip']</a>
						<!--{/if}-->
						<!--{if !empty($_G['setting']['magics']['checkonline']) && $post['authorid'] != $_G['uid']}-->
							<a href="home.php?mod=magic&mid=checkonline&idtype=user&id={echo rawurlencode($post[author])}" id="a_repent_$post[pid]" class="xi2" onclick="showWindow(this.id, this.href)"><img src="{STATICURL}/image/magic/checkonline.small.gif" alt="" /> $_G['setting']['magics']['checkonline']</a>
						<!--{/if}-->
						<!--{hook/viewthread_magic_user $postcount}-->
					<!--{/if}-->
				</div>
				<div id="avatarfeed"><span id="threadsortswait"></span></div>
			</div>
		</div>
	<!--{/if}-->
	<!--{if $post['authorid'] && $post['username'] && !$post['anonymous']}-->
		<div>
		<!--{if !$postshowavatars}-->
			<div class="avatar">{lang member_avatar_banned}</div>
		<!--{elseif $post['avatar'] && $showavatars}-->
			<!--{if $post[mobiletype]}-->
			<div class="mobile-type mobile-type-$post[mobiletype]">
				<a></a>
			</div>
			<!--{/if}-->
			<div class="avatar"{if !($_G['setting']['threadguestlite'] && !$_G['uid'])} onmouseover="showauthor(this, 'userinfo$post[pid]')"{/If}><a href="home.php?mod=space&uid=$post[authorid]" class="avtm" target="_blank">$post[avatar]</a></div>
		<!--{/if}-->
		<!--{hook/viewthread_avatar $postcount}-->
		</div>
		<!--{hook/viewthread_sidetop $postcount}-->
		<!--{if !($_G['setting']['threadguestlite'] && !$_G['uid'])}-->
			{eval viewthread_profile_node('left', $post);}
			<!--{if $post[authorid] != $_G[uid]}-->
				<ul class="xl xl2 o cl">
					<!--{if helper_access::check_module('follow')}-->
					<li class="addflw">
						<a href="home.php?mod=spacecp&ac=follow&op=add&hash={FORMHASH}&fuid=$post[authorid]" id="followmod_$post[authorid]" title="{lang follow}" class="xi2" onclick="showWindow('followmod', this.href, 'get', 0);">{lang follow}</a>
					</li>
					<!--{/if}-->
					<li class="pm2"><a href="home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_$post[authorid]&touid=$post[authorid]&pmid=0&daterange=2&pid=$post[pid]&tid=$post[tid]" onclick="showWindow('sendpm', this.href);" title="{lang viewthread_left_sendpm}" class="xi2">{lang viewthread_left_sendpm}</a></li>
				</ul>
			<!--{/if}-->
		<!--{/if}-->
		<!--{hook/viewthread_sidebottom $postcount}-->
	<!--{elseif getstatus($post['status'], 5)}-->
		<!--{if $_G['setting']['authoronleft']}-->
		<div class="pi">
			<div class="authi"><a href="javascript:;" class="xw1">$post[author]</a></div>
		</div>
		<!--{/if}-->
		<!--{if $showavatars}-->
		<div>
			<div class="avatar avtm"><a href="javascript:;">$post[avatar]</a></div>
		</div>
		<!--{/if}-->
	<!--{else}-->
		<div class="pi">
		<!--{if !$post['authorid']}-->
			<a href="javascript:;">$_G[setting][anonymoustext] <em>$post[useip]{if $post[port]}:$post[port]{/if}</em></a>
		<!--{elseif $post['authorid'] && $post['username'] && $post['anonymous']}-->
			<!--{if $_G['forum']['ismoderator']}--><a href="home.php?mod=space&uid=$post[authorid]" target="_blank">$_G[setting][anonymoustext]</a><!--{else}-->$_G[setting][anonymoustext]<!--{/if}-->
		<!--{else}-->
			$post[author] <em>{lang member_deleted}</em>
		<!--{/if}-->
		</div>
	<!--{/if}-->
	<!--{if ($_G['group']['allowedituser'] || $_G['group']['allowbanuser'] || ($_G['forum']['ismoderator'] && $_G['group']['allowviewip'])) && !getstatus($post['status'], 5)}-->
		<p class="cp_pls cl">
			<!--{if $_G['forum']['ismoderator'] && $_G['group']['allowviewip']}-->
				<a href="forum.php?mod=topicadmin&action=getip&fid=$_G[fid]&tid=$_G[tid]&pid=$post[pid]{if $_G['forum_auditstatuson']}&modthreadkey=$_GET[modthreadkey]{/if}" onclick="ajaxmenu(this, 0, 0, 2);doane(event)">IP</a>
			<!--{/if}-->
			<!--{if $_G['group']['allowedituser']}-->
				<a href="{if $_G['adminid'] == 1}admin.php?frames=yes&action=members&operation=search&uid=$post[authorid]&submit=yes{else}forum.php?mod=modcp&action=member&op=edit&uid=$post[authorid]{/if}" target="_blank">{lang edit}</a>
			<!--{/if}-->
			<!--{if $_G['group']['allowbanuser']}-->
				<!--{if $_G['adminid'] == 1}-->
					<a href="admin.php?action=members&operation=ban&username=$post[usernameenc]&frames=yes" target="_blank">{lang ban_member}</a>
				<!--{else}-->
					<a href="forum.php?mod=modcp&action=member&op=ban&uid=$post[authorid]" target="_blank">{lang ban_member}</a>
				<!--{/if}-->
			<!--{/if}-->
			<a href="forum.php?mod=modcp&action=thread&op=post&do=search&searchsubmit=1&users=$post[usernameenc]" target="_blank">{lang posts}</a>
			<!--{if $_G['adminid'] == 1}-->
				<a href="forum.php?mod=ajax&action=quickclear&uid=$post[authorid]" onclick="showWindow('qclear_$post[authorid]', this.href, 'get', 0)">{lang clear}</a>
			<!--{/if}-->
		</p>
	<!--{/if}-->
</div>
<!--{/if}-->