@c-header-height:45px;

.c-header{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height:@c-header-height;
    background: #0767c8;
    background: -webkit-linear-gradient(top,#086ed5,#055db5);
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);

    line-height:@c-header-height;
    font-size:14px;
}

.c-header-logo{
	.fl;margin-right:12px;
	.color(#fff,@blue-light);
	.fz(24px);
	
	transition:0.2s ease-in-out;
}

.c-header-search{
	.fl;margin-right:18px;
	margin-top:7px;
	.pr;
	.h(33px);
}

.c-header-search-input{
	.db;
	padding: 7px 50px 7px 10px;
    width: 128px;
    color: #49525c;
    line-height: 17px;
    height:17px;
    background-color: #e1eaf2;
    border: 1px solid #045bb2;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);
    outline: 0;
    //box-sizing: border-box;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    
    &:focus{
	    background-color: #fff;
    	box-shadow: inset 0 1px 3px rgba(0,0,0,.2),0 1px 15px rgba(255,255,255,.3);
    }
}

.c-header-search-buttonbg{
	.db;.pa;.rt(0,0);
    width: 40px;
    height: 100%;
    background: #0e78e7;
    background: -webkit-linear-gradient(top,#0e7bef,#0d73da);
    background: linear-gradient(to bottom,#0e7bef,#0d73da);
    border: 1px solid #045bb2;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
    box-sizing: border-box;
    outline: 0;
    cursor: pointer;
    i{
    	.ct(o,15px,15px);
    	.db;.size(15px);
    	background:url('@{url}header/icons.png') no-repeat 0 -40px;
    }
}

.c-header-search-button{
	.db;.pa;.rt(0,0);
	background: none;
	border:none;
	.size(40px,33px);
}

.c-header-menu{
	.fl;
	li{
		.fl;
		&.on{
		    background: #075fb6;
		    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
		    background: linear-gradient(to bottom,#055fb8,#095fb3);
		    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
		    a{color:#eee;}
		}
	}
	a{
		.db;
	    height: 45px;
	    line-height: 45px;
	    text-align: center;
	    display: block;
	    color: #eee;
	    text-shadow: 0 1px 1px rgba(0,0,0,.12);
	    font-size: 14px;
	    padding:0 12px;
	    &:hover{color:@blue-light;}
	}
}

.c-header-ask{
	.fr;
	width: 66px;
    height: 31px;
    line-height: 31px;
    margin-top: 7px;
    border: 1px solid #045bb2;
    border-radius: 4px;
    background: #0e78e7;
    background: -webkit-linear-gradient(top,#0e7bef,#0d73da);
    background: linear-gradient(to bottom,#0e7bef,#0d73da);
    box-shadow: 0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15);
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    outline: 0;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover{color:@blue-toolight;}
}

.c-header-user{
	.fr;
	margin-left:10px;
}

.c-header-user-login{
	.fr;.w(120px);
    /*border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 rgba(255,255,255,.1);*/
    background-color: transparent;
    .pr;

    .color(#fff,#fff,#fff);
    text-decoration: none;
    border-top: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);

    .m-default{
    	a{.db;padding:0 15px;}
    	&.on{
    		height:@c-header-height + 2px !important;
		    background: #075fb6;
		    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
		    background: linear-gradient(to bottom,#055fb8,#095fb3);
		    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
    	}
    }
    .avatar{
    	.pr;
    	.db;.fl;.size(25px);
    	margin-top:(@c-header-height - 25px) / 2;
    	img{
			.db;.full;.r(3px);
		}
		i{
			.pa;.rt(-6px,-8px);
			.db;.size(14px);.indent;
			background:url('@{url}header/avt-vip.png') no-repeat 0 -14px;
			&.vip{
				background-position:0 0;
			}
		}
		margin-right:10px;
    }
    .username{
    	.db;.nobreak;
    }

    .m-extend{
    	.pa;
    	.lt(0,@c-header-height + 1px);
    	.full(x);

    	ul{}
    	li{.nobreak;}
    	a{
    		.db;
		    height: 40px;
		    line-height: 40px;
		    color: #fff;
		    text-decoration: none;
		    border-top: 1px solid #0d5aa5;
		    box-shadow: 0 1px 1px rgba(0,0,0,.4);
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    cursor: pointer;
		    background-color: #095fb3;
		    text-shadow: 0 1px 1px rgba(0,0,0,.12);
		    font-size: 14px;
		    &:hover{
	    	    background-color: #0267cc;
		    }
    	}
    	em{
    		font-size: 12px;
    		color: #ff0;
    	}
    	i{
    		.dbi;.y;
    		background-image:url('@{url}header/icons2.png');
    		background-repeat:no-repeat;
    		width: 20px;
		    height: 20px;
		    margin: 0 11px 0 15px;
		    vertical-align: -7px;
    		&.os{
			    background-position: -6px -7px;
    		}
    		&.msg{
		        background-position: -6px -34px;
    		}
    		&.mag{
				background-position: -6px -7px;
    		}
    		&.setting{
			    background-position: -6px -60px;
    		}
    		&.exit{
			    background-position: -6px -87px;
    		}
    	}
    }

    .m-extend{.none;}

}

.c-header-user-logout{
	.default_avatar{
		.dbi;.fl;
		background:url('@{url}header/default_avatar.png') #eee no-repeat 0 0;
		.size(25px);.r(3px);
		margin-right:5px;
		margin-top:(@c-header-height - 25px) / 2;
		.none;
	}
	.m-default{
		.color(#628BC5,#fff,#fff);
	}
}

.e-admin-bar{.none;}
.adminHTML .e-admin-bar{.db;}