<!-- jx3pve:分类导航 -->
<h2 class="default-sidebar-title">分类导航<a class="u-more" href="./face" title="全部">全部</a></h2>
<ul class="default-sidebar-content m-face-sort">
    <li><a class="woman" href="./forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=212"><i></i>御姐<em>woman</em></a></li>
    <li><a class="girl" href="./forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=213"><i></i>萝莉<em>girl</em></a></li>
    <li><a class="man" href="./forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=211"><i></i>成男<em>man</em></a></li>
    <li><a class="boy" href="./forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=214"><i></i>正太<em>boy</em></a></li>
</ul>

<h2 class="default-sidebar-title">作者作品搜索<i class="u-search"></i></h2>
<div class="default-sidebar-content m-face-search default-sidebar-search">
    <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&fid=92&filter=sortid&sortid=15">
        <input type="text" name="searchoption[101][value]" size="15" class="u-text" value="" placeholder="请输入作者名称">
        <button type="submit" class="u-button-search u-button" name="searchsortsubmit">搜索</button>
    </form>
    <div class="m-hot">
        <ul>
            <li>热搜：</li>
            <!--{block/1272}-->
        </ul>
    </div>
</div>

<!-- jx3pve:帮助文档 -->
<h2 class="default-sidebar-title">帮助文档<a class="u-btn-pub2" href="./forum.php?mod=post&action=newthread&fid=2"  data-target="blank" title="分享经验"><i></i>分享</a></h2>
<div class="default-sidebar-content m-face-help default-sidebar-helplist">
    <ul><!--{block/1273}--></ul>
</div>

<!-- jx3pve:任务中心 -->
<h2 class="default-sidebar-title">任务奖励<a class="u-more" href="./home.php?mod=task" data-target="blank" title="查看更多">更多任务</a></h2>
<div class="default-sidebar-content m-face-tasklist default-sidebar-tasklist">
    <!--{block/1275}-->
</div>

<!-- jx3pve:主编互动 -->
<h2 class="default-sidebar-title">主编互动</h2>
<div class="default-sidebar-content m-face-admin default-sidebar-admin">
    <!--{block/1410}-->
</div>