<!-- jx3pve:分类导航 -->
<h2 class="default-sidebar-title">分类导航<a class="u-more" href="./snow" title="全部">全部</a></h2>
<ul class="default-sidebar-content m-snow-nav">
	<li {if ($_GET['typeid']==173)} class="on"{/if}><a class="u-snow" href="./forum.php?mod=forumdisplay&fid=79&filter=sortid&sortid=8&typeid=173&orderby=lastedit"><i></i>读条皮肤<em>Skin</em></a></li>
	<li {if ($_GET['typeid']==197)} class="on"{/if}><a class="u-image" href="./forum.php?mod=forumdisplay&fid=79&filter=typeid&typeid=197&orderby=lastedit"><i></i>素材物料<em>Image</em></a></li>
	<li {if ($_GET['typeid']==397)} class="on"{/if}><a class="u-design" href="./forum.php?mod=forumdisplay&fid=79&filter=typeid&typeid=397&orderby=lastedit"><i></i>设计工具<em>Tool</em></a></li>
	<li {if ($_GET['typeid']==167)} class="on"{/if}><a class="u-book" href="./forum.php?mod=forumdisplay&fid=79&filter=typeid&typeid=167&orderby=lastedit"><i></i>教程文档<em>Doc</em></a></li>
</ul>

<!-- jx3pve:搜索 -->
<h2 class="default-sidebar-title">皮肤搜索<i class="u-search"></i></h2>
<div class="default-sidebar-content default-sidebar-search m-snow-search">
    <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=79&amp;filter=sortid&amp;sortid=8">
        <input type="text" name="searchoption[63][value]" size="15" class="u-text" value="" placeholder="输入皮肤名称">
        <button type="submit" class="u-button-search u-button" name="searchsortsubmit"><em>搜索</em></button>
    </form>
    <a class="getanew" href="./ask" target="_blank"><i></i>没找到想要的？试试来提需求。</a>
</div>

<!-- jx3pve:教程 -->
<h2 class="default-sidebar-title">帮助文档<a class="u-more" href="./forum.php?mod=forumdisplay&fid=79&filter=typeid&typeid=167&orderby=lastedit" data-target="blank" title="查看更多"></a></h2>
<div class="default-sidebar-content m-snow-help default-sidebar-wordlist">
	<!--{block/1806}-->
</div>

<!-- jx3pve:素材 -->
<h2 class="default-sidebar-title">素材物料<a class="u-more" href="./forum.php?mod=forumdisplay&fid=79&filter=typeid&typeid=197&orderby=lastedit" data-target="blank" title="查看更多"></a></h2>
<div class="default-sidebar-content m-snow-image default-sidebar-downlist">
	<!--{block/1807}-->
</div>