@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色

.ua-responsive .screen-s .mn{
	padding:10px;

	.tfm .pt, .tfm .px{
		width:100%;
		box-sizing:border-box;
		padding:5px 10px;
		height:30px;
		margin-bottom:5px;
	}
}