@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色

.ua-responsive .screen-s .mn{

	.tfm .pt, .tfm .px{
		width:100%;
		box-sizing:border-box;
		padding:5px 10px;
		height:30px;
		margin-bottom:5px;
	}

	.tfm caption{
		.db;
	}
	.tbmu,.tfm caption{
		.fz(13px,1.8);
	}

	form{
		padding:10px;
	}
}