@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色


.tfm .u-select{
	padding:6px 10px;
	.w(40%);
}

.ua-mobile,.screen-s{

	form{
		padding:10px;
	}

	.tfm th{
		.bold;
		padding:0;
	}

	.tfm caption{
		.db;
	}

	.tfm .d{
		.fz(13px);
		color:#888;
	}

	.tfm .pn{
		margin-bottom:20px;
		.auto(x);
		.db;
		.w(60%);
	}

	.tfm .u-select{
		.w(100%);
		box-sizing:border-box;
	}
}