/*.user-os-primary{
	ul{
		.clearfix;
		li{
			.fl;margin-right:20px;
			a{
				.lh(24px);
				.db;padding:3px 5px;
				border-radius:3px;
				&:hover{
					background-color:#10aab0;
					color:#fff;
				}
			}
			a i {
				background:url('@{url}user/qkos.png') no-repeat;
				.dbi;.y(top);margin-right:5px;
				.pr;
			}
			.bgpo(@a,@b,@c,@d){
					i{background-position:@a @b;}
				&:hover{
					i{background-position:@c @d;}
				}
			}
			
			.magic{
				.bgpo(0,0,-25px,0);
				i{
					.size(24px);
					top:-1px;
				}
			}
			.task{.bgpo(-88px,0,-88px,-22px);i{.size(21px);}}
			.medal{
				.bgpo(-50px,0,-69px,0);
				i{
					.size(18px,23px);
					top:-1px;
				}
			}
			.code{.bgpo(-40px,-25px,-60px,-24px);i{.size(19px);}}
			.vip{.bgpo(-110px,0,-110px,-19px);i{.size(23px);}}
			.gift{
				.bgpo(0,-25px,-20px,-25px);i{.size(19px);}
				.pr;
				&:after{
					content:'暂未开放';
					.db;padding:0 5px;.lh(24px);
					background-color:#f2f2f2;
					border:1px solid @bocolor;
					border-radius:3px;
					.pa;  
					left: 83px;
					top: 2px;
					width: 60px;
					text-align: center;
					color:#555;
					.none;
				}
				@keyframes giftTips{
				    from{opacity:0;transform:translateX(-50%);}
				    to{opacity:1;transform:translateX(0);}
				}
				&:hover{
					&:after{
						.db;
						animation:giftTips 0.2s ease-in-out;
					}
				}
			}
		}
	}
}*/

.user-os-primary{
	@bocolor:#eee;
	margin-bottom:20px;
	ul{
		.clearfix;
		.full(x);
		border-top:1px solid @bocolor;
		border-left:1px solid @bocolor;
	}
	li{
		.fl;
		.size(155px);
	}
	a{
		.db;
		padding:(155px - 100px)/2 0;
		border-right:1px solid @bocolor;
		border-bottom:1px solid @bocolor;
		//background-color:#f9f9f9;
	}
	i{
		.db;.size(64px);.auto(x);
		background-repeat:no-repeat;
		background-position:0 0;
	}
	span{
		.db;.fz(14px,2.5);.x;
		color:#888;
	}
	a:hover{
		background-color:#049abf;
		transition:0.2s ease-in-out;

		i{
			background-position:0 -64px;
		}
		span{
			color:#fff;
		}
	}

	.code i{background-image:url('@{url}os/code.png');}
	.password i{background-image:url('@{url}os/password.png');}
	.buy i{background-image:url('@{url}os/buy.png');}
	.vip i{background-image:url('@{url}os/vip.png');}
	.gift{
		i{
			background-image:url('@{url}os/gift.png');
			//background-image:url('@{url}os/gift-null.png');
		}
		/*&:hover{
			background-color:#fff;
			span{color:#888;}
			i{background-position:0 0;}
		}*/
	}
	.msg i{background-image:url('@{url}os/msg.png');}
	.mywork i{background-image:url('@{url}os/mywork.png');}
	.fav i{background-image:url('@{url}os/fav.png');}
	.friend i{background-image:url('@{url}os/friend.png');}
	.feedback i{background-image:url('@{url}os/feedback.png');}
	.task i{background-image:url('@{url}os/task.png');}
	.magic i{background-image:url('@{url}os/magic.png');}
	.medal i{background-image:url('@{url}os/medal.png');}
	.verif i{background-image:url('@{url}os/verif.png');}
	.faq i{background-image:url('@{url}os/faq.png');}



}