#shareform{
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 4px;
}

#moodfm{
	border: 1px solid #ccc;
    padding: 25px;
    border-radius: 4px;

    .moodfm_input textarea{
    	padding:10px;
    }
}

.user-msg-nav{
}

.user_msg_subnav{
	margin-bottom:10px;
	.clearfix;
	background: #eee;
    border-radius: 20px;
    li{.fl;padding:0 10px;}
    .fz(12px,30px);

    .y{
    	.fr;
    	background-color:#333;
    	.color(#fff,#fff,#fff);
    	.r(0 25px 25px 0);
    }

    .a{
    	a{.bold;}
    }

}

.user-msg-sendbutton{
	.db;.fz(12px,40px);padding:0 10px;
	.u-btn-blue(b);
	margin-bottom:10px;
	.w(120px);.x;
	&:hover{
		color:#fff;
	}
}