.m-index-news{
	margin-top:5px;
	ul{
		li{
			border-bottom:1px solid #eee;
			&:last-child{
				border-bottom:none;
			}
		}
		a{
			.db;.pr;
			.clearfix;
			padding:6px 0 14px 0;
			min-height:68px + 4px;
			&:hover{
				color:#c00;
				background-color:#f7fdff;
				.u-pic{
					filter:saturate(105%) brightness(105%);
				}
			}
		}
		.u-screenshot{
			.fl;.pr;top:4px;
			margin-right:10px;
			padding:5px;
			border:1px solid #eee;
			background-color:#fff;
		}
		.u-pic{
			.db;
			.size(120px,68px);
		}
		.u-mark{
			.pa;.rt(0,0);
			.db;.size(47px,48px);
		}
		.u-info{
			.db;
			margin-left:140px;
		}
		.u-title{
			.db;
			.fz(14px);
			color:#259;
			em{color:#666;}
		}
		.u-desc{
			.db;
			.fz(13px);
			color:#999;
		}
		.u-author{
			.db;
			.fz(13px);
			color:#666;
		}
	}
}
.ua-mobile,.screen-s{
	.m-index-news{
		margin-top:0;
		margin-bottom:20px;
		ul {
			a{
				padding-left:10px;
				padding-right:10px;
				padding-bottom:10px;
			}
			.u-screenshot{
				padding:0;
				border:none;
			}
			.u-desc{
				.none;
			}
			.u-pic{
				.r(0);
			}
			.u-info{
				margin-left:132px;
			}
		}
	}
}