<!--{if $_G['group']['allowbegincode'] && $isfirstpost}-->
	<a id="{$editorid}_beginning" adv="1" title="{lang e_beginning_title}" menupos="43" menuwidth="600">{lang e_beginning}</a>
<!--{/if}-->
<!--{if $_G['setting']['magicstatus'] && !empty($_G['setting']['magics']['doodle'])}-->
	<a id="a_magic_doodle" adv="1" href="home.php?mod=magic&mid=doodle&showid=comment_doodle&target={$editorid}_textarea&from=forumeditor" class="cst" onclick="showWindow(this.id, this.href, 'get', 0)"><img src="{STATICURL}image/magic/doodle.small.gif" alt="doodle" title="$_G['setting']['magics']['doodle']" style="margin-top:2px" /></a>
<!--{/if}-->


<!--{if $_G['forum']['allowmediacode'] && $_G['group']['allowmediacode']}-->
	<a id="{$editorid}_aud" title="{lang e_audio_title}">{lang e_audio}</a>
	<a id="{$editorid}_fls" title="{lang e_flash_title}">{lang e_flash}</a>
<!--{/if}-->
