<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/index/index-v7.css" type="text/css" />
<div class="index-container">
    <div class="wp">
        
        <div id="pt" class="bm cl">
            <div class="z">
                <a href="./" class="nvhm" title="首页">剑网3PVE官方站（JX3PVE.COM）</a> 
                <em>›</em> <a href="http://www.jx3pve.com">首页</a>
            </div>
            <div class="m-index-msg">
                <!--{block/1815}-->
            </div>
        </div>

        <div class="index-content">

            <div class="m-index-slider">
                <!--{block/1733}-->
            </div>

            <div class="m-index-zt">
                <!--{block/1817}-->
            </div>

            <!--{template jx3pve/c_compass}-->

            <div class="m-index-news">
                <h2 class="m-index-title">
                    <a class="u-title on" href="javascript:;"><i class="u-ico"></i>干货推荐<span class="u-divding"> | </span></a>
                    <a class="u-title" href="javascript:;">PVE动态<span class="u-divding"> | </span></a>
                    <a class="u-title" href="javascript:;">PVX动态<span class="u-divding"> | </span></a>
                    <a class="u-title" href="javascript:;">江湖动态</a>
                    <a class="u-add" href="./push"><i></i>推送</a>
                </h2>
                <div class="m-index-list on">
                    <!--{block/1805}-->
                </div>
                <div class="m-index-list">
                    <!--{block/1818}-->
                </div>
                <div class="m-index-list">
                    <!--{block/1736}-->
                </div>
                <div class="m-index-list">
                    <!--{block/1737}-->
                </div>
            </div>

        </div>

        <div class="index-sidebar">

            <div class="m-index-os">
                <!--{block/1819}-->
            </div>

            <div class="m-index-my">
                <ul>
                    <li><a href="./forum.php?mod=guide&view=my&type=thread" target="_blank"><i class="u-my"></i>我的帖子</a></li>
                    <li><a href="./home.php?mod=space&do=favorite&view=me" target="_blank"><i class="u-fav"></i>我的收藏</a></li>
                    <li><a href="./home.php?mod=follow" target="_blank"><i class="u-feed"></i>我的关注</a></li>
                </ul>
            </div>

            <div class="m-index-ac">
                <h2><a class="m-title" href="http://xw.jx3.xoyo.com/announce/" target="_blank"><i></i>游戏更新</a></h2>
                <!--{block/1816}-->
            </div>

            <div class="m-index-ac">
                <h2><a class="m-title" href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=24" target="_blank"><i></i>站内更新</a></h2>
                <!--{block/1808}-->
            </div>

            <div class="m-index-wxcode">
                <span class="u-img"><img src="http://img.jx3pve.com/img/header/wx_172.jpg" alt="剑网3PVE微信公众号"></span>
                <p>扫一扫关注微信公众号<br><b>剑网3PVE</b></p>
            </div>

        </div>
    </div>
</div>



<script src="http://js.jx3pve.com/js/plugin/swiper2.min.js"></script>
<script src="http://js.jx3pve.com/js/page/page-index.js"></script>
<!--{template common/footer}-->