<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/index/index.css" type="text/css" />
<div class="index-container">
    <div class="wp">
        <div class="index-content">
            <div class="m-slider">
                <!--{block/1733}-->
            </div>
            <h3 class="m-title">
                <span>干货推荐</span>
                <a class="u-more" href="./news">More</a>
                <a class="u-add" href="./push"><i></i>推送</a>
            </h3>
            <div class="m-news">
                <!--{block/518}-->
            </div>
            <h3 class="m-title">
                <span>最新动态</span>
            </h3>
            <div class="m-news">
                <!--{block/1805}-->
            </div>

        </div>
        <div class="index-sidebar">
            <div class="m-code m-subblock">
                <span class="u-img"><img src="http://img.jx3pve.com/img/header/wx_129.jpg" alt="剑网3PVE微信公众号"></span>
                <span>扫一扫关注微信公众号</span>
                <b>剑网3PVE</b>
            </div>
            
            <h3 class="m-title">
                <span>站内更新与公告</span>
                <a class="u-more" href="forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=24">More</a>
            </h3>
            <div class="m-list m-subblock">
                <!--{block/1808}-->
            </div>

            <h3 class="m-title">
                <span>每日一曲</span>
                <a class="u-history" href="http://music.163.com/#/playlist?id=376487170" target="_blank">History</a>
            </h3>
            <div class="m-music m-subblock" style="margin-bottom:2px;">
                <!--{block/1803}-->
                <p class="m-music-tips"><!--{block/1810}--></p>
            </div>

            <h3 class="m-title">
                <span>赞助合作推广</span>
                <a class="u-history" href="http://www.jx3pve.com/thread-17427-1-1.html" target="_blank">Join</a>
            </h3>
            <div class="m-ad m-subblock">
                <!--{block/1811}-->
            </div>

        </div>
    </div>
</div>
<script src="http://js.jx3pve.com/js/plugin/swiper2.min.js"></script>
<script src="http://js.jx3pve.com/js/page/page-index.js"></script>
<!--{template common/footer}-->