<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/index/index-v8.css" type="text/css" />
<div class="index-container">
    <div class="wp">
        
        <div class="index-content">

            <div class="m-index-slider">
                <!--{block/1733}-->
            </div>

            <!--{template jx3pve/c_compass_mini}-->

            <div class="m-index-news">
                <!--{block/1805}-->
            </div>

        </div>

        <div class="index-sidebar">

            <div class="m-index-os">
                <!--{block/1819}-->
            </div>

            <div class="m-index-minibanner">
                <!--{block/1826}-->
            </div>

            <div class="m-index-ac">
                <h2><a class="m-title" href="http://xw.jx3.xoyo.com/announce/" target="_blank"><i></i>游戏更新</a></h2>
                <!--{block/1816}-->
            </div>

            <div class="m-index-ac">
                <h2><a class="m-title" href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=24" target="_blank"><i></i>站内更新</a></h2>
                <!--{block/1808}-->
            </div>

            <div class="m-index-wxcode">
                <span class="u-img"><img src="http://img.jx3pve.com/img/header/wx_148.png" alt="剑网3PVE微信公众号"></span>
                <p>扫一扫关注微信公众号</p>
            </div>
        </div>
    </div>
</div>

<!--{if $_G['mobile']}-->

<!--{else}-->

<!--{/if}-->


<script src="http://js.jx3pve.com/js/plugin/swiper2.min.js"></script>
<script src="http://js.jx3pve.com/js/page/page-index.min.js"></script>
<!--{template common/footer}-->