<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/user/user.css" type="text/css" />
<link rel="stylesheet" href="http://css.jx3pve.com/css/user/index/index.css" type="text/css" />
<header class="i-header">
    <a class="i-header-back" href="./home.php"><i></i></a>
    <div class="i-header-title">设置</div>
</header>
<div class="user-os-nav">
    <ul>
        <li><a href="./home.php?mod=spacecp&ac=profile&op=password">修改密码</a></li>
        <!-- <li><a href="./home.php?mod=spacecp&ac=plugin&op=profile&id=k_gaiming:k_gaiming">修改用户名</a></li> -->
        <!-- <li><a href="./home.php?mod=spacecp&ac=profile">完善资料</a></li> -->
        <!-- <li><a href="./home.php?mod=spacecp&ac=profile&op=verify">申请认证</a></li> -->
        <li><a href="./home.php?mod=spacecp&ac=plugin&id=qqconnect:spacecp">绑定QQ</a></li>
        <li><a href="./home.php?mod=spacecp&ac=plugin&id=mpage_weibo:bind">绑定微博</a></li>
        <li><a href="./home.php?mod=spacecp&ac=sendmail">邮件通知</a></li>
        <li><a href="./home.php?mod=spacecp&ac=privacy">隐私设置</a></li>
    </ul>
</div>
<div class="user-os-nav">
    <ul>
        <li><a href="./faq">帮助中心</a></li>
        <li><a href="./feedback" target="_blank">反馈建议</a></li>
        <li><a href="./log">更新日志</a></li>
    </ul>
</div>

<!--{if $_G['uid']}-->
<a class="user-os-logout" href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
<!--{/if}-->

<script src="http://js.jx3pve.com/js/user/user.min.js"></script>
<!--{template common/footer}-->