<!--{template common/header_zt}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/index/party/2016.css" type="text/css" />
<div class="m-header">
    <div class="wp">
       <h1>JX3PVE</h1>
       <span class="u-man"></span> 
    </div>
</div>
<div class="m-ac">
    <span><em>活动状态：</em><b>进行中</b></span>
    <span><em>活动时间：</em>2016/12/22 - 2016/12/31</span>
    <span><em>赞助商：</em><a href="./">JX3PVE.COM</a>、<a href="https://www.shiyanlou.com" target="_blank">实验楼</a></span>
</div>
<div class="m-content">
    <!-- 1.关注微信公众号 现金红包 -->
    <div class="m-block m-money">
        <div class="wp">
            <h2 class="m-title"><em>1</em>关注微信公众号 领取现金红包</h2>
            <div class="m-primary">
                <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/hongbao.png" alt="">
                <img class="u-code" src="http://img.jx3pve.com/img/header/wx_172.jpg" alt="">
                <div class="u-tips">
                    <p class="u-time">扫一扫左侧二维码，关注微信公众号。<br>
                    <i><img src="http://img.jx3pve.com/img/party/2016/money.gif" alt=""></i>
                    <span class="u-im">12.28日随机发放微信现金红包。</span><br>
                    前800名微信绑定用户<b>100%</b>获得不低于1元红包。</p>
                    <p class="u-wxhelp">查看帮助<img src="http://img.jx3pve.com/img/party/2016/wxhelp.jpg" alt=""></p>
                </div>
                <p class="u-gif"><img src="http://img.jx3pve.com/img/party/2016/money.gif" alt=""></p>
            </div>
        </div>
    </div>
    <!-- 2.投票评选 -->
    <div class="m-block m-vote">
        <div class="wp">
            <h2 class="m-title"><em>2</em>参与投票 免费抽奖 通宝外设等你拿</h2>
            <div class="m-primary">
                <ul class="u-list">
                    <li class="u-item">
                        <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/macro.png" alt="">
                        <span class="u-name">2016年度最受欢迎的<b>宏</b>作者</span>
                        <span class="u-winner">
                            <em>投票中</em>
                            <ul>
                                <li><i class="u-top-1">1</i><b>-</b></li>
                                <li><i class="u-top-2">2</i><b>-</b></li>
                                <li><i class="u-top-3">3</i><b>-</b></li>
                            </ul>
                        </span>
                    </li>
                    <li class="u-item">
                        <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/tool.png" alt="">
                        <span class="u-name">2016年度最受欢迎的<b>工具</b>作者</span>
                        <span class="u-winner">
                            <em>投票中</em>
                            <ul>
                                <li><i class="u-top-1">1</i><b>-</b></li>
                                <li><i class="u-top-2">2</i><b>-</b></li>
                                <li><i class="u-top-3">3</i><b>-</b></li>
                            </ul>
                        </span>
                    </li>
                    <li class="u-item">
                        <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/fb.png" alt="">
                        <span class="u-name">2016年度最受欢迎的<b>副本攻略</b>作者</span>
                        <span class="u-winner">
                            <em>投票中</em>
                            <ul>
                                <li><i class="u-top-1">1</i><b>-</b></li>
                                <li><i class="u-top-2">2</i><b>-</b></li>
                                <li><i class="u-top-3">3</i><b>-</b></li>
                            </ul>
                        </span>
                    </li>
                    <li class="u-item">
                        <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/role.png" alt="">
                        <span class="u-name">2016年度最受欢迎的<b>职业攻略</b>作者</span>
                        <span class="u-winner">
                            <em>投票中</em>
                            <ul>
                                <li><i class="u-top-1">1</i><b>-</b></li>
                                <li><i class="u-top-2">2</i><b>-</b></li>
                                <li><i class="u-top-3">3</i><b>-</b></li>
                            </ul>
                        </span>
                    </li>
                </ul>
                <p class="u-tips u-im">
                    <i class="u-gift-1"></i>前三名分别获得“实验楼”VIP年卡、季卡、月卡一张，并获得相应证书与神秘礼物一份。<br>
                    <i class="u-gift-2"></i>参与投票可获得一次抽奖机会，有机会赢得通宝、电脑外设等奖品。
                </p>
                <a class="u-button" href="https://wj.qq.com/s/981879/6ffd" target="_blank">点击参与</a>
            </div>
        </div>
    </div>
    <!-- 3.问卷 -->
    <div class="m-block m-feedback">
        <div class="wp">
            <h2 class="m-title"><em>3</em>参与问卷调查 拿月卡点卡</h2>
            <div class="m-primary">
                <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/wenjuan.png" alt="">
                <div class="u-about">
                    <p>参与问卷调查，给出你的建议，说出你的不满</p>
                    <p>你的建议是我们前进的动力</p>
                    <p>少侠，快来尽情鞭笞吧~</p>
                    <p class="u-im"><i class="u-gift-3"></i>优秀答卷将有机会获得月卡、点卡或神秘礼物一份</p>
                    <a class="u-button" href="https://wj.qq.com/s/981702/6997/" target="_blank"><span>点击参与</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 4.贡献者 -->
    <div class="m-block m-admin">
        <div class="wp">
            <h2 class="m-title"><em>5</em>2016年度网站杰出贡献者名单</h2>
            <div class="m-primary">
                <div class="u-list">
                    <!--{block/1823}-->
                </div>
                <div class="u-info">
                    <!-- <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/gongxian.png" alt=""> -->
                    <p class="u-tips">
                        感谢所有开发团队成员及所有默默贡献的无名少侠们<br>
                        风雨同舟，这个江湖感谢有你陪伴<br>
                        在过去也许我们还有些不足<br>
                        在未来我们会做得更好<br>
                        <p class="u-im"><i class="u-gift-4"></i>所有杰出贡献者将获得相应证书与神秘礼物一份</p>
                        <a class="u-button" target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=77b8429b9b30d337562f845a47a3b6beb8e1d1de582f346192c1ed1c316932d5">加入开发团队</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 5.登录有礼 -->
    <div class="m-block m-credit">
        <div class="wp">
            <h2 class="m-title"><em>5</em>登录有礼 连续登陆会员领回家</h2>
            <div class="m-primary">
                <img class="u-pic" src="http://img.jx3pve.com/img/party/2016/denglu.png" alt="">
                <div class="u-info">
                    活动期间登录即送128米币<br>
                    连续10天累计可获得1280点米币，开通1个月会员
                    <a class="u-button" href="./vip" target="_blank">开通会员</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="m-footer">
    本次活动最终解释权归JX3PVE.COM所有,奖品领取疑问<a href="./feedback" target="_blank">请点击此处联系</a>.
</div>
<!--{template common/footer}-->