<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/user/user.css" type="text/css" />
<link rel="stylesheet" href="http://css.jx3pve.com/css/user/credit/gift.css" type="text/css" />
<header class="i-header">
    <a class="i-header-back" href="./home.php"><i></i></a>
    <div class="i-header-title">积分兑换</div>
</header>
<script type="text/x-handlebars-template" id="giftListTempl">
    <li class="m-gift-item">
        <a class="u-screenshot" href="<%this.url%>" target="_blank">
            <img src="<%this.image%>" alt="">
        </a>
        <a class="u-meta u-name" href="<%this.url%>"><% this.name %></a>
        <span class="u-meta u-price">
            <em>水晶:<b class="u-credit-sj"><% this.cost['水晶']%></b></em>
            <em class="none">人气:<b class="u-credit-rq"><% this.cost['人气']%></b></em>
        </span>
        <a class="u-meta u-boss" href="<%this.sponsors_url%>"><em>赞助商:</em><b><% this.sponsors %></b></a>
        <span class="u-meta u-num">库存:<b class="u-gift-num"><%this.num%></b></span>
        <a class="u-go u-btn-blue exchange" href="javascript:;" data-id="<%this.gift_id%>">兑换</a>
    </li>
</script>
<script type="text/x-handlebars-template" id="giftRecordsTempl">
  <tr>
    <td><%this.name%></td>
    <td><%this.date%></td>
    <td class="<%this.clazz%>"><%this.status%></td>
    <td><%this.desc%></td>
  </tr>
</script>
<div class="user-container">
    <div class="wp">
        <div id="pt" class="bm cl">
            <div class="z">
                <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em>
                <a href="home.php">{lang useros}</a><em>&rsaquo;</em>
                <a href="./gift">积分兑换</a>
            </div>
        </div>

        <div class="user-main">
            <!--{subtemplate home/sidebar}-->
            <div class="user-content">
                <input type="hidden" id="u-credit-rq" value="{echo getuserprofile('extcredits5');}">
                <input type="hidden" id="u-credit-sj" value="{echo getuserprofile('extcredits8');}">

                <!--{subtemplate home/gift_header}-->
                <div class="m-block">
                    <h2 class="m-title">积分兑换<span>Exchange gift&raquo;</span></h2>
                    <ul class="m-gift-block m-gift-list" id="m-gift-list">
                    </ul>
                    <div class="m-gift-block m-gift-record" id="m-gift-record">
                        <table>
                            <thead>
                                <th>礼品名称</th>
                                <th>兑换时间</th>
                                <th>兑换状态</th>
                                <th>消耗积分</th>
                            </thead>
                            <tbody id="m-gift-record-tbody">

                            </tbody>

                        </table>
                    </div>
                    <div class="m-gift-block m-gift-rule" id="m-gift-rule">
                         <!--{block/1782}-->
                    </div>
                </div>
                <div class="gift-footer">
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script src="http://js.jx3pve.com/js/user/gift.min.js"></script>
<script src="http://js.jx3pve.com/js/user/user.min.js"></script>
<!--{template common/footer}-->