<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/index/party/2016.css" type="text/css" />
<div class="m-header">
   <h1>JX3PVE</h1> 
</div>
<div class="m-content">
    <div class="m-supportlist">
        <div class="wp">
            <h3>赞助商：</h3>
            <ul>
               <li><a href="https://www.shiyanlou.com" target="_blank"><img src="http://img.jx3pve.com/img/party/2016/s-shiyanlou.png" alt=""></a></li>
               <li><a href="https://rapoo.tmall.com" target="_blank"><img src="http://img.jx3pve.com/img/party/2016/s-rapoo.png" alt=""></a></li>
               <li><a href="https://logitech.tmall.com" target="_blank"><img src="http://img.jx3pve.com/img/party/2016/s-logitech.png" alt=""></a></li>
               <li><a href="https://razer.tmall.com" target="_blank"><img src="http://img.jx3pve.com/img/party/2016/s-leishe.png" alt=""></a></li>
               <li><a href="https://cangraodz.tmall.com/" target="_blank"><img src="http://img.jx3pve.com/img/party/2016/s-canra.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="m-footer">
    
</div>
<script src="http://js.jx3pve.com/js/party/2016.js"></script>
<!--{template common/footer}-->