<div class="m-book-view">
	<div class="e-book">
		<span class="book type-{typeid}">
			<img class="img" src="{book_img_value}" alt="{subject}">
			<i class="layout"></i>
		</span>
	</div>
	<div class="u-info">
		<a class="u-name" href="{subject_url}" data-target="_blank">{book_name_value}</a>
		<span class="u-author">{book_author_value}</span>
		<span class="u-time"><i></i>{lastedit}</span>
		<p class="u-intro">{book_intro_value}</p>
	</div>
</div>