<div class="m-book-view">
	<div class="e-book">
		<span class="book type-{typeid}">
			<img class="img" src="{book_img_value}" alt="{subject}">
			<i class="layout"></i>
		</span>
	</div>
	<div class="u-info">
		<span class="u-info-item u-author"><em>作者</em><span>{book_author_value}</span></span>
		<span class="u-info-item u-time"><em>发布</em><span class="u-book-dateline">{dateline}</span></span>
		<span class="u-info-item u-time"><em>更新</em><span class="u-book-dateline">{lastedit}</span></span>
		<p class="u-info-item u-intro"><em>摘要</em><span>{book_intro_value}</span></p>
	</div>
</div>