.m-macro-primary{
	line-height:2.2;
}
.m-macro-block{
	margin-bottom:20px;
}
.m-macro-topblock{
	margin-bottom:0;
}
.m-macro-baseinfo{
	line-height: 2.5;
	li{
		border-bottom:1px dashed #ddd;
		em{
			margin-right:15px;
			.dbi;.w(88px);
			color:#555;
		}
		span{
			.dbi;
		}
		b{
			.dbi;margin-right:5px;
			span{.none;}
		}
		i{
			.none;
		}
		.true i{
			.db;
			cursor:default;
			user-select:none;
		}
	}
	#u-macro-zlp b{
		margin-right:15px;
	}
	.u-macro-sptag{
		color:#fff;
		line-height:22px;
		padding:0 10px;
		.r(3px);
	}
	.u-macro-justjx3pve i{
		background-color:#0084ff;
	}
	.u-macro-posttime i{
		&.u-macro-posttime-1{background-color:#FB6A03;}
		&.u-macro-posttime-2{background-color:#f00;}
	}
	.u-macro-zan i{
		background-color:#f39;
	}
}
.m-macro-baseinfo{
	.pr;
	padding-right:290px;
}
.m-banner-macro{
	.pa;.rb(0,0);
	.size(280px,130px);
	//border:1px solid #ddd;
	a,img{.db;}
	span{.none;}
}
.ua-mobile,.screen-s{
	.m-macro-baseinfo{padding-right:0;}
	.m-banner-macro{
		.ps;
		margin-top:10px;
		background-color:#f9f9f9;
		padding:5px 10px;
		.fz(13px,20px);.x;
		.size(auto);
		span{.db;}
		img{.none;}
		b{.dbi;background-color:#f39;color:#fff;padding:0 5px;border-radius:3px;margin-right:2px;}
	}
}
.m-macro-relative{
	.clearfix;
	padding-right:10px;
	padding-top:5px;
	.color(#555,#555,#555);
	a:hover{
		text-decoration:underline;
	}
	li{
		.fr;
		margin-left:20px;
	}
	.u-report{
		i{.dbi;.size(16px);.y;margin-right:4px;margin-top:-2px;
		background:url('@{url}icon/icon-report-16.png') no-repeat 0 0;}
	}
	.u-down{
		i{.dbi;.size(16px,21px);.y;margin-right:3px;
		background:url('@{url}icon/down1.png') no-repeat 0 0;}
	}
}
.m-macro-important{
	.pr;
	h3{
		color:#aba6a6;letter-spacing:1px;
		span{margin-left:10px;font-family:Verdana;}
	}
	.content{
		background:#f7f7f7;border-radius:4px;
		border:1px solid #ddd;
		margin:10px 0 0 0;
		padding:10px;
	}
}
.m-macro-roleinfo{
	.til{
		.pr;
		&:before{content:'';.db;width:90%;height:1px;background-color:#ddd;.ct(y,2px);right:0;}
	}
	h3{
		.dbi;width:70px;.fzlh(13px,24px);border-radius:24px;background-color:#eee;.x;color:#555;
		.pr;.z(2);
	}
	.content{
		.min-height(60);padding:10px;
	}
}
.m-macro-frag{
	.til{
		.pr;
		&:before{content:'';.db;width:90%;height:1px;border-bottom:1px dotted #ddd;.ct(y,2px);right:0;}
	}
	h3{
		.dbi;width:70px;.fzlh(13px,24px);border-radius:24px;background-color:#0084ff;.x;color:#fff;
		.pr;.z(2);
	}
	#macro-copy-tips{
		border-radius:4px;color:#fff;
		background-color: #4FBD31;
		padding: 3px;position: relative;
		margin-left:10px;
	}
}
.e-macro{
	font-family: Monaco,Consolas,'Lucida Console','Courier New',serif;
	margin-top:10px;
	ol{
		padding: 0 0 0 40px;
		.r(4px 4px 0 0);
		background: #f5f5f5;
		border:1px solid #eee;
		border-bottom:none;
	}
	li{
		border-bottom:1px solid #eee;
		border-left:1px solid #eee;
		padding-left:10px;
		background-color:#fff;
		line-height:2.4;
		&:hover{
			background-color:#f7f7f7;
		}
		pre{
			white-space:normal; //chrome bug fix
		}
	}
}
.e-copycode{
    display: block;
    background:#f5f5f5;
    border: 1px solid #eee;
    border-top:none;
    margin: 0;
    text-align: right;
    padding:0 10px;
    cursor: pointer;
    color:#666;
    .r(0 0 4px 4px);
    &:hover{color:#222;}
}

.ua-mobile,.screen-s{
	#macro-copy-tips{
		font-size:12px;
	}
	.m-macro-relative{
		.none;
	}
}