<div class="m-face-list">
	<ul>
		[loop]
		<li class="m-face-list-item">
			<a class="short" href="{subject_url}" target="_blank">
				<span class="img">
					<img src="{faceshot_value}@!face_list" alt="">
					<i class="shark"></i>
				</span>
				<i class="mark">
					<em class="digest">{digest}</em>
					<em class="downs">{facedown_downloads}</em>
					<em class="cmds">{recommends}</em>
				</i>
			</a>
			<span class="info">
				<span class="author"><em>作者：</em><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=sortid&sortid=15&searchoption%5B101%5D%5Bvalue%5D={faceauthor_value}">{faceauthor_value}</a></span>
				<span class="time"><i></i><b class="u-facetime">{lastedit}</b></span>
				<span class="price"><em>收费零件：</em><b>{face_price_value}</b></span>
				<span class="downloads"><em>下载次数：</em><b class="u-face-downloads">{facedown_downloads}</b></span>
				<a class="down" title="直接下载" href="{facedown_value}"><i></i>下载数据</a>
			</span>
		</li>
		[/loop]
	</ul>
</div>