<div class="c-post-custom">
	<ul class="c-post-custom-list">
		<!-- 作者 -->
		<li class="c-post-custom-listitem">
			<span class="u-title"><span class="rq">{book_author_required}</span>{book_author}</span>
			<span class="u-check">{book_author_tips}</span>
			<span class="u-content">{book_author_value}<div class="u-tip">{book_author_description}</div></span>
		</li>
		<!-- 上传模式 -->
		<li class="c-post-custom-listitem">
			<span class="u-title"><span class="rq">{wall_uploadmode_required}</span>{wall_uploadmode}</span>
			<span class="u-check">{wall_uploadmode_tips}</span>
			<span class="u-content">{wall_uploadmode_value}<div class="u-tip">{wall_uploadmode_description}</div></span>
		</li>
		


	</ul>
</div>