.c-flist-item{

	@border:#C2D5E3;
	@bg:#F7FDFF;

	.pr;
	.db;.clearfix;
	border-bottom: 1px solid @border;
	padding:5px 10px;
	.lh(28px);

	.nobreak;

	&:hover{
		background-color:@bg;
		.u-author{
			background-color:@bg;
		}
	}

	//管理操作
	.u-control{
		.fl;.none;
		margin-right:3px;
	}

	//最后更新
	.u-lastedit{
		.fl;
		.fz(12px,20px);
		margin:3px 10px 3px 3px;
		padding: 0 5px;
		border-radius: 2px;
		background-color:#EEFDFF;color:#28B3C5;
		
		&.fail{background-color:#aaa;color:#fff;}
		&.old{background-color:#FFF7DC;color: #EA8202;}
		&.new{background-color:#EEFDFF;color:#28B3C5;}
		&.fresh{background-color:#EFFDE5;color: #20961E;}//#DBAFF9
		&.ok{background-color: #FFF5F5;color: #F93434;}
	}

	//标题
	.u-title{
		.fl;
		max-width:500px;
	}
	.u-sort{.color(#999,@blue-link,#c00);}
	.u-subject{}

	//来自群组
	.u-group{.none;}
	//来自板块
	.u-fid{.none;}

	//作者
	.u-author{
		//.fr;
		.pa;.rt(10px,5px);
		background-color:#fff;padding-left:20px;
		a{margin-left:2px;}
		.u-verif img{margin-top: -3px;}
	}

	//计数
	.u-views{.none;}
	.u-reply{.none;}

	//时间
	.u-postdate{.none;}
	.u-lastreply{.none;}

	//分页
	.u-pages{.none;}

	//隐藏置顶
	.u-hidestick{
		.fl;

		&.showhide{
		    width: 12px;
		    height: 12px;
		    background:url('@{urls}common/close.gif') no-repeat 0 0;
		    text-indent: -999em;
		    cursor: pointer;
		    overflow: hidden;
		    margin: 5px 5px 0px 5px;
		    border:none;
		    padding:0;
		    &:hover{
		    	background-position: 0 -12px;
		    }
	    }
	}

	//预览
	.u-preview{
		.none;
	}

}

.adminHTML .c-flist-item{
	.u-control{
		.db;
	}
}

.ua-responsive .screen-s .c-flist-item{
	padding:5px 0;
	.u-title{max-width:60%;.nobreak;}
	.u-author{.none;}
}