.c-flist-info{
	.lh(28px);
	border-bottom: 1px dotted #ccc;
	padding-top: 5px;
	ul{
		.clearfix;
		li{
			&.update{
				.fl;.w(90px);.x;
				.color-tips{
					background:url('@{url}icon/faq.gif') no-repeat 0 0;
					.dbi;.size(13px);.y(-2px);margin-left:3px;
				}
			}
			&.til{
				.fl;padding-left:100px;
			}
			&.author{
				.fr;
				padding-right:12px;
			}
		}
	}
}

.ua-mobile,.screen-s{
	.c-flist-info{.none;}
}

.c-flist-list{

	#separatorline{.none;}

	table-layout: fixed;
	.full(x);.clip;

	tr:hover th, tr:hover td {
	  background:none;
	}

	//单个帖子
	tbody{

		@h:39px;

		//块级化处理
		.db;.fl;.w(100%);overflow:hidden;

		.h(@h);
		img{
			.y;
		}

		tr,th,td{
			.db;.fl;.w(100%);
			.h(@h);
		}
	}
}

.ua-mobile,.screen-s{
	.c-flist-list{
		tbody,tr,td,th{
			.h(auto);
		}
	}
}