.c-flist-item{

	@border:#C2D5E3;
	@bg:#F7FDFF;

	.pr;
	.db;.clearfix;
	border-bottom: 1px solid @border;
	padding:5px 10px;
	.lh(28px);

	.nobreak;

	&:hover{
		background-color:@bg;
		.u-author{
			background-color:@bg;
		}
	}

	//管理操作
	.u-control{
		.fl;.none;
		margin-right:3px;
	}

	//最后更新
	.u-lastedit{
		.fl;
		.fz(12px,20px);
		margin:3px 10px 3px 3px;
		padding: 0 5px;
		border-radius: 2px;
		background-color:#EEFDFF;color:#28B3C5;
		
		&.fail{background-color:#aaa;color:#fff;}
		&.old{background-color:#FFF7DC;color: #EA8202;}
		&.new{background-color:#EEFDFF;color:#28B3C5;}
		&.fresh{background-color:#EFFDE5;color: #20961E;}//#DBAFF9
		&.ok{background-color: #FFF5F5;color: #F93434;}
	}

	//标题
	.u-title{
		.fl;
		max-width:500px;
	}
	.u-sort{.color(#999,@blue-link,#c00);}
	.u-subject{}

	//来自群组
	.u-group{.none;}
	//来自板块
	.u-fid{.none;}

	//作者
	.u-author{
		//.fr;
		.pa;.rt(10px,5px);
		background-color:#fff;padding-left:20px;
		a{margin-left:2px;}
		.u-verif img{margin-top: -3px;}
	}

	//计数
	.u-views{.none;}
	.u-reply{.none;}

	//时间
	.u-postdate{.none;}
	.u-lastreply{.none;}

	//分页
	.u-pages{.none;}

	//隐藏置顶
	.u-hidestick{
		.fl;

		&.showhide{
		    width: 12px;
		    height: 12px;
		    background:url('@{urls}common/close.gif') no-repeat 0 0;
		    text-indent: -999em;
		    cursor: pointer;
		    overflow: hidden;
		    margin: 5px 5px 0px 5px;
		    border:none;
		    padding:0;
		    &:hover{
		    	background-position: 0 -12px;
		    }
	    }
	}

	//预览
	.u-preview{
		.none;
	}

}

.adminHTML .c-flist-item{
	.u-control{
		.db;   //temp
	}
}

.ua-mobile,.screen-s{
	
	.c-flist-item{
		white-space:normal;
		border-bottom:none;
		height:auto;

		background-color:#fff;
		margin-bottom:20px;
		padding:10px;
		padding-bottom:50px;

		.u-control{
			.pa;.rt(0);
			.none;
		}

		.u-avt{
			.db;margin-bottom:10px;
			a{.db;}
			img{.size(32px);.r(32px);}
		}

		.u-author{
			//.none;
			.pa;.lt(52px,6px);right:auto;
			font-size:12px;
			padding-left:0;
			background: none;
			.color(#666,#666,#666);

			.u-verif{
				img{.size(12px);}
			}
		}
		.u-lastedit{
			.pa;.lt(52px,30px);
			margin:0;
			padding:0;
			background:none;
			color:#999;
		}

		.u-sort{

		}
		.u-title{
			.db;
			white-space:normal;
			float:none;
			max-width:none;
			word-break:break-all;
		}
		.u-addef{
			.pa;.rt(12px);.h(16px);
			margin-left:0;
			img,i{
				margin-top:0;
				margin-right:0;
				margin-left:3px;
				.fr;
			}
		}
		.u-hidestick{
			.none;
		}

		.u-qc{
			.db;
			.pa;.lb(0,0);.lh(40px);.w(100%);
			border-top:1px solid #eee;

			.u-divding{
				.ct(x,1px);
				.size(1px,24px);
				background-color:#eee;
				margin:8px 0;
			}

			.u-views,.u-zan{
				.db;
				.w(49%);
				.x;
				.color(#aaa,#aaa,#aaa);
				font-size:13px;
			}

			.u-views{
				.fl;
				i{
					.size(16px);.dbi;.y(-3px);
					background:url('@{url}forum/hot.svg') no-repeat 0 0;
					background-size:100% auto;
					margin-right:6px;
				}
			}	
			.u-zan{
				.fr;
				i{
					.size(16px);.dbi;.y(-3px);
					background:url('@{url}forum/zan.svg') no-repeat 0 0;
					background-size:100% auto;
					margin-right:8px;
				}
			}
		}
	}
}