.u-addex{
	.fl;margin-left:5px;
	img,i{.db;.fl;margin-right:2px;}

	.lock{.size(20px);margin-top: 1px;background:url('@{url}forum/lock.gif') no-repeat 0 0;}
	.vote{.size(16px);margin-top: 4px;background:url('@{url}forum/vote.gif') no-repeat 0 0;}
	.reward{.size(16px);margin-top:4px;background:url('@{url}forum/reward.gif') no-repeat 0 0;}
	.stick{.size(16px,12px);margin-top:7px;background:url('@{url}forum/stick.png') no-repeat 0 0;}
}

