.faq-container .wp{
	.pr;
}
.m-faq-search{
	.pa;.rt(0,5px);.z(2);

	.clearfix;
	.mtn{margin-top:0 !important;} //reset dz default 
	.u-text-wp{
		.db;.fl;
		.w(180px);
		margin-top:1px;
		.fzlh(13px,26px);
		margin-right:5px;
		overflow:visible;
		border:1px solid #ddd;
		.r(3px);
	}
	.u-text{
		//padding:2px 4px;
		padding:0 10px;
		background: none;
		border:none;
		box-sizing:border-box;
		.full;
	}
	.u-button{
		.fl;
		.size(80px,28px);
		.fz(13px,28px);
	}
}
.ua-mobile,.screen-s{
	.m-faq-search{
		.ps;.w(100%);
		//.lt(0,-30px);
		padding:0 20px;box-sizing:border-box;

		form{.w(100%);}

		.u-button{.pa;.rt(20px,0);}
		.u-text-wp{
			float:none;
			margin-right:80px + 5px ;
			.w(auto);
		}
	}
}
