.i-header{
	.z(40);
}
.m-faq-sidebar{
	h2{.none;}

	li{
		color: #777;
		margin-bottom:5px;
		height:auto;
	}
	a{
		.pr;
		.fzlh(13px,28px);
		padding-left:22px;
		.db;
	}
	a:before {
		content: '';
		.db;.pa;.lt(0,7px);
		.size(15px);
		background:url('@{url}header/icons2.png') no-repeat -215px -4px;
	}
	li a:hover,li.a a{
		&:before{
			background-position:-215px -24px;
		}
		color:@blue-link;
	}
	li.a a{
		.bold;
	}
}
.ua-mobile,.screen-s{
	.m-faq-sidebar{
		padding:0;
		li{
			margin-bottom:0;
		}
		li.a a{
			.normal;
		}
	}
}