//找回密码
.password-container{
	.member-password{
		padding:20px 20px 0 20px;
		p{
			margin-bottom:20px;
		}
		em{
			//padding-right:20px;
			font-size:14px;
			.dbi;
			.w(100px);
		}
		.u-text{
			padding:0 10px;
		}
		.u-msg-password{
			padding-left:10px;
			color:#555;
		}
	}
	.p_right{
		.w(auto);
	    padding-bottom: 10px;
	    background-position:20px bottom;
	}
}

.ua-mobile,.screen-s{
	.password-container .member-password .u-text{
		.db;.full(x);box-sizing:border-box;
	}
	.password-container .member-password .u-msg-password{
		padding-left:0;
		.db;
	}
	.u-msg-password{
		font-size:13px;
	}
}