//找回密码与清除痕迹
.m-login-extend{
	padding-left:120px;
	a:hover{
		color:@blue-link;
		text-decoration:underline;
	}
}
.m-forget{
	.dbi;
	i{.size(13px);.dbi;.y;margin-top:-2px;margin-right:3px;background:url('@{url}icon/faq.gif') no-repeat 0 0;}
	margin-right:10px;
}
.m-resetcookie{
	.dbi;
	i{.size(12px);.dbi;.y;margin-top:-3px;margin-right:3px;background:url('@{url}icon/app_set.gif') no-repeat 0 0;}
}
.m-login-register{
	.none;
}


.ua-mobile,.screen-s{
	
	.m-login-extend{
		padding-left:0;
		.x;
		background-color:#fafafa;
		border:1px solid #eee;
		font-size:13px;
		padding:10px 0;
	}
	.m-login-register{
		.db;
		.color(@yel);
		.bold;
	}

	.m-forget-tips{
		font-size:13px;
	}
}

//忘记密码提醒
.member-forget{
	.flb{.none;}
}
.m-forget-tips{
	.color(#666,@blue-link,@blue-link);
	a:hover{text-decoration:underline;}
}


