@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
@import url('../../module/ui/text.less');		//配色
@import url('../../module/ui/tips.less');		//配色

@import url('form.less');
@import url('login.less');
@import url('register.less');
@import url('find.less');

.ua-mobile,.screen-s{
	overflow-x:hidden;
}
.member-container{
	padding:20px 0;
}
.member-main{
	.member-login,.member-forget,.member-register{
		padding-top:20px;
	}

	.bm_c{padding:0;}
	.flb{
		.h(auto);
		.clearfix;
		padding:0;
		.tips(yel);
		em{color:@yel;}
	}
}
.ua-mobile,.screen-s{
	.member-container{
		padding:10px;
	}
	.member-login,.member-forget,.member-register{
		padding:0;
	}
}
.member-header{
	border-bottom:1px solid #ddd;
	.clearfix;
	.fzlh(14px,28px);
	h3{
		.fl;
		&:after{
			content:'';
			.db;
			border-bottom:2px solid @basecolor;
		}
		min-width:60px;
		.x;
	}
	a:hover{color:@blue-link;}
}

.ua-mobile,.screen-s{
	.member-header{.none;}
}

//执行完窗口
.nfl{
	padding:60px 0;
	min-height:auto;
	.f_c{
		margin:0 auto;
		//跳转
		a{
			.pointer;
		}
		//标题
		.alert_right, .alert_error, .alert_info{
			line-height:40px;
		}
		&.altw{
			.alert_right{
				#succeedmessage{
					color:#cc0000;font-weight:bold;
				}
				#succeedlocation{
					.color(@bluex,#cc0000);
				}
				.alert_btnleft{
					margin:0;
				}
			}
		}
	}
}
.ua-mobile,.screen-s{
	.nfl .f_c,.fwin .rfm, .nfl .f_c .rfm{
		.w(auto);
	}
	.nfl .f_c{
		border:none;
	}
	.alert_right, .alert_error, .alert_info{
		.fz(13px,2);
	}
	#main_message{
		padding:0;
	}
	.nfl .f_c{
		padding:10px;
	}
	#messagelogin .login-container{
		padding:0;
	}
}

//弹层
.fwinmask{
	.u-btn-ok{
		.h(auto);
		float:none;
		margin-left:0;
	}
	.member-form .m-login-extend{
		//.pa;.rb(20px,50px);
	}
	.member-forget .flb{
		.db;
	}
	.m-forget-tips{
		.w(400px);
	}
}