.member-main .member-register{
	.mtw{
		margin-top:0 !important;
	}
}

.ua-mobile,.screen-s{
	#layer_reginfo_b th{.none;}

	.u-msg-codetips{
		font-size:13px;
	}

	.rfm .p_chk,.rfm .p_tip{
		padding-left:0;
	}
}