//其它元素
.px, .ps, select,.tedt{
    border: 1px solid #ddd;
    box-shadow: 0 0 1px #ccc inset;
    border-radius: 2px;
    background:#fff;
    transition:0.2s ease-in-out;
}

//文本框
.px:focus{
    //box-shadow:0 0 3px #ccc inset;
    box-shadow: 0 0 3px #8DACE6;
    border-color:#0D6EB8;
}

//文本域
.pt{}
.tedt{.w(auto);}