.ttp .a a{
	border:1px solid #0084ff;
	background-color:#D0F3FB;
	color:#0E6FCA;
}
.ttp a, .ttp strong{
	height:auto;
}


.tb{
	border-bottom: 1px solid #ddd;
}

.tb a{
	background-color:#f7f7f7;
	border: 1px solid #ddd;
}