.px,.u-text{
	padding:0;
	margin:0;
	line-height:inherit;
	height:auto;

	border: 1px solid #ddd;
    box-shadow: 0 0 1px #ddd inset;
    border-radius: 2px;
    background:#fff;
    transition:0.2s ease-in-out;
}

.px:focus,.u-text:focus{
    box-shadow: 0 0 3px #8DACE6;
    border-color:#0D6EB8;
}
