.tips(yel){
  	background: #FFFAF3;
    color: #EFAA00;
}

.tips(darkyel){
	background-color: #FFF897;
  	color:#FB7707;
}

.tips(warning){
	border: 1px solid #FFD403;
  	background-color: #FFF897;
}

.tips(graylight){
	color:#888;
	background-color:#fafafa;
}

.tips(grays){
	color: #dd0055;
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 3px;
	box-shadow: 0 0 1px #eee inset;
}

