@import url('../../public/base.less');		//函数
@import url('../../global/color.less');	//配色
@import url('../../global/var.less');		//尺寸

.user-bbs-fav-title{
	img{margin-top:-3px;}
	margin-bottom:10px;
}

#favorite_ul li .y{
	.color(#555,@blue-link);
}

.quote{
	color:#999;
}

.mt{
	border-bottom:none !important;
	margin-bottom:0;
}

.ua-responsive .screen-s{
	#favorite_ul li{
		padding:0 10px;
	}
	#favorite_ul li .y{
		margin-left:40px;
	}
	.mtm.pns{
		padding:0 10px;
	}
}