@import url('../../public/base.less');		//函数
@import url('../../global/color.less');	//配色
@import url('../../global/var.less');		//尺寸

#pt{
	margin-bottom:10px;
}

.mn .bm.bml.pbn{
	.none;
	border:none;
	margin-bottom:0;
	padding:0 !important;
	.bm_h{
		padding:0 !important;
		box-shadow:none;
	}
	.bm_c{
		.none;
	}
	.y{
		letter-spacing: 1px;
    	color: #555;
	}
}

.m-lucky-topbox{
	.pr;
	.y{
		.pa;.rt(0,0);
		color:#555;
	}
}
#pgt .pg, #pgt .pgb{
	margin-top:0;
}
.w-pages-top{
	.none;
}

.tl th, .tl td{
	border-bottom:none;
}
.tl .th td, .tl .th th{
	.h(auto);border:none;
}
.tl .th{
	background: none;
	border:none;
	padding:0;
}
.tl tr:hover th, .tl tr:hover td{
	background:@blue-bg;
}
.xst{
	.default-fontfamily();
	font-size:inherit;
}

.bm_c{
	padding:0;
	table{
		.w(100%);
	}
	
}
#threadlist{
	padding:0 10px;
}

.m-jiyu-listth,.bm_c{
	table,tbody,tr,td{.db;}
}

.m-jiyu-listth{
	color:#555;
	tr:hover th, tr:hover td{
		background: none;
	}
}

.m-jiyu-item{
	.db;
	line-height:38px;

	border-bottom:1px solid #eee;

	.u-up{
		.size(16px);
		.dbi;.y;
		background:url('@{url}icon/viewpay.gif') no-repeat 0 0;
	}
	.u-down{

	}

	.u-event{
	}
	.u-role{
		.color(#555,#555,@blue-link);
		.fr;
		.xi1{
			color:#999;
		}
	}
	.u-address{
		.none;
		.fr;
		.w(80px);.x(right);
		.color(#555,#555,@blue-link);
	}
}

.m-jiyu-top{}

.m-jiyu-toplist{
	.up,.down{
		.fl;.w(50%);
	}
	.u-title{
		.x;.bold;
		color:@blue-link;
		line-height:2.5;
		padding:10px 0;
	}

	.pstyle{
		.clearfix;
		border-bottom:1px solid #eee;
		.h(28px);
		padding:5px 0;
		.num,.avt,.name{.fl;}
		.num{background-color:#f7f7f7;.r(2px);.db;.size(18px);.x;line-height:18px;font-size:12px;margin-right:5px;margin-top:2px;color:#666;}
		.avt img{.size(18px);.db;margin-right:10px;}
		.name{}
		&:hover{
			background-color:@blue-bg;
		}
	}
}