.buy-pc-exchange,.buy-pc-transfer{
	.u-text{
		.fzlh(13px,28px);
		padding:0 10px;
	}
	.u-select{
		.fzlh(13px,30px);
		padding:0 10px;	
	}
}
.ua-mobile,.screen-s{
	.buy-pc-exchange,.buy-pc-transfer{
		.tfm tr:last-child th{
			.none;
		}
		.tfm .rq{
			.fl;.bold;
		}
	}
}


//积分转换
.buy-pc-exchange{
	.buy-pc-exchange-tips{
		.tips(yel);
		padding:0 5px;
	}
	.u-need{
		padding:0 5px;
	}
	.tfm .d{
		.w(auto) !important;
	}
}
.ua-mobile,.screen-s{
	.buy-pc-exchange{
		.tfm{
			th,td{
				.db;.fl;
				padding:0;
			}
			th{
				.w(100%);
			}
			.u-need{
				.db;
				padding:0;
			}
			th,.u-need{
				.bold;
			}
			tr{
				.clearfix;
			}
			td[colspan='2']{
				.w(100%);
			}
			#exchangesubmit_btn{
				.w(120px);
				margin-bottom:40px;
				margin-top:20px;
			}
		}
	}
}

//积分转账
.buy-pc-transfer{
	.buy-pc-transfer-tips{
		.tips(yel);
		padding:0 5px;
	}
}
.ua-mobile,.screen-s{
	.buy-pc-transfer{
		.tfm tr:first-child input:nth-child(2){
			margin-top:10px;
		}
		.tfm input[name="transfermessage"]{
			.w(100%);
			box-sizing:border-box;
		}
		#transfersubmit_btn{
			.w(120px);
			margin-bottom:40px;
		}
	}
}
//积分规则
.buy-pc-rule{
	.tbmu.bw0{
		.clearfix;
		padding-top:0;
	}
	.tbmu.bw0 p{.fl;}
	.buy-pc-rule-tips{
		.fr;.color(@blue-link,@blue-link,@blue-link);
		a:hover{text-decoration:underline;}
	}
	.dt td, .dt th{
		padding:4px 5px;
		border-bottom:1px solid #ddd;
	}
	.alt, .alt th, .alt td{
		background-color:#f7f7f7;
	}
	.dt th{
		background-color:#f5f5f5;
		font-weight:normal;
	}
}