.w-custom{//.none;
	//background-color:#fff;
	.pa;.rt(0,0);
	line-height:29px;
	padding:5px 5px 3px 20px;
	.color(#555,#555,#222);
}

.adminHTML .w-custom{
	.db;
}

.w-custom-width{
	.fl;
	.none;
	
}


.w-custom-zoom,.w-custom-feed,.w-custom-my,.w-custom-fav{
	.fl;margin-left:15px;
	i{.dbi;.y;.size(16px);}
}
.w-custom-zoom{
	i{background:url('@{url}forum/zoomin.png') no-repeat 0 0;margin:-2px 5px 0 0;}
}
.w-custom-feed{
	i{background:url('@{url}forum/feed.png') no-repeat 0 0;margin:-3px 5px 0 0;}
}
.w-custom-my{
	i{background:url('@{url}forum/my.png') no-repeat 0 0;margin:-2px 5px 0 0;}
}
.w-custom-fav{
	i{background:url('@{url}forum/star.png') no-repeat 0 0;margin:-3px 5px 0 0;}
}