//dz默认弹层
.fwinmask{
	.pn{
		.db;
    	.lh(28px);
    	.fr;
    	margin-left:10px;
    	padding:0 20px;
	}

	#e_imgattachlist .p_opt{
		.w(564px);
	}
	.upfl {
	    height: auto !important;
	    max-height: 300px;
	    overflow-x: hidden;
	    overflow-y: auto;
	    padding:10px 0;
	    background-color:#EBF6F9;
	}
	.imgl{
    	.w(100%);.db;
    	tbody,tr{.db;}

    	td{
    		.x;
    		.dbi;
    		.w(24%) !important;
    	}
    	
    	.imgf{
    		padding:0 10px;
    		input{.db;.full(x);}
    	}
    }
}
/*.desktop,.mobile.no-desktop{
	.fwinmask{
		.w(auto) !important;
		max-width:1000px;
		max-height:600px;
	}
}*/
.ua-responsive .screen-s .fwinmask{

	max-width:100%;
	max-height:100%;

	.w(100%) !important;
	box-sizing:border-box;

	.fwin{
		.w(100%);
		box-sizing:border-box;
	}

	//表格内容区
	.m_c{
		.y(top);
	}
	form{

	}
	//操作内容区
	.f_c{

	}
	//操作条
	/*.o{
		background:none;
		border:none;
		position: absolute;
		bottom: 16px;
		right: 8px;
		width: 100%;
		//width: ~"calc(100% - 38px)";
	}*/

	.f_c .list{
		.w(100%) !important;
	}

}

//文字类弹层提示
.ua-responsive .screen-s .fwinmask{
	.altw{
		.w(100%);
		box-sizing:border-box;
	}
	.tedt{
		.w(auto);
	}
}

.ua-responsive .screen-s #fwin_sendpm{
	.pm{
		.w(auto);
	}
	.pmb{
		.w(auto);
		.h(180px);
	}
	.pm_tac{
		a{.none;}
		.y{.db;}
	}
}

.ua-responsive .screen-s{
	#fwin_reply,#fwin_login{
		top:0 !important;
		max-width:100%;
		max-height:100%;
		overflow-y:auto;
		.m-login-way{
			padding:10px;
		}
	}
}