.w-filter{
	&.open{
		.db;
		//animation:open 0.2s ease-in-out forwards;
	}
}

.w-filter-box{
	.pr;
}

.w-filter-font{
	.lh(28px);
	.clearfix;
	
	.w-listfilter{
	}

	.w-listfilter-list{
		overflow:visible;
	}

	.til{
	}
	.item{
		.fl;
	}
	.label{
		.fl;padding:0 8px;
		.pointer;
		margin-right:5px;
		user-select:none;
		color:#555;
		border-left:1px solid transparent;
		border-right:1px solid transparent;
		&:hover{
			background-color:#f2f2f2;
			color:#333;
		}
		&.on{
			background-color:#f2f2f2;
			color:#333;
			border-left:1px solid #ddd;
			border-right:1px solid #ddd;
			font-weight:normal;
		}
	}
	.value{
		.none;
		.pa;.lt(0,30px);.z(5);
		
		background: #f7f7f7;
		padding: 5px 10px;
		border: 1px solid #ccc;
		margin-top: 5px;
		border-radius: 2px;
		
		ul{
			.clearfix;
		}
		li{
			.fl;
			padding:0 5px;
			margin-right:10px;
			.color(#555,#555,#c00);
			&.a a{
				color:#c00;.bold;
			}
		}

	}
}

.w-filter-form{
	.none;
}

.ua-responsive .screen-s{
	.w-filter-box{.ps;}
	.w-filter-font .label{
		line-height:26px;
		&.on{background-color:#fff;}
	}
}


//服务器特殊类别
.e-fwq{
	.e-fwq-filter{
		.db;
		border-bottom:1px dashed #ddd;
		padding:0 5px 5px 5px;
		margin-bottom:5px;
		.clearfix;

		span{
			.db;.fl;
			margin-right:15px;
			&.on{
				.bold;
			}
		}
	}
	li{
		.db;float:none !important;
		padding:5px;
	}

}
.ua-responsive .screen-s .e-fwq{
	max-height:280px;
	overflow-y:auto;
}