.w-listfilter{
	//.pr;
	.clearfix;
	border:none;
	padding:0;margin:0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	margin-top:-1px;
	line-height:28px;
	.pr;
}

.w-listfilter-title{
	.w(99px);
	//.h(28px);
	//.fl;
	.pa;.lt(0,0);.h(100%);
	border-right: 1px solid #ddd;
	background: #f7f7f7;
	.indent(10px);
	span{padding-left:5px;color:#777;font-size:12px;}
}

.w-listfilter-list{
	margin-left:99px;
	padding:0 10px;
	//.h(28px);
	.clip;
	.clearfix;

	.u-item{
		.db;.fl;
		padding:0 8px;margin-right:5px;
		color:#555;
		//border-left:1px solid transparent;
		//border-right:1px solid transparent;
		transition:background-color 0.1s ease-in-out;
	}
	.u-item:hover{
		background-color:#f2f2f2;
		color:#333;
	}

	.on{
		background-color:#f2f2f2;
		color:#333;
		//border-left:1px solid #ddd;
		//border-right:1px solid #ddd;
		font-weight:normal;
	}

	.on:hover{
		
	}

	.divding{
		.none;
	}

}

.ua-responsive .screen-s{
	.w-listmode{
		.clearfix;
		.pr;
		&.isfocus{
			.z(40);
		}
	}
	
	.w-filter{.fl;}

	.w-listfilter,.w-listfilter-title{
		.ps;.fl;
	}

	.w-listfilter-list{
		.none;
		.pa;.lt(0,28px);.z(2);
		.w(100%);
		box-sizing:border-box;
		margin:10px 0 0 0;
		background-color:#f7f7f7;
		border:1px solid #ddd;
		.r(2px);
	}
	.w-listfilter-title{
		border-left:1px solid #ddd;margin-left:-1px;
		&.on{background-color:#fff;}
		.pointer;
	}

}