.w-order{

	#clearstickthread{
		.fl;
		.color(#999,#999,#666);
	}

	#atarget{
		.pointer;
		.fr;margin-top:3px;margin-left:10px;
		padding: 3px 10px;
		color: #fff;
		border-radius: 4px;
		text-indent: 17px;
		user-select:none;
		.lh(16px);
		background:url('@{urls}common/atarget.png') @basecolor no-repeat 9px 6px;
	}

	#atarget.atarget_1, .chked {
		background-position: 9px -34px;
	}
}
.ua-mobile,.screen-s{
	.w-order{
		#clearstickthread,#atarget{.none;}
	}
}