#pt{

	margin:0 auto;
	/*border:none;
	padding: 5px 0;
    border-bottom: 1px dotted #ccc;*/

    //margin-bottom:10px;
    .lh(29px);
    .pr;

    .z{
		.nobreak;
    	max-width:80%;
    }

    background-color:#fafafa;
    border:1px solid #eee;
    padding:5px 10px;
    .r(4px);
    margin-top:20px;
}
.ua-responsive .screen-s #pt{
	.none;
}

.c-header-nav{.none;}