#pt{

	margin:20px auto 10px auto;
    .lh(29px);
    .pr;

    .z{
		.nobreak;
    	max-width:80%;
    }

    background-color:#fafafa;
    border:1px solid #eee;
    padding:5px 10px;
    .r(4px);
}
.ua-mobile,.screen-s{
    #pt{
    	.none;
    }
}

