.u-guideitem{
	color:#555;

	.db;.clearfix;
	border-bottom:1px dashed #ddd;
	padding:10px;

	table{
		.w(100%);
	}
	.u-title,.u-count,.u-pubtime{
		.db;
	}
	.u-title{
		.w(100%);
		//.nobreak;
		color:#555;
		.color(#666,@blue-link,#c00);
		.tps{.none;}
		img{margin-left:3px;margin-top:-3px;}
	}
	.u-bankuai,.xst{
		.lh(22px);
	}
	.u-bankuai{
		.dbi;
		.r(2px);
		padding:0 5px;
		margin-right:5px;
		background-color:#F0F9FF;
		a{color:#3879B1;}
	}
	.u-pubtime{
		color:#888;
	}
	.u-count{
		.fr;
		color:@yel;
	}
	
}

.u-guideitem-reply,.u-guideitem-cmt{
	.db;.clearfix;
	color:#888;
	padding:5px 10px 0 10px;
	line-height:2.2;

	.tl_reply{
		padding-bottom:0 !important;
	}
}

.ua-mobile,.screen-s{
	.u-count,.u-pubtime{
		font-size:13px;
	}
}


.ua-mobile,.screen-s{
	body,.bm_c{
		background-color:#fafafa;
	}
	.u-guideitem{
		background-color:#fff;
		border-bottom:none;
		margin-bottom:10px;
	}
	.u-guideitem-reply,.u-guideitem-cmt{
		margin-top:-10px;
		background-color:#fff;
		margin-bottom:10px;
		font-size:13px;
	}
}