.i-header-menu{
	.pa;.rt(0,0);

	//只看楼主（列表页）
	.u-only{
		.fl;
		border:1px solid #eee;
		.r(2px);
		.fz(13px,18px);
		padding:2px 8px;
		margin-top:12px;
		margin-right:5px;

		&.on{
			background-color:@basecolor;
		}
	}

	//发布（列表页）
	.u-post{
		.fl;
		padding:11px 6px 11px 10px;
		i{
			.db;.size(30px,24px);
			background:~"url('@{url}header/mobile/post.svg') no-repeat 0 0 / auto 100%";
		}
		span{.none;}
	}

	//设置
	.u-setting{
		.fl;
		padding:13px;
		i{
			.db;.size(20px);
			background:~"url('@{url}header/mobile/setting.svg') no-repeat 0 0 / auto 100%";
		}
		span{.none;}
		&.on i{
			background-image:url('@{url}header/mobile/setting-blue.svg');
		}
	}

	//新版更多
	.u-more{
		.fl;
		padding:11px;
		i{
			.db;.size(24px);
			background:~"url('@{url}header/mobile/more.svg') no-repeat 0 0 / auto 100%";
		}
		span{.none;}
	}

}