.m-news{
	padding:10px 0;
	ul{}
	li{}
	a{
		.db;.pr;
		margin-bottom:2px;
		.nobreak;
		.fzlh(13px,28px);
	}
	i{
		.dbi;.y;.fl;
		background-color:#f7f7f7;
		padding:0 5px;
		.lh(22px);
		margin-top:3px;
		.r(2px);
		margin-right:10px;
		color:#777;
	}
	em{
		.pa;.rt(0,0);
		color:#999;
	}
	a:hover{
		color:@blue-link;
		//text-decoration:underline;
		background-color:#f9f9f9;
		em{color:@yel;}
		i{background-color:@basecolor;color:#fff;}
	}
}

.m-lol{
	margin-top:10px;
	.none;
}
.ua-responsive .screen-s .m-news{
	padding:10px;
	em{.none;}
}
.adminHTML .m-lol{
	.db;
}