.wp{
	.clearfix;
}
.index-container{
	padding:20px 0;
}
.index-content{
	.w(@wpm - 330px - 50px);
	.fl;
	padding-left:20px;
}
.index-sidebar{
	.w(330px);
	.fr;
}
.m-title{
	.fz(13px,28px);.bold;
	border-bottom:1px dotted #ddd;
	.pr;
	.clearfix;

	span{
		.fl;
	}

	.u-more{
		//.ct(y,12px);right:0;
		.fr;
		margin-top:(28px - 12px)/2;
		background:url('@{url}icon/more.png') no-repeat 0 0;
		.size(40px,12px);
		.indent;
		&:hover{
			background-position:0 -12px;
		}
	}
	.u-history{
		//.pa;.rt(0,0);
		.fr;
		.fz(12px,28px);
		.normal;
		.color(#555,@blue-link);
		transition:0.2s ease-in-out;
		letter-spacing:0px;
		&:hover{
			letter-spacing:1px;
		}
	}
	.u-add{
		.fl;margin-left:5px;
		.color(#999,@bluex);
		.normal;font-size:12px;
		i{
			background:url('@{url}icon/app_add.gif') no-repeat 0 0;
			.dbi;.size(12px);.y(-2px);margin-right:3px;
		}
	}
	.u-tips{
		.fr;
		.normal;
		color:#888;
	}
}
.m-subblock{
	margin-bottom:10px;
}