.ua-responsive .screen-s{
	padding-top:0;

	.index-container{
		padding-top:0;
	}

	.wp{
		padding:0;
	}

	.m-slider{
		.h(180px);
	}

	.index-content{
		padding:0;
		float:none;
		.w(auto);
	}

	.m-title{
		padding:0 10px;
	}

	.index-sidebar{
		float:none;
		.w(auto);
	}

	.m-code{
		.none;
	}

	.m-music{
		overflow-x:auto;
	}
}

.ua-responsive .screen-s .m-box{
	.db !important;
}
.m-box{
	ul{
		.clearfix;
		padding-left:10px;
	}
	li{
		.w(25%);.fl;
		margin-bottom:10px;
	}
	a{
		.db;
		background-color: #0084ff;
	    width: 50px;
	    padding: 5px 10px;
	    border-radius: 4px;
	    color: #fff;
	}
	span{
		.fz(13px);
		.db;
		.x;
	}

	i{
		.db;.auto(x);
		.size(24px);
		background-position:center center;
		background-repeat:no-repeat;
		margin-top:(40px - 24px ) / 2;
	}
	.u-macro{
		background-image:url('@{url}system/sitemap/macro.svg');
		background-size:auto 100%;
	}
	.u-tool{
		background-image:url('@{url}system/sitemap/tool.svg');
		background-size:90% auto;
	}
	.u-app{
		background-image:url('@{url}system/sitemap/app.svg');
		background-size:95% auto;
	}
	.u-role{
		background-image:url('@{url}system/sitemap/role.svg');
		background-size:auto 100%;
	}
	.u-fam{
		background-image:url('@{url}system/sitemap/fam.svg');
		background-size:95% auto;
	}
	.u-raid{
		background-image:url('@{url}system/sitemap/team.svg');
		background-size:100% auto;
	}
	.u-face{
		background-image:url('@{url}system/sitemap/face.svg');
		background-size:100% auto;
	}
	.u-biz{
		background-image:url('@{url}system/sitemap/biz.svg');
		background-size:auto 100%;
	}
	.u-story{
		background-image:url('@{url}system/sitemap/book.svg');
		background-size:auto 100%;
	}
	.u-bbs{
		background-image:url('@{url}system/sitemap/bbs.svg');
		background-size:auto 100%;
	}
	.u-wiki{
		background-image:url('@{url}system/sitemap/wiki.svg');
		background-size:auto 100%;
	}
}