<div class="u-baseinfo"><h3>基本信息</h3></div>
<div class="m-member-view">
	<div class="m-avt">
		<img class="u-avt" src="http://www.jx3pve.com/uc_server/avatar.php?uid={vanfon_uid}&size=middle" />
		<a class="u-msg" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_{vanfon_uid}&touid={vanfon_uid}&pmid=0&daterange=1&pid={vanfon_pid}&tid={vanfon_tid}" onclick="showWindow('sendpm', this.href);" ><i></i>发消息</a>
	</div>
	<div class="m-details">
		<ul>
			<li><em>服务器</em><span>{fuwuqi_value}</span></li>
			<li><em>职业</em><span><b class="e-role">{myrole_value}</b></span></li>
			<li><em>可选日</em><span>{raidtime_value}</span></li>
			<li><em>时间段</em><span>{raidtimefull_value}</span></li>
			<li><em>联系YY</em><span>{baotuan4_value}</span></li>
		</ul>
	</div>
</div>
<div class="u-moreinfo"><h3>更多说明</h3></div>