<div class="m-ow-list">
    <ul>
    [loop]
        <li class="m-ow-item">
            <span class="u-sex">{game_sex_value}</span>
            <a class="u-user" href="{author_url}">{author}</a>
            <span class="u-id">{game_owid_value}</span>
            <span class="u-hero">{game_owrole_value}</span>
            <span class="u-status">{game_status_value}</span>
            <a class="u-details" href="{subject_url}" title="{subject}">view></a>
        </li>
        [/loop]
    </ul>
</div>