<div class="m-team-list m-raid-list">
    <ul>
    [loop]
        <li class="m-team-item m-raid-item">
            <span class="u-raidlogo">
                <img class="logo" src="{raidlogo_value}" alt="{raidname_value}"/>
                <i class="verif"><span>{author_verify}</span></i>
                <i class="sex"><span>{raidnature_value}</span></i>
            </span>
            <span class="u-raidinfo">
                <span class="tr"><span class="name">{raidname_value}</span></span>
                <span class="tr"><em class="label">服务器：</em><span class="key">{fuwuqi_value}</span></span>
                <span class="tr"><em class="label">YY频道：</em><span class="key">{raidyy_value}</span></span>
            </span>
            <a class="u-link e-sort-item" href="{subject_url}" data-target="_blank"></a>
            <em class="e-failtime">{failtime_value}</em>
            <span class="u-control">{modcheck}</span>
        </li>
        [/loop]
    </ul>
</div>