<div class="m-team-view">
    <div class="u-baseinfo"><h3>基本信息</h3></div>
    <div class="m-baseinfo">
        <div class="m-avt">
            <div class="u-raidlogo">
                <img class="logo" src='{raidlogo_value}'>
                <i class="verif"><span>{vanfon_verify}</span></i>
            </div>
            <a class="u-msg" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_{vanfon_uid}&touid={vanfon_uid}&pmid=0&daterange=1&pid={vanfon_pid}&tid={vanfon_tid}" onclick="showWindow('sendpm', this.href);" ><i></i>发消息</a>
        </div>
        <div class="m-details">
            <ul>
                <li><em>团队名称</em><span>{raidname_value}</span></li>
                <li><em>服务器</em><span>{fuwuqi_value}</span></li>
                <li><em>团队性质</em><span>{raidnature_value}</span></li>
                <li><em>团队类型</em><span>{raidsex_value}</span></li>
                <li><em>开团日</em><span>{raidtime_value}</span></li>
                <li><em>时间段</em><span>{raidtimefull_value}</span></li>
                <li><em>YY频道</em><span>{raidyy_value}</span></li>
                <li><em>联系YY</em><span>{baotuan4_value}</span></li>
            </ul>
        </div>
    </div>

    <div class="u-moreinfo"><h3>团队概况</h3></div>
    <div class="m-intro m-team-info">
        {raiddetails_value}
    </div>

    <div class="u-moreinfo"><h3>团队成绩</h3></div>
    <div class="m-intro m-team-info">
        {raidintro_value}
    </div>

    <div class="u-moreinfo"><h3>团队活动</h3></div>
    <div class="m-activity m-team-info">
        {raidactivity_value}
    </div>

    <div class="u-moreinfo"><h3>团队福利</h3></div>
    <div class="m-lucky m-team-info">
        {raidlucky_value}
    </div>

    <div class="u-moreinfo"><h3>团队合影</h3></div>
    <div class="m-raidac m-team-info">
        {raidac_value}
    </div>
    <div class="m-photo m-team-info">
        <img src="{raidphoto_value}" alt="">
    </div>
</div>