.m-msg-list{
	
}
.pm_op{
	padding-left:0;
}

.pm_op_r{
	padding-right:0;
}

.pm_o{
	.fz(13px,2);
	.w(auto);
	.color(#999,#999,#c00) !important;
	.o{
	    overflow: hidden;
	    float: right;
	    margin-left:5px;
	    margin-right:5px;
	    width: 16px;
	    height: 16px;
	    text-indent: 20px;
	    background: url(http://img.jx3pve.com/static/image/common//op.png) no-repeat 0 -120px;
	    margin-top:4px;
	}
	.db;
	.xg1.z{
		margin-right:5px;
	}
}

.m-msg-list-item{

	&.hover{
		background-color:#fafafa;
	}

	.m-msg-list-item-check{
		.fr;
		margin:0;
		*{.pointer;}
	}

	.pm_c{
		padding-left:0;
		color:#666;
	}

}

.ua-mobile,.screen-s{
	.m-msg-list{
	}
	.m-msg-list-item{
		padding:0 10px;
	}
	.m-msg-list-item-check{
		float:right;
		margin:0;
	}
	.pm_c{
		padding-left:0;
		font-size:13px;
		line-height:2.2;
	}
	.ntc_body{
		font-size:13px;
		line-height:2.2;
		color:#666;
	}
	.pm_o{
		//float:none;
	}
	
	.xg1{
		font-size:13px;
	}
	
	
	//pm
	.nts{
		padding:0 10px;
	}

	//短消息总数导出
	.pm_op_r{
		padding-left:5px;
		.xw1 a{.none;}
		font-size:13px;
		padding-right:10px;
	}

	.user-msg-notice{
		.xld dt .xg1{
			font-size:13px;
		}
	}

}

.ua-mobile,.screen-s{
	.m-msg-list{
		background-color:#fafafa;
		margin:0 !important;
		padding:10px 0;
	}
	.m-msg-list-item{
		background-color:#fff;
		border-bottom:none;
		margin-bottom:10px;
		padding:10px 10px 10px 75px;
	}
}



	

	
