.m-msg-list{
	
}

.pm_op_r{
	padding-right:0;
}

.pm_o{
	.fz(13px,2);
	.color(#999,#999,#c00) !important;
	.o{
		.db;.fl;padding-left:22px;padding-right:5px;
		background:url('@{url}user/settings.svg') no-repeat 4px 5px;
		background-size:auto 60%;
	}
	.db;
	.xg1.z{
		margin-right:5px;
	}
}

.m-msg-list-item{

	.m-msg-list-item-check{
		.fr;
		*{.pointer;}
	}

	.pm_c{
	}

}

.ua-mobile,.screen-s{
	.m-msg-list{
		padding:0 10px;
	}
	.m-msg-list-item .pm_c{
	}
	.m-msg-list-item .pm_o{
		float:none;
	}
	.m-msg-list-item .ptm{
		.xg1{font-size:13px;}
	}
	#pm_ul .pm_o{
		float:right;
	}

	//pm
	.nts{
		padding:0 10px;
	}

	//短消息总数导出
	.pm_op_r{
		padding-left:5px;
		.xw1 a{.none;}
		font-size:13px;
		padding-right:10px;
	}

	.user-msg-notice{
		.xld dt .xg1{
			font-size:13px;
		}
	}

}





	

	
