@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
@import url('../../module/ui/button.less');

.m-msg-nav{
	.pr;
}

.user-msg-sendbutton{
	&:extend(.u-btn-blue);
	padding:0 10px;
	.pa;.rt(0,-2px);
	.lh(28px);
}

.pm_op_r{padding-right:0;}
.pm_op_r .xw1{font-weight:normal;}
.pm_c .o{.fr;margin-left:5px;}