@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
@import url('../../module/ui/button.less');

@import url('nav.less');
@import url('list.less');
@import url('setting.less');
@import url('post.less');

.ua-mobile,.screen-s{
	.i-header-tab{
		padding-left:5px;
	}
	//翻页
	.w-pages{
		padding:0 5px;
	}
	.pgs{
		padding:0 5px;
		a{margin-bottom:5px;}
	}
}




