@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
@import url('common.less');		//配色


.user-msg-notice-subnav{
	.clearfix;
	li{.fl;margin-right:10px;}
	background-color:#f7f7f7;
	.r(28px);
	.lh(28px);
	padding:0 10px;
	margin-top:10px;

	.a{
		.bold;
	}

	.y{
		.fr;
	}
}