@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
@import url('../../module/ui/button.less');
@import url('common.less');		//配色
.user-msg-pm-title{
	.pr;
	em{.fz(13px);color:@yel;}
}

.user-msg-pm-sendbutton{
	&:extend(.u-btn-blue);
	padding:0 10px;
	.pa;.rt(0,8px);
	.lh(32px);
}

/*.user-msg-nav{
	.clearfix;
	.lh(28px);
	border:1px solid #ddd;
	.r(2px);
	li{
		.fl;
		padding:0 10px;
	}
	.a{
		background-color:#f2f2f2;
	}
}*/

.pm_op_r{padding-right:0;}
.pm_op_r .xw1{font-weight:normal;}
.pm_c .o{.fr;margin-left:5px;}