.user-profile-info{
	.pn{
		.size(120px,36px);
		line-height:36px;
	}
}
.ua-mobile,.screen-s{

	.user-profile-info{
		//必填项
		.tfm th .rq{
			.fl;
		}

		.tfm th{
			.bold;
		}

		.tfm tr{
			margin-bottom:10px;
		}

		.tfm .px{
			.w(100%);
			box-sizing:border-box;
			.fzlh(1.2rem,36px);
			.r(3px);
		}

		.tfm td .d{
			color:#888;
			.fz(13px);
		}
	}
}