.user-profile-plugin{
}

.ua-mobile,.screen-s{
	.user-profile-plugin{

		//QQ绑定
		.bm2 .bm2_b{
			.w(auto);
			float:none;
		}
		.bm2_b_y{
			.none;
		}


		//修改用户名提示
		.m-nicname-tips{
			.db;
			color:@yel;
			margin-top:5px;
		}

	}
}

