@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色

//修改用户名提示
.m-nicname-tips{
	.db;
	color:@yel;
	margin-top:5px;
}

//认证
.user-profile-verif-ac,.user-profile-verif-tips{
	padding:0 10px;
}
.user-profile-verif-ac{
	margin-top:5px;
	color:@yel;
}
.user-profile-verif-tips{
	border-bottom:1px dashed #ddd;
	padding-bottom:5px;
	i{margin-top:-3px;margin-right:3px;}
}