body .edt{

	.bar{
		.clearfix;
		height:auto;
		background-color:#f7f7f7;
		padding:6px;
	}

	.u-panelbox{
		float:none;
	}
	.b1r a{
		line-height:15px;
	}
	.b2r a {
		margin-bottom:4px;
	}
	.bar a{
		border:none;
		border:1px solid #f7f7f7;
	}
	.dp{
		line-height:20px;
	}
	.bbar{
		line-height:2;
		.h(auto);
		em{.h(auto);}
	}
	.b1r,.b2r{
		.h(auto);
	}
	#e_page,#e_index{.none;}

	.u-editor-custom{
		.w(auto);.h(auto);
	}
}

//弹层位置
.postpage-container{
	//@与视频
	.p_pof.upf{margin-top:-200px;margin-left:-200px;}
	//字体
	.p_pop.fnm,.p_pop.fszm{margin-top:-200px;margin-left:-150px;}
}

.c-post-remember{
}

.c-post-primary{
}

//平板竖屏下
.ua-responsive .screen-m .edt .bar{
	.u-codemode,.u-panelbox{
		float:none;
	}
	.u-codemode{
		margin-right:10px;
		.clearfix;
		*{.fl;clear:none;}
		a{margin-right:5px;}
		#e_fullswitcher{.w(60px);.x;}
		#e_switcher{line-height:22px;padding-top:0 !important;margin-left:5px;.pc{margin-top: 5px;}}
		#e_simple{.none;}
	}
	.u-panelbox{
		.none;
	}
}
.ua-responsive .screen-m.e-fullscreen-edit .edt .bar{
	.u-panelbox{
		.db;
	}
}
.ua-responsive .screen-s .edt .bar{
	.none;
}


#e_cst1_macro img{.y(top);/*margin-top:2px;*/}