.c-post-extra{
}

.c-post-title{
	.pr;

	.u-check{
		.pa;.rt(0,0);
		.w(113px);
	}
}
.c-post-category{
	.pa;.lt(0,0);
}
.c-post-subject{
	.clearfix;
	float:none;
	.u-subject{
		.db;
		margin-left:110px;
		margin-right:123px;
	}
	.px{
		.db;
		width: 100% !important;
    	box-sizing: border-box;
	}
}

//标题内元素
.c-post-title{

	//标题输入框
	.u-subject,.u-reply-edit{
		.px{
			line-height:inherit;
			padding:0 10px;
		}
	}

	//编辑回复时的标题
	.u-reply{
		a{
			.color(@blue-link);
		}
	}

	//检查剩余可输入字数
	.u-check{
		#checklen{
			.color(@yel);
			.bold;
		}
	}
}

//附件提醒
.c-post-attachnotice{
}

//引用内容
.c-post-quote{
	background-color: #f7f7f7;
    border: 1px dashed #ddd;
    padding: 10px;
}

.ua-responsive .screen-s .c-post-title{
	.c-post-category{
		.ps;float:none;
		margin-right:0;
		margin-bottom:10px;
		a{.w(auto) !important;}
	}

	.c-post-subject .u-subject{
		margin:0 ;
		margin-bottom:5px;
		font-size:1.2rem;
	}

	.u-check{
		.ps;float:none;
		font-size:12px;
		.x(right);
		.db;
		.w(auto);
	}
}

.ua-responsive .screen-s{
  	.c-post-attachnotice,.c-post-quote{
		font-size:12px;
	}
}