.c-post-footer{

}
.c-post-postbar{

}

.c-post-rule{

}


.c-post-postbar{

	.u-button{
		padding:0 10px;
		min-width:80px;
	}

	.u-button-publish{

	}

	.u-button-draft{
		
	}

	.u-actopfollow{
		margin-left:10px;
	}

	.u-fromgroup{

	}

}

.ua-responsive .screen-s .c-post-postbar{
	.c-post-rule,.u-fromgroup{.none;}
}