.c-post-header{
	margin-bottom:10px;
}

.c-post-tab{
	margin:0 !important;
}

.c-post-draftlist{
	margin-top:5px;
}


.c-post-tips{
	.tips(graylight);
    padding: 3px 10px;
    margin-top: 10px;
    //border:1px dashed #ddd;
}

.c-post-custominfo{
	.db;
}

