.default-sidebar-downlist{
	a{
		.db;.lh(28px);
		.indent(22px);
		background:url('@{url}icon/icon-down_12.png') no-repeat 0 center;

	}
	a:hover{color:@blue-link;}
}
.ua-mobile,.screen-s{
	.default-sidebar-downlist{
		a{
			.lh(40px);
			border-bottom:1px solid #ddd;
		}
	}
}

.default-sidebar-wordlist,.default-sidebar-tasklist{
	a{
		.db;.lh(28px);
		.indent(20px);
		background:url('@{url}icon/icon-arrow_8.png') no-repeat 2px center;
		transition:background 0.15s ease-in;
		&:hover{
				background-position:10px center;
				color:@blue-link;
		}
	}
}
.ua-mobile, .screen-s{
	.default-sidebar-wordlist,.default-sidebar-tasklist{
		a{
			.lh(40px);
			border-bottom:1px solid #ddd;
		}
	}
}

/*.default-sidebar-tasklist{
	ul{padding:5px 0;}
	li{.lh(28px);padding-left:24px;}
	a:hover{color:@blue-link;}
}

.ua-responsive .screen-s .default-sidebar-tasklist{
	li{
		.lh(40px);
		border-bottom:1px solid #ddd;
	}
}*/


.default-sidebar-helplist{
	a{
		.db;
		padding-left:26px;
		background:url('@{url}icon/faq.gif') no-repeat 4px center;
		.fz(13px,28px);
		&:hover{
			color:@blue-link;
			text-decoration:underline;
		}
	}
}
.ua-mobile,.screen-s{
	.default-sidebar-helplist{
		a{
			.lh(40px);
			border-bottom:1px solid #ddd;
		}
	}
}