.ua-mobile,.screen-s{
	.i-header.showSidebar,.user-extend-menu{
		.z(40);
	}
	.default-sidebar,.user-extend-menu{
		.none;
		.w(100%);
		.pf;left:0;top:@c-header-height;.z(40);
	}
	.default-sidebar-title{
		padding:10px;
		margin:0;
		background:#fff;
		border-bottom:1px solid #ddd;
	}
	.default-sidebar-content{
		.none;
		.pf;.lt(0,0);.full;.z(40);
		overflow:auto;
		background-color:rgba(255,255,255,.95);
		padding:20px;
		box-sizing:border-box;
	}
}
.alertHTML.ua-mobile,.alertHTML .screen-s{
	.default-sidebar,.user-extend-menu{
		top:@c-header-height + @c-alert-height;
	}
}