.default-sidebar-admin{
	padding:5px 0;
	.fzlh(12px,2);
	.avt{
		.fl;.db;margin-right:10px;
		img{.r(48px);padding:2px;border:1px solid #eee;}
	}
	span{}
	.sms{
		.db;
		i{.dbi;.y;background:url('@{url}icon/pmto.gif') no-repeat 0 0;.size(16px);}
	}
	.qgroup{.db;}
}