.default-sidebar-search{
	padding:5px 0;
	.u-text{
		padding:0 5px;
		.y(top);
		.w(138px);
		.lh(26px);
	}
	.u-button-search{
		.y(top);
		padding:0 8px;
	}
	.hot{
		.clearfix;
		padding:3px 5px;
		.fz(12px,2);

		h3{.bold;.di;}
		.module{
			.di;.break;
			ul{.clearfix;.di;}
			li{.di;margin:0;margin-right:10px;.h(auto);}
			a{.color(#444,@bluex);}
			a:hover{text-decoration:underline;}
		}
	}
}

.ua-responsive .screen-s .default-sidebar-search{
	.u-text{.w(100%);box-sizing:border-box;}
	.u-button-search{margin-top:20px;.w(100%);box-sizing:border-box;}
} 