.user-os-content{
	.none;
}

.user-os-setting-credit{
	.clearfix;
	background-color:#fff;
	margin-bottom:12px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	li{
		.fl;.w(25%);
		border-right:1px solid #ddd;
		margin-left:-1px;
		padding:5px 0;
		&:last-child{
			border-right:none;
		}
	}
	.x;.fz(13px,2);
	label,span{.db;}
	span{}
}

.user-os-content-back{
	background-color:@blue-bg;
	border-top:1px solid @blue-bo;
	border-bottom:1px solid @blue-bo;
	.x;.db;
	.fz(13px,32px);color:#5987A9;
}