.user-os-footer{
	padding-top:10px;
}

.user-os-help{
	.pr;
	.fzlh(13px,28px);
	.x;
	i{.db;.h(1px);background-color:#ddd;.w(280px);.ct(o,280px,1px);}
	a{padding:0 10px;.color(#888,#444);background-color:#f7f7f7;.pr;}
}