.user-os-help,.user-os-logout{
	.none;
}
.ua-responsive .screen-s{
	.user-os-help,.user-os-logout{.db}
}

.user-os-help,.user-os-logout{
	.x;
	.lh(50px);
	background-color:#fff;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}
.user-os-logout{
	margin-top:20px;
	background-color:#444;
	color:#fff;
}