.user-os-main{
	padding:0!important;
}

.user-os-header{
	padding:10px 0;
	.clearfix;
}

.user-os-profile{
	.pr;
	.clearfix;
	padding-bottom:10px;
	border-bottom:1px dotted #ddd;
	min-height:52px;
}

.user-os-avt{
	padding-left:52px + 10px;
	.u-avt{
		.db;.pa;.lt(0,0);
		.size(48px);.r(48px);padding:2px;background-color:#fafafa;border:1px solid #eee;
		img{.db;.full;.r(48px);}
		&.null{
			background:url('@{url}common/anonymous.png') no-repeat center center;
		}
	}
	.u-meta{
		line-height:26px;
		font-size:13px;
	}
	.u-meta-1,.u-meta-2{.clearfix;}
	.u-name{
		.bold;
		.fl;
	}
	.e-vip{
		.fl;
		margin-top:5px;
		margin-left:5px;
	}
	.u-logout{
		margin-left:5px;
		.none;
	}
	.u-uid{
		.fl;margin-right:5px;
		letter-spacing:1px;
		color:#555;
		b{.color(@yel);margin-left:5px;}
	}
	.u-group{
		.fl;
		font-size:12px;
		background-color:#f7f7f7;
		padding:3px 5px;
		.r(2px);
		margin:0 5px;
		.dbi;
		line-height:14px;
		margin-top:4px;
	}
	.u-verif{
		.fl;margin-top:5px;
		a,img{.db;.fl;}
		a{margin-right:3px;}
	}
	.u-login{
		line-height:52px;
		font-size:1.2rem;
		.db;
	}
}

.user-os-info{
	.pa;.rt(0,0);
	.x(right);
	.u-mail{
		.db;
		text-indent:24px;
		&.novalidate{background:url('@{url}user/mail_inactive.png') no-repeat 0 center;}
		&.validate{background:url('@{url}user/mail_active.png') no-repeat 0 center;}
	}
	.u-space{
		.db;
		.color(#555,#222);
	}
	.u-meta-4{.none;}
	.u-sign{
		.db;
		padding:10px 20px;
		//.fl;
		//.c-header-sign{margin:0;}
	}
}

.user-os-credit{
	.clearfix;padding:10px 0;
	border-bottom:1px dotted #ddd;

	.u-credit-list{
		li{
			.fl;
			label{color:#555;background-color:#f7f7f7;padding:2px 5px;cursor:default;}
			margin-right:40px;
			a{color:@blue-link};
			a:hover{text-decoration:underline;}
			span{padding:0 5px;color:#555;}
		}
	}

	.u-credit-extend{
		.fr;
		a{
			margin-left:10px;.color(#fff);
			padding: 5px 8px;
			.r(3px);
		}
		//a:hover{text-decoration:underline;}

		.u-viplink{
			background-color:#e60000;
			&:hover{
				background-color:lighten(#e60000,5%);
			}
		}
		.u-code{
			background-color:#006acd;
			&:hover{
				background-color:lighten(#006acd,5%);
			}
		}

	}

}

.ua-responsive .screen-s{
	padding-top:0;
	background-color:#f7f7f7;
	.user-os-active{.none;}
	.user-os-header{padding:0;background-color:#fff;margin-bottom:12px;}

	.user-os-profile{padding:10px;border-bottom:1px solid #ddd;}
	.user-os-avt .u-avt{.lt(10px);}
	.user-os-avt .u-logout{.dbi;}
	
	.user-os-info .u-meta-3{.none;}
	.user-os-info .u-meta-4{.db;}
	.user-os-credit{.none;}

}