.user-os-nav{
	.none;
	
	background-color:#fff;
	margin-bottom:12px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;

	ul{}
	li{
		border-bottom:1px solid #eee;
		&:last-child{border-bottom:none;}
	}
	a{
		.db;
		.fzlh(13px,24px);padding:10px 10px;
		.pr;
	}
	em{
		background-color:#f00;color:#fff;.x;
		.w(18px);.r(2px);
		.fz(12px,14px);
		.ct(y,14px);right:10px;
		padding:0 2px;
		.none;
	}
	i{
		.size(18px);.dbi;.y;margin-right:10px;margin-top:-3px;
		background-repeat:no-repeat;
		background-position:center center;
	}
	.u-msg{
		background-image:url('@{url}user/msg.svg');
		background-size:100% auto;
	}
	.u-my{
		background-image:url('@{url}user/my.svg');
		background-size:auto 100%;
	}
	.u-fav{
		background-image:url('@{url}user/fav.svg');
		background-size:100% auto;
	}
	.u-feed{
		background-image:url('@{url}user/feed.svg');
		background-size:auto 90%;
	}
	.u-space{
		background-image:url('@{url}user/space.svg');
		background-size:auto 100%;
	}
	.u-profile{
		background-image:url('@{url}user/settings.svg');
		background-size:100% auto;
	}
	.u-buy{
		background-image:url('@{url}user/buy.svg');
		background-size:auto 100%;
	}
	.u-vip{
		background-image:url('@{url}user/vip.svg');
		background-size:auto 100%;
	}
	.u-code{
		background-image:url('@{url}user/code.svg');
		background-size:auto 100%;
	}
	.u-gift{
		background-image:url('@{url}user/gift.svg');
		background-size:auto 100%;
	}

}

.ua-mobile,.screen-s {
	.user-os-nav{
	  .db;
	}
}