.mgcl{
	li{
		.x;
		.fl;
		.w(96px);
		margin-right:55px;
		margin-bottom:40px;

		.xw1{.nobreak;}
		min-height:148px;

		.xi2{
			.color(#222,@blue-link);
		}
	}
}

.ua-responsive .screen-s{
	.tbmu{padding-left:10px;}
	.mgcl{padding-left:10px;}
	.mgcl li{margin-right:25px;margin-bottom:10px;}
}