
.mg_img{
	.x;
}

.el{
	line-height:26px;
	.t{
		.dbi;.y;
		img{.size(18px);.r(2px);.db;}
		margin-right:5px;
		margin-top:-1px;
	}
	li{
		border-bottom:1px solid #eee;
		line-height:40px;
	}
	li .xi2{
		.color(@blue-link);
	}
	li strong{
		.color(#555);
	}
	li{
		padding:2px 5px;
	}
}