.ua-mobile,.screen-s{
	.m-task-box{
		.table(block);

		td{border-bottom:none;}
		tr{border-bottom:1px dashed #ddd;padding:10px;margin-bottom:10px;}
	}
	.m-task-item-icon{
		/*.w(40px);.fl;
		img{max-width:40px;max-height:40px;}*/
		.none !important;
	}
	.m-task-item-ct{
		padding:0 !important;
		.xs0{.x(right);}
	}
	.m-task-item-gift{
		.clear;
		.x(left);
	}
	.m-task-item-go{
		margin-top:10px;
	}

	.user-task-content{
		padding:0 10px;
		.tfm{.table(reset);}
		tr td:first-child{.none;}
	}

}
.user-task-content{
	a{color:@blue-dark;}
	a:hover{text-decoration:underline;}
	a strong{.bold !important;}
}

