.about-container{
}

//公共模块
.m-timelist{
    ul{
        padding:0 0 0 100px;
        li{
            .pr;
            .db;padding-bottom:30px;
            border-left:3px solid #dedede;
            &:hover{
                i{transform:scale(1);}
                span{color:#666;}
            }
            a{
                .db;padding:0 30px;
                .lh(40px);
                .nobreak;
            }
            i{
                .db;.pa;.lt(-7px,9px);
                .size(10px, 20px);
                background: url("@{url}about/log.png") center #f7f7f7 no-repeat;
                transform:scale(0.8);
                transition:0.2s ease-in-out;
            }
            strong{
                .pa;.lt(-120px,0);
                .w(100px);overflow:hidden;
                .lh(40px);
                .color(#666);
                .x;
                //font-family:Helvetica,Tahoma,Consolas;
            }
            span{
                .db;padding:0 30px;
                color:#777;
                transition:0.2s ease-in-out;
                line-height:2;
                .pr;
                 &:after{
                    content:'';
                    .db;
                    //.pa;.rb(45px,5px);
                    //.w(30%);
                    margin:10px 10px 5px 0;
                    .h(1px);
                    border-bottom:1px dotted #ddd;
                }
            }
            .more{
                .pa;.rb(0,-6px);padding:0;
                .dbi;.size(40px,12px);.indent;
                background:url('@{url}icon/more.png') no-repeat 0 0; 
                &:hover{
                    background-position:0 -12px;
                }
            }
            
        }
    }
}

.ua-mobile,.screen-s{
    .m-timelist{
        ul{padding-left:0;}
        li strong{
            .ps;
            padding-left:30px;
        }
    }
    .w-mode{
        .none;
    }
} 