.m-about-join{
	margin-bottom:10px;
	ul{
		.db;
	}
	li{
		.db;.clearfix;
		border-bottom:1px solid #ddd;
		&:hover{
			background-color:#F6FAFD;
		}
		&.on{
			.details{
				.db;
			}
		}
	}
	.default{
		.lh(40px);
		*{
			.db;.fl;.w(18%);
			.indent(10px);
		}
		.email{
			.w(28%);
		}
	}
	.th{
		background-color:#f5f5f5;
		border-top:1px solid #ddd;
		&:hover{
			background-color:#f5f5f5;
		}
	}
	.default{
		.db;.full(x);.h(auto);
		.clearfix;
	}
	.details{
		.db;
		border-top:1px dotted #ddd;
		line-height:2.5;
		padding:10px;
		.none;
	}
	.go{
		.x;
	}
	a{
		.color(@bluex,#c00);
	}
	.sms{
		.none;
	}
}
.ua-responsive .screen-s{
	.m-about-join .default{
		.role{.w(40%);}
		.email{.w(40%);}
		.go{.w(20%);}
		.channel,.date{
			.none;
		}
	}
}