.f-392{
	.w-category,.w-order,.w-filter{.none;}
	.w-pages-top{.none;}
	.w-custom{.none;}
	.i-header-menu .u-post{.none;}
}

.m-about-log{
	margin-bottom:10px;
}

//发布按钮
.u-btn-publish{
	.none;
}
.adminHTML{
	.u-btn-publish{
		.db;
	}
	.i-header-menu .u-post{.db;}
}
.ua-responsive .screen-s{
	.pg{
		float:none;
		margin-bottom:10px;
	}
	.u-btn-publish{
		float:none !important;
		margin:0 auto !important;
		.clear;
	}
} 

//列表
.ua-responsive .screen-m .m-timelist ul{padding-left:100px;}
.ua-responsive .screen-s .mn{overflow:visible;} //for phone

