.f-392{
	.w-category,.w-order,.w-filter{.none;}
	.w-pages-top{.none;}
	.w-custom{.none;}
	.i-header-menu .u-post{.none;}
}

.m-about-log{
	margin-bottom:10px;
}
.c-fli-custom{
	line-height:2.5;
	ul{}
	li{}
	border-bottom:1px solid #eee;
	em{
		background-color:#f2f2f2;
		.r(2px);
		padding: 3px 6px;
		margin-right: 5px;
		color:#555;
	}
	span{

	}
}

//发布按钮
.u-btn-publish{
	.none;
}
.adminHTML{
	.u-btn-publish{
		.db;
	}
	.i-header-menu .u-post{.db;}
}
.ua-mobile{
	.pg{
		float:none;
		margin-bottom:10px;
	}
	.u-btn-publish{
		float:none !important;
		margin:0 auto !important;
		.clear;
	}
} 

//列表
.ua-mobile .mn{overflow:visible;} //for phone

