.jx3pve-container{
	padding-bottom:10px;
}

.ct1{
	border:none;
}
#ct .mn{
	border:1px solid #eee;
}
#ct.ct2_a .mn{
	border:none;
}

.tbmu .pn{
	.lh(28px);
}

.ua-mobile,.screen-s{

	body{
		background-color:#fafafa;
	}

	#ct .mn{
		border:none;
	}
	.bm_c{
		padding:10px;
	}

	.tbmu{
		padding:0 10px;
		margin-bottom:10px;
		border-bottom:none;
	}

	.tbmu .pn{
		.clear;
	}

	.pgs{
		padding:0 10px;
	}
}

#click_div{
	padding:10px;
	table{.auto(x);}
	td{min-width:60px;}
}