//记录
.m-record-item{
	.cmt .pts{
		&:extend(.u-text);
		.lh(28px);
		padding:0 10px;
		// box-sizing:border-box;
	}
	.cmt{
		background-color:#f7f7f7;
	}
	.brm{
		.r(3px);
		padding:0 10px;
	}
}

#moodfm{
	margin-bottom:20px;
	background-color:#fafafa;
	border:1px solid #eee;
	padding:20px;
	.r(4px);

	table{
		.w(100%);
	}
}
.p_pop.facel li{
	margin-right:10px;
}
.moodfm_input{
	#message{
		.full(x);
		&:extend(.u-textarea);
		box-sizing:border-box;
		padding:10px;
		.h(60px);
	}
}
.moodfm_btn{
	.w(120px);
	background: none;
	padding:0;
	button{
		.db;
		.w(90%);
		.lh(60px);
		.auto(x);
		font-size:16px;
		&:extend(.u-button);
		.tm(1);
	}
}
.moodfm_f{
	padding:5px 0;
}

.ua-mobile,.screen-s {
	#moodfm{
		padding:10px;
		.table(block);
	}
	.moodfm_btn{
		.w(auto);
		.clearfix;
	}
	.moodfm_btn button{
		.lh(28px);
		.fr;
		.w(120px);
		margin-top:10px;
	}
	.moodfm_input #message{
		padding:2px;
	}
	.m-record-item{
		background-color:#fff;
		padding:10px;
		margin-bottom:20px;
	}
}