//详细资料
.user-space-profile{
	.m-profile{
		*{line-height:2.2;}
		h2{line-height:2;}

		.pf_l li{
			.w(30%);.fl;
			.nobreak;
			padding-right:20px;
			box-sizing:border-box;
			em{color:#555;margin-right:5px;}
		}
	}
	.m-name,.m-base{
		padding:0 !important;
		margin:0 !important;
	}
	.m-count{
		margin-bottom:10px;
	}
	.m-verif *{
		line-height:1 !important;
	}
	.m-verif h2{
		line-height:2 !important;
		margin-bottom:0 !important;
	}
	.m-warning{
		.dt{border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;}
		.dt td, .dt th{padding:0 5px;}
		.dt th{background-color:#f7f7f7;}
	}
}
	
.ua-mobile,.screen-s{
	.user-space-profile{
		font-size:13px;
	}
	.m-profile{
	}
	.m-profile .pf_l li{
		.w(auto);
		float:none;
	}
	.bbda{
		border-bottom:none;
	}
	.user-space-profile-block{
		background-color:#fff;
		border-bottom:none;
		padding:10px;
		margin-bottom:10px;
	}
}
