//分享
//前台
#share_ul{
	margin-top:10px;
	li{
		margin-bottom:10px;
		.h{
			//background-color:#f7f7f7;
			border-bottom:none;
			.y{.none;}
			padding:0 10px;
			//margin-bottom:10px;
			text-align: right;
		}
		.ec{
			padding:0 20px;
			line-height:2.5;
			.d a{.color(@blue-link);&:hover{text-decoration:underline;}}
			.quote{
				color:#888;
			}
    		background-color:#EFF8FD;
			border:1px solid #BADCF1;
		}
	}
}
//后台
.m-share{
	padding:5px 20px 25px 20px;
	background-color:#fafafa;
	border:1px solid #eee;
	.r(4px);
	margin:0 0 20px 0;
}
.m-share-title{
	.w(auto) !important;
	line-height:2.5;
	.xi2{
		.fr;
	}
}
.m-share-box{
	.pr;
}
.m-share-input{
	.db;
	margin-right:58px;
	.u-text{
		.db;
		padding:0 10px;
		.w(100%);
		box-sizing:border-box;
		.h(28px);
	}
}
.m-share-button{
	.pa;.rt(0,0);
	.w(48px);
	box-sizing:border-box;
	.lh(28px);
}
.m-share-desc{
	.w(100%) !important;
	padding:0 10px;
	box-sizing:border-box;
}


.ua-mobile,.screen-s{
	
	#click_div{.none;}
	.vw .o{
		a,.pipe{.none;}
		.ofav,.oshr{.db;}
		.oivt{.none;}
	}
	#fwin_a_favorite,#fwin_a_share{
		.c textarea{
		    width: 100% !important;
	    	box-sizing: border-box;
    	}
    	.m_c .el{
    		.w(auto);
    	}
	}
}