.listpage-container,.viewpage-container,.postpage-container{
	//background-color:#f7f7f7;
	//padding-top:2px;
}

.default-main{
	//.pr;
	padding:0 0 20px 0;
	.clearfix;
}

.default-sidebar{
	.w(@sd);
	.fl;
}

.default-content{
	.fr;
	.r(4px);
	.w(@ctm);
}

.postpage-container{
	.default-content{
		border:none;
	}
}

.ua-mobile,.screen-s{
	.default-sidebar{
		.none;
	}
	.default-content{
		margin-left:0;
		padding:0;
		border:none;
		float:none;
		.w(auto);
	}
}

//超级宏、群组等部分栏目无侧边栏
.f-85,#nv_group{
	.noSidebar();
}