.listpage-container,.viewpage-container,.postpage-container{
	//background-color:#f7f7f7;
	padding-top:2px;
}

.default-main{
	//.pr;
	padding:10px 0 20px 0;
	.clearfix;
}

.default-sidebar{
	//.pa;.lt(0,0);
	.w(@sd);
	.fl;
	//padding:20px;
	//background-color:#fff;
	//.r(4px);
}

.default-content{
	//margin-left:@sd + 20px;
	.fr;
	//padding:10px 0;
	background-color:#fff;
	//border:1px solid #ddd;
    //box-shadow: 0 0 4px rgba(0,0,0,0.1);
	.r(4px);
	.w(@ct);
}
.ua-responsive .screen-m{
	.default-content{.w(@ctm  - 20px*2);}
}

.postpage-container{
	.default-content{
		border:none;
	}
}




.ua-responsive .screen-s{
	.listpage-container,.viewpage-container,.postpage-container{
		background-color:#fff;
	}
	.default-sidebar{
		.none;
	}
	.default-content{
		margin-left:0;
		padding:0;
		border:none;
		float:none;
		.w(auto);
	}
}

//超级宏等部分栏目无侧边栏
.f-85{
	.default-sidebar{.none;}
	.default-content{margin-left:0;}
}
//群组无侧边栏
#nv_group{
	&:extend(.f-85);
}

