.screen-s{
	padding-top:0;

	.index-container{
		padding:0;
	}
	
	.index-content,.index-sidebar{
		float:none;.w(auto);
	}
	.m-index-my,.m-index-os{
		.none;
	}
	.c-compass{.none;}

	.m-index-news h2 .u-title{
		.none;
		&.on{
			.db;
			.color(#444);
			.u-divding{.none;}
		}
	}

	.m-index-news{
		padding:0 10px;
	}

	.m-index-list ul li  a em{
		.none;
	}
}
.ua-responsive .screen-s .wp{
	padding:0;
}