.ua-responsive .screen-s{
	padding-top:0;
	.wp,.index-container{
		padding:0;
	}
	.index-content,.index-sidebar{
		float:none;.w(auto);
	}
	.m-index-my,.m-index-os,.c-compass{
		.none;
	}

	.m-index-ac{
		h2 a{
			.bold;
			//color:@blue-link;
			//i{background-position:0 -16px;}
		}
	}

	.m-index-content-wrapper{
		background:none;
	}

	.m-index-zt{
		background-color:#fcfcfc;
		float:none;.w(auto);
		ul{border-bottom:none;}
		li{.w(50%);.fl;border-bottom:1px solid #eee;}
		margin-bottom:12px;
	}

	.m-index-news{
		margin-bottom:10px;
		padding:0 10px;
		margin-left:0;
		h2 .u-title{
			.none;
			&.on{
				.db;.bold;
				color:#444;
				.u-divding{.none;}
				//.u-ico{background-position:0 -16px;}
			}
		}
	}
	.m-index-list ul li  a em{
		.none;
	}
}