.m-index-os{
	//border:1px solid #eee;
	padding:10px;
	.r(3px);
	margin-bottom:20px;
	a{.db;.x;}
	.u-title{.fz(16px);.color(@blue-link,#c00);}
	.u-desc{.color(#666,#c00);}
	background-color:#eff6fa;
	&:hover{background-color:#eff6fa;}
}

.m-index-my{
	margin-bottom:20px;
	ul{
		
	}
	li{
		//margin-bottom:3px;
	}
	a{
		.db;
		.color(#444,@blue-link);
		line-height:36px;
		padding-left:10px;
		border-bottom:1px solid #eee;
		&:hover{
		    //background: #eff6fa;
    		//.r(3px);
    		/*border-bottom:1px solid #ddd;
    		border-top:1px solid #ddd;*/
		}
	}
	i{
	    display: inline-block;
	    vertical-align: middle;
	    width: 16px;
	    height: 16px;
	    margin-right:3px;
	}
	.u-my{
		background: url('@{url}forum/my.png') no-repeat 0 0;
    	margin: -2px 5px 0 0;
	}
	.u-fav{
		background: url('@{url}forum/star.png') no-repeat 0 0;
    	margin: -3px 5px 0 0;
	}
	.u-feed{
	    background: url('@{url}forum/feed.png') no-repeat 0 0;
    	margin: -3px 5px 0 0;
	}
}

.m-index-ac{
	margin-bottom:20px;

	h2{
		margin-bottom:5px;
		a{
			.db;
			.color(#444,@blue-link);
			line-height:36px;
			padding-left:10px;
			border-bottom:1px solid #eee;
		}

		i{
		    display: inline-block;
		    vertical-align: middle;
		    width: 16px;
		    height: 16px;
		    margin-right:3px;
			background: url('@{url}forum/my.png') no-repeat 0 0;
	    	margin: -2px 5px 0 0;
		}
	}

	ul{
		
		//list-style:square;
	}
	li{
		/*list-style:square;
		list-style-position:inside;*/
		a{
			padding-left:20px;
			.db;.nobreak;
			line-height:30px;
			.color(#666,@blue-link);
			background: url('@{url}index/arrow.png') no-repeat 5px center;
		}
		em{color:#ccc;.fr;.none;}
	}
}

.m-index-wxcode{
	.x;
	background:#fafafa;
	padding:20px 0;
	.u-img{.db;.auto(x);}
	b{/*.color(@blue-link);*/.bold;}
}