<div class="wp">
    <!-- 标题 -->
    <div class="columns-title">
        <a href="http://www.jx3pve.com/forum-283-1.html"></a>
    </div>

    <!-- 分类导航 -->
    <div class="tab">
        <ul>
            <li class="man"><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pet_type=1"><i></i><span>水族</span></a></li>
            <li class="boy"><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pet_type=2"><i></i><span>走兽</span></a></li>
            <li class="lady"><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pet_type=3"><i></i><span>禽鸟</span></a></li>
            <li class="loli"><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pet_type=4"><i></i><span>机关</span></a></li>
        </ul>
    </div>

</div>

<!-- 菜单栏 -->
<div class="nav">
    <div class="wp">
        <ul>
            <li class="on"><a href="forum.php?mod=forumdisplay&fid=283">宠物首页</a></li>
            <li><a href="javascript:void(0)" id="map">实时地图</a></li>
            <li><a href="http://hebe.jx3pve.com/" target="_blank">抓宠工具</a></li>
            <li><a href="forum.php?mod=post&action=newthread&fid=283&extra=" title="发布或修正新的宠物攻略" target="_blank">发布攻略</a></li>
        </ul>
        <div class="pet-search">
            <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=283&amp;filter=sortid&amp;sortid=17">
            <label for="">宠物名称</label>
            <input type="text" name="searchoption[170][value]" size="15" class="px vm" value="">
            <button type="submit" class="gray-btn" name="searchsortsubmit"><em>搜索</em></button>
            </form>
        </div>
    </div>
</div>

 <!-- <li><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pey_from=1">世界奇遇</a></li>
        <li><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pey_from=4">秘境奇遇</a></li>
        <li><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pey_from=2">门派特有</a></li>
        <li><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pey_from=3">节日活动</a></li>
        <li><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pey_from=5">积分回馈</a></li>
        <li><a href="forum.php?mod=forumdisplay&fid=283&filter=sortid&sortid=17&searchsort=1&pey_from=6">充值活动</a></li> -->
