//相册
.tbmu .pn{
	.lh(28px);
}

.bm_h{
	border:1px solid #ddd;
}
#click_div{
	padding:10px;
	table{.auto(x);}
	td{min-width:60px;}
}
.pbn .z{margin-right:10px;}

.m-album-comment{
	.tedt{
		.w(auto);
	}
}

.ua-responsive .screen-s {
	.tbmu{
		padding-left:10px;
	}
}