//日志
.ct_vw_mn{
	float:none;
	.w(auto);
	.tedt{
		.w(auto);
	}
}
#blog_article{
	line-height:2.2;
}

.m-blog{
	.ph{
		padding:0;
		font-size:16px;
		.default-fontfamily();
	}
}
.bm{margin-bottom:0;border:none;}
.bm_h{.none;}

.ua-responsive .screen-s{
}

//表态
.atd{
	td{.x;}
}
.atdc{
	.x;
}