.jx3pve-container{
	padding-bottom:10px;
}

//公共头部
#pt{
	margin-bottom:10px;
}
#pt,#uhd{
	.w(@wpm);
	.auto(x);
}
#uhd{
	background-color:#f7f7f7;
}
#uhd .tb a{
	border-top:none;
	border-bottom:none;
}

.ua-responsive .screen-s #uhd{
	.w(auto);
	.pr;
	
	.mt{padding:0;}
	p{.nobreak;.none;}
	.mn{
		.pa;.lt(75px,36px);
		margin:0;
		li{.fl;margin-right:8px;}
	}
	.tb{padding-left:0 !important;}
	.tb .a a{border:none;}
}

.ua-responsive .screen-s{
	#click_div{.none;}
	.vw .o{
		a,.pipe{.none;}
		.ofav,.oshr{.db;}
		.oivt{.none;}
	}
	#fwin_a_favorite,#fwin_a_share{
		.c textarea{
		    width: 100% !important;
	    	box-sizing: border-box;
    	}
    	.m_c .el{
    		.w(auto);
    	}
	}
}