.jx3pve-container{
	padding-bottom:10px;
}

//公共头部
#pt{
	margin-bottom:10px;
}
#pt,#uhd{
	.w(@wpm);
	.auto(x);
}
#uhd{
	background-color:#f7f7f7;
}
#uhd .tb a{
	border-top:none;
	border-bottom:none;
}
