.jx3pve-container{
	padding-bottom:10px;
}

.bm{margin-bottom:0;border:none;}
.bm_h{.none;}

.ct1{
	border:none;
}
//通栏 vs 侧边
#ct .mn{
	border:1px solid #eee;
}
#ct.ct2_a .mn{
	border:none;
}

//公共头部
#uhd{
	background-color:#fafafa;
	border:1px solid #eee;
	border-bottom:none;
}

#uhd .tb {
	margin-top:10px;
	border-bottom:none;

	a{
		margin-right:5px;
		border-top:none;
		border-bottom:none;
		background-color:#f5f5f5;
	}

	.a a{
		background-color:@blue-bg;
		border:1px solid #eee;
		color:@blue-link;
	}
}

.ua-responsive .screen-s #uhd{
	.w(auto);
	.pr;
	
	.mt{padding:0;}
	p{.nobreak;.none;}
	.mn{
		.pa;.lt(75px,36px);
		font-size:12px;
		margin:0;
		li{.fl;margin-right:8px;}
	}
	.tb{padding-left:0 !important;}
	.tb .a a{border:none;}
}

.ua-responsive .screen-s{
	.wp{
		padding:0;
	}
	#click_div{.none;}
	.vw .o{
		a,.pipe{.none;}
		.ofav,.oshr{.db;}
		.oivt{.none;}
	}
	#fwin_a_favorite,#fwin_a_share{
		.c textarea{
		    width: 100% !important;
	    	box-sizing: border-box;
    	}
    	.m_c .el{
    		.w(auto);
    	}
	}
}