.my_flw_stats{
	.pa;.rt(0,0);
	.w(168px);
	ul{}
	li{line-height:36px;border-bottom:1px solid #ddd;}
	a{margin-left:5px;}
}
#flw_header{
	.pr;

	#fastpostform{
		float:none !important;
		margin-right:188px;
	}

	.tedt .bar{
		border-bottom:none;
	}

	.tedt{
		.w(100%);
		box-sizing:border-box;
	}

	.pnpost{
		padding:10px 0;
	}
	.pnpost .pn{
		.lh(28px);
		margin-right:0;
	}
	.syncbbs{
		.none;
	}

}
.ct1 #flw_header #fastpostform{
	margin-right:0;
}
.pnpost .pn{
	padding:0 10px;
}

.flw_avt{
	margin-right:5px;
	margin-top:5px;
	img{.size(20px);.db;}
}
.flw_author{
}
.flw_delete{
	.fr;.color(#555,@blue-link);
}
.flw_article{
	border-bottom:1px dashed #ddd;
	padding-bottom:5px;
	margin-bottom:5px;

	h2{
		.default-fontfamily;
		.bold;
		margin-top:10px;
	}

	img{
		max-width:100%;
	}

	.t_table td{
		border:1px solid #ddd;
		padding:2px 5px;
	}
}

.flw_readfull{
	.color(@blue-link,@blue-link);
	&:hover{text-decoration:underline;}
}

.ua-responsive .screen-s{
	.my_flw_stats{
		.ps;float:none;
		li{.fl;.w(33%);.x;}
		ul{.clearfix;}
		.w(auto);
	}

	#flw_header #fastpostform{
		margin:10px 10px 0 10px;
	}

	#flw_header{
		margin-bottom: 0 !important;
	}

	#followlist li{padding:0 10px;}

	#uhd .flw_hd{
		float:none;margin:0 auto;
		background-color: #fff;
    	margin-bottom: 10px;
    	border-bottom:1px solid #ddd;
    	.w(auto);
    	.tns{.auto(x);}
    	.none;
	}

}