@import url('../../public/base.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
.m-friend-box{
	padding-right:0 !important;
}
.m-friend-search{
	margin-right:0 !important;
	//float:none !important;
	.w(222px) !important;
	//.h(574px);
}


#friend_ul{
	.clearfix;
	ul{
		padding:10px;
	}
	li{
		//.fl;
		.dbi;.y(top);
		.w(140px);
		padding:10px;
		margin-bottom:10px;
		margin-right:10px;
		border:1px solid #eee;

		h4{
			a{.nobreak;}
			img{.db;}
			//span{.fl;margin-right:2px;}
			.xg1{.none;}
		}
		.maxh{.none;}
	}
}
.ua-mobile,.screen-s{
	#friend_ul li{
		.w(39%);
	}
}

.buddy_group{
	li{
		.o,.b{
			.fr;
			.color(#888,@blue-link);
		}
		.o{
			margin-right:5px;
		}
	}
}

.ua-mobile,.screen-s {
	.tbmu{padding:5px 10px;}
	.m-friend-box{padding:0 !important;}
	.m-friend-search{.none !important;}
	.buddy{margin:0;}
	.buddy li{margin:0;}
	.w-pages{padding:0 10px;}
	.m-friend-black{
		margin:0 10px;
	}
	.mtw.xs2{padding:0 10px;}
	.buddy h4{.h(auto);}

}