//详细资料
	.u_profile{
		*{line-height:2.2;}
		h2{line-height:2;}

		.pf_l li{
			.w(30%);.fl;
			.nobreak;
			padding-right:20px;
			box-sizing:border-box;
			em{color:#555;margin-right:5px;}
		}
	}
	.m-name,.m-base{
		padding:0 !important;
		margin:0 !important;
	}
	.m-count{
		margin-bottom:10px;
	}
	.m-verif *{
		line-height:1 !important;
	}
	.m-verif h2{
		line-height:2 !important;
		margin-bottom:0 !important;
	}
	.m-warning{
		.dt{border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;}
		.dt td, .dt th{padding:0 5px;}
		.dt th{background-color:#f7f7f7;}
	}


