//分享
//前台
#share_ul{
	margin-top:10px;
	li{
		margin-bottom:10px;
		.h{
			background-color:#f7f7f7;
			border-bottom:none;
			.y{.none;}
			padding:0 10px;
			margin-bottom:10px;
		}
		.ec{
			padding:0 20px;
			line-height:2.5;
			.d a{.color(@blue-link);&:hover{text-decoration:underline;}}
			.quote{
				color:#888;
			}
		}
	}
}
//后台
.m-share{
	padding:10px 20px 25px 20px;
	background-color:#f7f7f7;
	border:1px dashed #ddd;
	margin:0 0 20px 0;
	.r(4px);
}
.m-share-title{
	.w(auto) !important;
	line-height:2.5;
	.xi2{
		.fr;
	}
}
.m-share-box{
	.pr;
}
.m-share-input{
	.db;
	margin-right:58px;
	.u-text{
		.db;
		padding:0 10px;
		.w(100%);
		box-sizing:border-box;
	}
}
.m-share-button{
	.pa;.rt(0,0);
	.w(48px);
	box-sizing:border-box;
	.lh(28px);
}
.m-share-desc{
	.w(100%);
	padding:0 10px;
	box-sizing:border-box;
}
