//主题
.m-space-threadlist{
	table{
		.w(100%);
	}
	td,th{
		padding:6px 5px;
		border-bottom:1px solid #ddd;
		line-height:2.2;
	}
	th{
		.tps{.none;}
	}
	.th{
		background: none;
		td,th{
			border-bottom:1px dashed #ddd;
			color:#555;
		}
	}
	tr:hover th, tr:hover td{
		background-color:@blue-bg;
	}
	.frm{
		.w(100px);
	}
	.num{
		padding:0 10px;
		em{.di;}
		.w(120px);
	}
	.by{
		.w(180px);
		cite{.di;}
	}
	.num,.by{
		.x(right);
		line-height:2;
	}
	.by{
		em{.color(#555,#888,#888);}
	}
}
.ua-responsive .screen-s .m-space-threadlist{
	table{.table(block);}
	.th{.none;}
	td{.none !important;}
	.bw0_all{
		border-bottom:1px solid #ddd !important;
	}
}