<div id="threadlist" class="c-flist bmw"{if $_G['uid']} style="position: relative;"{/if}>
	$sorttemplate['header']
	<form method="post" autocomplete="off" name="moderate" id="moderate" action="forum.php?mod=topicadmin&action=moderate&fid=$_G[fid]&infloat=yes&nopost=yes">
		$sorttemplate['body']
		<!--{if $_G['forum']['ismoderator'] && $_G['forum_threadcount']}-->
			<!--{template forum/topicadmin_modlayer}-->
		<!--{/if}-->
	</form>
	$sorttemplate['footer']
</div>

<!--{template widget/w_pages_bottom_list}-->

<script src="http://js.jx3pve.com/js/widget/w-sorttarget.min.js"></script>