<!--{eval $adveditor = $isfirstpost && $special || $special == 2 && ($_GET['action'] == 'newthread' || $_GET['action'] == 'reply' && !empty($_GET['addtrade']) || $_GET['action'] == 'edit' && $thread['special'] == 2);}-->
<!--{eval $advmore = !$showthreadsorts && !$special || $_GET['action'] == 'reply' && empty($_GET['addtrade']) || $_GET['action'] == 'edit' && !$isfirstpost && ($thread['special'] == 2 && !$special || $thread['special'] != 2);}-->
<form method="post" autocomplete="off" id="postform"
	{if $_GET[action] == 'newthread'}action="forum.php?mod=post&action={if $special != 2}newthread{else}newtrade{/if}&fid=$_G[fid]&extra=$extra&topicsubmit=yes"
	{elseif $_GET[action] == 'reply'}action="forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]&extra=$extra&replysubmit=yes"
	{elseif $_GET[action] == 'edit'}action="forum.php?mod=post&action=edit&extra=$extra&editsubmit=yes" $enctype
	{/if}
	onsubmit="return validate(this)">
	<div id="ct">
		<input type="hidden" name="formhash" id="formhash" value="{FORMHASH}" />
		<input type="hidden" name="posttime" id="posttime" value="{TIMESTAMP}" />
		<!--{if $_GET['action'] == 'edit'}-->
			<input type="hidden" name="delattachop" id="delattachop" value="0" />
		<!--{/if}-->
		<!--{if !empty($_GET['modthreadkey'])}--><input type="hidden" name="modthreadkey" id="modthreadkey" value="$_GET['modthreadkey']" /><!--{/if}-->
		<input type="hidden" name="wysiwyg" id="{$editorid}_mode" value="$editormode" />
		<!--{if $_GET[action] == 'reply'}-->
			<input type="hidden" name="noticeauthor" value="$noticeauthor" />
			<input type="hidden" name="noticetrimstr" value="$noticetrimstr" />
			<input type="hidden" name="noticeauthormsg" value="$noticeauthormsg" />
			<!--{if $reppid}-->
				<input type="hidden" name="reppid" value="$reppid" />
			<!--{/if}-->
			<!--{if $_GET[reppost]}-->
				<input type="hidden" name="reppost" value="$_GET[reppost]" />
			<!--{elseif $_GET[repquote]}-->
				<input type="hidden" name="reppost" value="$_GET[repquote]" />
			<!--{/if}-->
		<!--{/if}-->
		<!--{if $_GET[action] == 'edit'}-->
			<input type="hidden" name="fid" id="fid" value="$_G[fid]" />
			<input type="hidden" name="tid" value="$_G[tid]" />
			<input type="hidden" name="pid" value="$pid" />
			<input type="hidden" name="page" value="$_GET[page]" />
		<!--{/if}-->
		<!--{if $special}-->
			<input type="hidden" name="special" value="$special" />
		<!--{/if}-->
		<!--{if $specialextra}-->
			<input type="hidden" name="specialextra" value="$specialextra" />
		<!--{/if}-->
		<div class="c-post"{if !$showthreadsorts && !$adveditor} id="editorbox"{/if}>

			<div id="postbox">

				<!--{subtemplate forum/post_x_header}-->
				
				<!--{hook/post_top}-->

				<!--{subtemplate forum/post_editor_extra}-->

				<!--{subtemplate forum/post_editor_body}-->

				<!--{hook/post_middle}-->

				<!--{subtemplate forum/post_editor_attribute}-->

				<!--{subtemplate forum/post_x_footer}-->

				<!--{hook/post_bottom}-->
				
			</div>

		</div>
	</div>
</form>
<iframe name="ajaxpostframe" id="ajaxpostframe" style="display: none;"></iframe>
<div id="{$editorid}_menus" class="editorrow" style="overflow: hidden; margin-top: -5px; height: 0; border: none; background: transparent;">
	<!--{subtemplate common/editor_menu}-->
	<!--{subtemplate forum/editor_menu_forum}-->
</div>