<!--{hook/viewthread_beginline}-->
<div id="postlist" class="pl bm">

	<div class="c-forum-top">
		<!-- jx3pve:c_forum_title -->
		<!--{subtemplate component/c_forum_title}-->

		<!-- jx3pve:c_forum_mark -->
		<!--{subtemplate component/c_forum_mark}-->
	</div>

	<!--{eval $postcount = 0;}-->
	<!--{loop $postlist $post}-->
		<!--{if $rushreply && $_GET['checkrush'] && $post['rewardfloor'] != 1}-->
			<!--{eval continue;}-->
		<!--{/if}-->

		<!--{if $post[first]==1}-->
		<div class="c-fli-first" id="post_$post[pid]" {if $_G['blockedpids'] && $post['inblacklist']}style="display:none;"{/if}>
			<!--{subtemplate forum/viewthread_node}-->
			<!--{subtemplate forum/viewthread_cmttitle}-->
		</div>
		<!--{else}-->
		<div class="c-fli" id="post_$post[pid]" {if $_G['blockedpids'] && $post['inblacklist']}style="display:none;"{/if}>
			<!--{subtemplate forum/viewthread_node}-->
		</div>
		<!--{/if}-->

		<!--{eval $postcount++;}-->
	<!--{/loop}-->

	<div id="postlistreply" class="pl">
		<div id="post_new" class="viewthread_table c-fli" style="display: none"></div>
	</div>

	<!--{if $_G['blockedpids']}-->
		<div id='hiddenpoststip'><a href='javascript:display_blocked_post();'>{lang other_reply_hide}</a></div>
		<div id="hiddenposts"></div>
	<!--{/if}-->

</div>