<!--{hook/viewthread_beginline}-->
<div id="postlist" class="c-fli-box">

	<!-- jx3pve:c_fli_title -->
	<div class="c-fli-top">
		<!--{subtemplate component/c_fli_title}-->
		<!--{subtemplate component/c_fli_meta}-->
		<!--{subtemplate component/c_fli_info}-->
	</div>

	<!--{eval $postcount = 0;}-->
	<!--{loop $postlist $post}-->
		<!--{if $rushreply && $_GET['checkrush'] && $post['rewardfloor'] != 1}-->
			<!--{eval continue;}-->
		<!--{/if}-->

		<!--{if $post[first]}-->
			<div class="c-fli-first c-fli-common" id="post_$post[pid]" {if $_G['blockedpids'] && $post['inblacklist']}style="display:none;"{/if}>
				<!--{subtemplate forum/viewthread_node}-->
				<!-- jx3pve:w-tgpost -->
				<!--{subtemplate widget/w_tgpost}-->
				<!--{subtemplate forum/viewthread_cmttitle}-->
			</div>
		<!--{else}-->
			<div class="c-fli c-fli-common" id="post_$post[pid]" {if $_G['blockedpids'] && $post['inblacklist']}style="display:none;"{/if}>
				<!--{subtemplate forum/viewthread_node}-->
			</div>
		<!--{/if}-->

		<!--{eval $postcount++;}-->
	<!--{/loop}-->

	<div id="postlistreply" class="c-fli-box">
		<div id="post_new" class="viewthread_table c-fli" style="display: none"></div>
	</div>

	<!--{if $_G['blockedpids']}-->
		<div id='hiddenpoststip'><a href='javascript:;' id="w-tgpost-showall">{lang other_reply_hide}</a></div>
		<div id="hiddenposts"></div>
	<!--{/if}-->

</div>