<!--{eval
$needhiddenreply = ($hiddenreplies && $_G['uid'] != $post['authorid'] && $_G['uid'] != $_G['forum_thread']['authorid'] && !$post['first'] && !$_G['forum']['ismoderator']);
$postshowavatars = !($_G['setting']['bannedmessages'] & 2 && ($post['memberstatus'] == '-1' || ($post['authorid'] && !$post['username']) || ($post['groupid'] == 4 || $post['groupid'] == 5) || ($post['status'] & 1)));
}-->
<!--{block authorverifys}-->
<!--{loop $post['verifyicon'] $vid}-->
	<a href="home.php?mod=spacecp&ac=profile&op=verify&vid=$vid" target="_blank"><!--{if $_G['setting']['verify'][$vid]['icon']}--><img src="$_G['setting']['verify'][$vid]['icon']" class="vm" alt="$_G['setting']['verify'][$vid][title]" title="$_G['setting']['verify'][$vid][title]" /><!--{else}-->$_G['setting']['verify'][$vid]['title']<!--{/if}--></a>
<!--{/loop}-->
<!--{loop $post['unverifyicon'] $vid}-->
	<a href="home.php?mod=spacecp&ac=profile&op=verify&vid=$vid" target="_blank"><img src="$_G['setting']['verify'][$vid]['unverifyicon']" class="vm" alt="$_G['setting']['verify'][$vid][title]" title="$_G['setting']['verify'][$vid][title]" /></a>
<!--{/loop}-->
<!--{/block}-->

<!--{if empty($post['deleted'])}-->
	<!-- dz:如果未被删除 -->
<div id="pid$post[pid]" class="plhin" summary="pid$post[pid]" cellspacing="0" cellpadding="0">
	
	<!-- dz:且如为正常模式 -->
		
		<!-- jx3pve:c-fli-header -->
		<!--{subtemplate component/c_fli_header}-->
		
		<!-- jx3pve:c-fli-content -->
		<!--{subtemplate forum/viewthread_node_body}-->

		<!-- jx3pve:c-fli-footer -->
		<div class="c-fli-footer">
		<!--{subtemplate component/c_fli_nextpre}-->
		<!--{subtemplate component/c_fli_commend}-->
		<!--{subtemplate component/c_fli_panel}-->
		</div>

		<!-- dz:来自群组(暂停) -->
		<!-- dz:相关帖子(暂停) -->
		<!-- dz:签名(暂停) -->
		<!--{ad/thread/a_pb/1/$postcount}-->
		<div id="_postposition$post['pid']"></div>

	<!-- dz:且如为图片模式 -->
		<!--{if !empty($aimgs[$post[pid]])}-->
		<script type="text/javascript" reload="1">
			aimgcount[{$post[pid]}] = [<!--{echo dimplode($aimgs[$post[pid]]);}-->];
			attachimggroup($post['pid']);
			<!--{if empty($_G['setting']['lazyload'])}-->
				<!--{if !$post['imagelistthumb']}-->
					attachimgshow($post[pid]);
				<!--{else}-->
					attachimgshow($post[pid], 1);
				<!--{/if}-->
			<!--{/if}-->
			var aimgfid = 0;
			<!--{if $_G['forum']['picstyle'] && ($_G['forum']['ismoderator'] || $_G['uid'] == $_G['thread']['authorid'])}-->
				aimgfid = $_G[fid];
			<!--{/if}-->
			<!--{if $post['imagelistthumb']}-->
				attachimglstshow($post['pid'], <!--{echo intval($_G['setting']['lazyload'])}-->, aimgfid, '{$_G[setting][showexif]}');
			<!--{/if}-->
		</script>
		<!--{/if}-->

</div>

<!--{else}-->
	<!-- dz:如果已被删除 -->
	<div id="pid$post[pid]" summary="pid$post[pid]">
		{lang post_deleted}
	</div>
<!--{/if}-->

<!--{hook/viewthread_endline $postcount}-->
