<div class="m-snow-list">
	<ul>
		[loop]
		<li class="m-snow-list-item">
			<a href="{subject_url}">
				<span class="u-screenshot">
					<img src="{snowshot_value}" alt=""/>
				</span>
				<span class="u-info">
					<span class="u-meta u-name"><em>皮肤名称</em><span>{snow1_value}</span></span>
					<span class="u-meta u-author"><em>皮肤作者</em><span>{chajian2311_value}</span></span>
					<span class="u-meta">
						<em class="u-type">类型</em><span>{snowtype_value}</span>
						<em class="u-hot">人气</em><span>{views}</span>
						<em class="u-update">最后更新</em><span>{lastedit}</span>
					</span>
				</span>
			</a>
		</li>
		[/loop]
	</ul>
</div>
