<div class="m-snow-primary">
	<div class="m-snow-shot">
		<div class="u-img"><img src="{snowshot_value}" alt="小雪皮肤预览图" /></div>
		<div class="u-down">
			<a href="#" class="u-help"><i class="u-faq"></i>如何使用</a>
			<a href="#" class="u-help"><i class="u-faq"></i>如何自己制作皮肤</a>
			<a id="down_url_1" class="down_url" href="">点击下载皮肤</a>
			<div class="down_url_data">{downurl_value}</div>
		</div>
	</div>
	<div class="m-snow-info">
		<ul>
			<li><em>皮肤名称</em><span>{snow1_value}</span></li>
			<li><em>作者名称</em><span>{chajian2311_value}</span></li>
			<li><em>皮肤类型</em><span>{snowtype_value}</span></li>
			<li><em>皮肤色调</em><span>{snowcolor_value}</span></li>
		</ul>
	</div>
</div>