<!--{if $multipage && $page < $_G['setting']['threadmaxpages'] && $page < $_G['page_next']}-->
<!--{eval $nxtpage = $page + 1;}-->
	<a class="u-btn-nextpage" href="forum.php?mod=viewthread&tid=$_G[tid]{if $_GET[authorid]}&authorid=$_GET[authorid]{/if}&page=$nxtpage" hidefocus="true" >{lang next_page_extra}</a>
<!--{/if}-->

<!-- dz:w-pages-bottom -->
<div class="w-pages-bottom w-pages pgs mtm mbm cl">
	<div class="w-pages-list pgt">$multipage</div>
	<span class="pgb y"{if $_G['setting']['visitedforums']} id="visitedforumstmp" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'21'})"{/if}><a href="$upnavlink">{lang return_forumdisplay}</a></span>
	<!--{if !$_G['forum_thread']['is_archived']}-->
		<a class="u-btn-publish" id="newspecialtmp" href="forum.php?mod=post&action=newthread&fid=$_G[fid]">发贴</a>
	<!--{/if}-->
	<!--{if $allowpostreply && !$_G['forum_thread']['archiveid']}-->
		<a class="u-btn-publish" id="post_replytmp" onclick="showWindow('reply', 'forum.php?mod=post&action=reply&fid=$_G[fid]&tid=$_G[tid]')" href="javascript:;" title="{lang reply}">回复</a>
	<!--{/if}-->
</div>