<!--{if $multipage && $page < $_G['setting']['threadmaxpages'] && $page < $_G['page_next']}-->
	<!--{eval $nxtpage = $page + 1;}-->
	<a class="w-pages-next" href="forum.php?mod=viewthread&tid=$_G[tid]{if $_GET[authorid]}&authorid=$_GET[authorid]{/if}&page=$nxtpage" hidefocus="true" >{lang next_page_extra}</a>
<!--{/if}-->


<!--{if !$multipage}-->
	<div class="w-pages-null">
		没有更多了
	</div>
<!--{/if}-->

<div class="w-pages w-pages-bottom pgs">
	<div class="w-pages-list pgt">$multipage</div>
	<div class="w-gotofloor" id="w-gotofloor">
		<div class="w-gotofloor-box" id="fj">
			<label class="z">跳转楼层</label>
			<input type="text" class="px p_fre z" size="2" onkeyup="$('fj_btn').href='forum.php?mod=redirect&ptid=$_G[tid]&authorid=$_GET[authorid]&postno='+this.value" onkeydown="if(event.keyCode==13) {window.location=$('fj_btn').href;return false;}" title="{lang thread_redirect_postno_tips}" />
			<a href="javascript:;" id="fj_btn" class="z" title="{lang thread_redirect_postno_tips}"><img src="{IMGDIR}/fj_btn.png" alt="{lang thread_redirect_postno_tips}" class="vm" /></a>
		</div>
	</div>
</div>
