<ul>
	<li><a class="{if $_GET['topicid'] == '116'}on{/if}" href="./portal.php?mod=topic&topicid=116"><i></i>网站简介</a></li>
	<li><a class="{if $_G[fid]=='392' && $_GET['sortid']=='24'}on{/if}" href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=24"><i></i>更新日志</a></li>
	<li><a class="{if $_GET['topicid'] == '113'}on{/if}" href="./portal.php?mod=topic&topicid=113"><i></i>版权声明</a></li>
	<li><a class="{if $_GET['topicid'] == '114'}on{/if}" href="./portal.php?mod=topic&topicid=114"><i></i>免责声明</a></li>
	<li><a class="{if $_G[fid]=='392' && $_GET['sortid']=='25'}on{/if}" href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=25"><i></i>管理团队</a></li>
	<li><a class="{if $_GET['topicid'] == '64'}on{/if}" href="./portal.php?mod=topic&topicid=64"><i></i>签约作者</a></li>
	<li><a class="{if $_G[fid]=='392' && $_GET['sortid']=='26'}on{/if}" href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=26"><i></i>加入我们</a></li>
	<li><a class="{if $_GET['topicid'] == '115'}on{/if}" href="./portal.php?mod=topic&topicid=115"><i></i>友情链接</a></li>
	<li><a class="{if $_GET['topicid'] == '65'}on{/if}" href="./contact"><i></i>合作联系</a></li>
</ul>