<h2>JX3PVE.COM网站积分兑换制度</h2>
<p class="rule-style-red">首次进行积分兑换前，您需要认真阅读本章程，当您进行积分兑换行为时，默认认为您已了解并接受本章程。</p>
<p>以下如无特殊说明，将“JX3PVE.COM网站官方”简称“我方”，“JX3PVE.COM积分兑换用户”简称“用户”。</p>
<br>
<p>我方在网站运营期间，每季度提供积分兑换奖励物品，包括实物与虚拟物品，用户可通过在网站正常渠道获取的积分进行兑换，不同季度礼品可能不同，礼品以先兑先得为原则。</p>
<p>奖励物品来源于本站、第三方商户，以及其它自愿提供的第三方个人等。</p>
<p>所有奖励通过“<a href="http://www.taobao.com" target="_blank">淘宝网</a>”店铺“<a href="http://candy-lab.taobao.com" target="_blank">Candy-Lab</a>”进行发放，其仓储状态、物流动态均以淘宝网作为跟踪依据。</p>
<br>
<p>用户承诺：</p>
<p>1.实物奖励中涉及提供的邮寄地址及电话的泄露风险由用户自行承担。</p>
<p>2.填写真实有效的联系方式，如因用户通讯失败而导致发放不成功或未接收到我方不承担责任。</p>
<p>3.实物寄送以物流签收信息为准，如发生包裹丢失、破损，我方不承担责任，用户需自行联系物流处理。</p>
<p>4.所获得的积分均为正常途径获取，不恶意刷分或篡改分值，我方有权利取消和清零用户非正常途径获取积分。</p>
<p>5.不对兑换奖品作出中差评，我方有权利投诉及处理。</p>
<p>6.其它不同奖品的兑换细则以<a href="https://candy-lab.taobao.com/p/jx3pve.htm" target="_blank">细则说明页面</a>为准，并按照细则要求提供相关信息，如未符合要求我方有权利拒绝发放奖励。</p>
<br>
<p>协议于2016年4月8日正式生效，我方有权利对协议进行条款补充与变更，并对积分兑换事宜保留最终解释权。</p>
<p class="rule-style-right">JX3PVE.COM</p>
<p class="rule-style-right">2016.4.8</p>



<div class="m-progress m-progress-1">
	<a class="til" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=profile&op=contact" target="_blank">绑定<b>阿里旺旺</b>(即淘宝用户名)与<b>支付宝账号</b></a>
	<p class="desc"><strong>警告：本信息只能填写一次并无法再修改</strong>，请务必填写本人信息，如需将礼品转让他人，请在收货地址时填写其他地址即可。<a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=profile&op=contact" target="_blank">填写资料</a></p>
</div>
<div class="m-progress-bar"></div>
<div class="m-progress m-progress-2">
	<a class="til" href="https://candy-lab.taobao.com/p/jx3pve.htm" target="_blank">了解兑换细则</a>
	<p class="desc">你可以在本页面右上角看到自己的“<strong>水晶</strong>”积分数量，同时你可以通过<a class="black" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=credit&op=rule">积分规则</a>了解积分获取途径、通过<a class="black" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=credit&op=exchange">积分兑换</a>来在不同积分之间转换、以及在<a class="black" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=credit&op=log">积分记录</a>页面中查看自己的积分变更历史情况。<a href="https://candy-lab.taobao.com/p/jx3pve.htm" target="_blank">了解细则</a></p>
</div> 
<div class="m-progress-bar"></div>
<div class="m-progress m-progress-3">
	<a class="til" href="https://candy-lab.taobao.com/category-1205984554.htm?spm=a1z10.1-c.w4010-13485945494.67.khHChu&search=y&parentCatId=1203655506&parentCatName=Zakka&catName=%2B+.+____+JX3PVE#bd" target="_blank">开始兑换</a>
	<p class="desc">请按照兑换细则中的要求备注相关信息，<strong>有以下情形时我们将不会发放奖励</strong>：<br>
	<b>1.积分不足或积分获取不正常时<br>
	2.淘宝账号与站内账号信息不匹配时<br>
	3.备注信息未按照规范<br></b>
	默认需要备注为:<br>
	<span>【JX3PVE】-【JX3PVE用户名】-【商品详情要求备注信息】</span>
	其余物流等信息请使用淘宝信息，无需在备注中说明。
	</p>
</div> 


<script>
	H.ready(['jquery'], function() {
		jQuery(function($) {
			var $prg_1 = $("#gift-primary-1"),
				$prg_2 = $("#gift-primary-2"),
				$gobtn = $("#gift-rule-go"),
				$backbtn = $("#gift-rule-back")
				$gobtn.on('click',function(){
					$prg_1.fadeOut();
					$prg_2.fadeIn();
				})
				$backbtn.on('click',function(){
					$prg_2.fadeOut();
					$prg_1.fadeIn();
				})
		})
	})
</script>