@import url('../public/base.less');		//函数
@import url('../global/var.less');		//路径
@import url('../global/color.less');	//配色

.push-container{
	padding:10px 0;
	.w(auto);
	#pt{
		margin-bottom:10px;
	}
}
.m-push-primary{
	line-height:28px;
	.dopt{
		margin-bottom:10px;
	}
	.z{
		margin:0 10px 0 5px!important;
		.w(auto)  !important;
	}
	.px{
		.lh(20px);
		padding:2px 10px;
	}
	.news_tsbtn{
		margin-left:50px;
		.w(120px);.lh(32px);
		strong{.db;}
	}
}
.m-push-content{
	line-height:2.2;
	padding:10px;
	border:1px dashed #ddd;
	ol{list-style:decimal;}
}
.m-push-tips{
	.alert_btnleft{.none;}
	.m-push-tips-success{
		a{.color(@blue-link);}
		a:hover{
			text-decoration:underline;
		}
	}
}
.ua-responsive .screen-s{
	.m-push-primary{
		.z{margin-left:0 !important;}
		.px{
			.db;
		    width: 100% !important;
			box-sizing: border-box;
			padding:14px 10px;
			line-height:24px;
		}
		.news_tsbtn{
			margin-left:0;
			.w(100%);
			.lh(34px);
			box-sizing:border-box;
		}
	}
}