@import url('../public/base.less');		//函数
@import url('../global/var.less');			//常量
@import url('../global/color.less');		//配色

.u-lastedit{
	background-color:#EEFDFF !important;
	color:#28B3C5 !important;
}

.m-mix-post-tips{
	background-color:#f5f5f5;
	border:1px solid #ddd;
	box-shadow:0 0 1px #ddd inset;
	.r(2px);
	padding:5px 10px;
	b{color:#f00;.bold;}
}

.m-mix-searchtips{
	.fz(12px,2);
	.color(#888,#666);
	.db;.x(right);
	margin:5px 10px 0 0;
	&:hover{
		text-decoration:underline;
	}

	.u-icon-faqtips{
		margin-right:4px;
		margin-top:-2px;
	}
}

.m-mix-ac{
	padding:0 5px;
	.fz(12px,2);
	color:#666;
	a{text-decoration:underline;}
	b{.bold;color:#c00;}
	li{color:#666;list-style-position: inside;margin-bottom:8px;}
	//li{list-style-type:decimal;list-style-position:inside;margin-bottom:5px;}

	.u-minitips{
		.color(#888,#666);
		&:hover{
			text-decoration:underline;
		}
	}
}

.m-mix-say{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 5px 5px 8px;
    font-size: 12px;
    line-height: 1.8;
    color: #888;
    margin-top: 10px;
    margin-bottom:20px;
    border-radius: 6px;
}