<div class="app-sidebar">
	
	<h3 class="default-sidebar-title">站内应用</h3>
	<ul class="app-list app-list-in">
		<li><a class="{if $topicid==107}on{/if}" href="./app/exam"><i class="u-icon-exam"></i>科举题库</a></li>
		<li><a class="{if $topicid==101}on{/if}" href="./app/servers"><i class="u-icon-servers"></i>开服监控与记录</a></li>
	</ul>

	<h3 class="default-sidebar-title">站外应用</h3>
	<ul class="app-list app-list-out">
		<li><a href="https://www.j3pz.com" target="_blank"><i></i>在线配装</a></li>
		<li><a href="http://www.j3ui.com/wiki" target="_blank"><i></i>成就百科</a></li>
		<li><a href="https://j3pz.com/tools.html" target="_blank"><i></i>加速宝典</a></li>
	</ul>

	<div class="app-sidebar-code">
		 <!--{block/1775}-->
	</div>

</div>