html.desktop{
    font-size:13px;
}
body{
    font-family: PingFangSC-Regular,'Helvetica Neue',Helvetica,Arial,sans-serif,"宋体";
    font-size:13px;
    line-height: 2;
    word-wrap: break-word;
    color: #222;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
}
::selection{
	color:#fff;
    background-color:@blue-link;
}
a {
	
}
a:hover {
	//text-decoration: none;
}

.ua-mobile,.screen-s{
    font-size: 1rem;
}