html.isfixed{
	.full;overflow:hidden;
}
body{
	.pr;
}
//平铺背景层
.wrap {
}
//背景层
.main {
}

//尺寸规划
	//wp:960 ->适应平板横屏+PC
	//740 内容区 20间距 200px侧边栏
	//平板竖屏时根据情况隐藏侧边栏
	//手机版时自动宽度


//内容区域包裹层
	//默认
	body{
	    padding-top:@c-header-height;
	    min-width:1000px;
	}
	//手机
	.ua-mobile body,.screen-s{
		padding-bottom:@c-footer-height;
		min-width:320px;
	}


//中央控制包裹层
	.wp{
		.auto(x);
	}
	//默认
	.wp{
	    width:@wpm;
	}
	//平板竖屏&手机版
	.ua-mobile,.screen-s{
		.wp{
			.w(auto);
			//padding:0 10px;
		}
	}
	//固定为1180px的老页面
	.ua-oldpc body{
		min-width:1180px;
	}
	.ua-oldpc .wp{
		.w(@wp);
	}