//内容区域包裹层
.jx3pve-container{
    padding-top:@c-header-height;
}
//平铺背景层
.wrap {
}
//背景层
.main {
}


//中央控制包裹层

	//默认
	.wp {
	    width:1180px;
	   .auto(x);
	}
	//平板竖屏&手机版
	.ua-responsive .screen-m,.ua-responsive .screen-s{
		.wp{
			.w(auto);padding:0 10px;
		}
	}



//dz默认
.ct2_a .mn{
	//目前1000
}
.appl{
	//目前137
}

