body{
	.pr;
}
//平铺背景层
.wrap {
}
//背景层
.main {
}


//尺寸规划
	//wp:960 ->适应平板横屏+PC
	//740 内容区 20间距 200px侧边栏
	//平板竖屏时根据情况隐藏侧边栏
	//手机版时自动宽度


//内容区域包裹层
	//默认
	.jx3pve-container{
	    padding-top:@c-header-height;
	}
	//手机
	.ua-responsive .screen-s .jx3pve-container{
		padding-bottom:@c-header-footer;
	}


//中央控制包裹层

	//默认
	.wp{
	    width:1180px;
	   .auto(x);
	}
	//逐步上线新页面
	.ua-responsive .wp{
		.w(960px);
	}
	//平板竖屏&手机版
	.ua-responsive .screen-m,.ua-responsive .screen-s{
		.wp{
			.w(auto);padding:0 10px;
		}
	}


//dz内容包裹区

	//默认
	.ct2_a{}
	.ct2_a .mn{
		//目前1000
	}
	.appl{
		//目前137
	}

	//平板竖屏
	.ua-responsive .screen-m .ct2_a.wp{
		padding:0;
	}
	.ua-responsive .screen-m .ct2_a .mn{
		.w(600px);
	}

	//手机
	.ua-responsive .screen-s .ct2_a.wp{
		padding:0;
	}
	.ua-responsive .screen-s .ct2_a .mn{
		float:none;
		//.w(600px);
	}
	.ua-responsive .screen-s .appl{
		float:none;
	}




