//path
@url: 'http://img.jx3pve.com/img/';
@urls: 'http://static.jx3pve.com/static/image/';


//size
@c-header-height:45px;
@c-footer-height:46px;
@c-alert-height:30px;

@wp:1180px;
@sd:200px;
//@ct:740px;

//窄边系
@sd2:160px;		//about系
