//path
@url: 'http://img.jx3pve.com/img/';
@app: 'http://app.jx3pve.com/img/app/';
@urls: 'http://static.jx3pve.com/static/image/';


//size
@c-header-height:45px;
@c-header-footer:46px;

@wp:960px;
@sd:200px;
@ct:740px;

@sd2:160px;		//about系
