//path
@url: 'http://img.jx3pve.com/img/';
@urls: 'http://static.jx3pve.com/static/image/';


//size
@c-header-height:45px;
@c-footer-height:46px;
@c-alert-height:30px;

@wp:1180px;
@sd:200px;
@ct:@wp - @sd - 40px;
@wpm:1000px;
@ctm:@wpm - @sd - 40px;
@sd2:160px;		//about系

.default-fontfamily(){
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif,"宋体";
}
.noSidebar(){
	.default-sidebar{.none;}
	.default-content{float:none;.w(auto)!important;}
}