.c-header-menu{
	.fl;margin-left:20px;
	li{
		.fl;
		&.on{
		    background: #075fb6;
		    background: -webkit-linear-gradient(top,#055fb8,#095fb3);
		    background: linear-gradient(to bottom,#055fb8,#095fb3);
		    box-shadow: inset 0 0 2px rgba(0,0,0,.12);
		    a{color:#eee;}
		}
	}
	a{
		.db;
	    height: 45px;
	    line-height: 45px;
	    text-align: center;
	    display: block;
	    color: #f2f4f5;
	    text-shadow: 0 1px 1px rgba(0,0,0,.12);
	    font-size: 14px;
	    padding:0 12px;
	    &:hover{color:@blue-light;}
	}
	.u-more{

	}
	#c-header-menu-fid{
		.none;
	}
}