@c-header-nav-height:88px;
@c-header-nav-liheight:46px;

.c-header-nav{
	background-color:#f9f9f9;
	.size(100%,@c-header-nav-height);
	border-bottom:1px solid #ddd;
	overflow:hidden; 	//for ipad

	.wp{
		.pr;
		.h(100%);
		.u-all{
			.pa;.rb(0,0);
			letter-spacing:1px;
			background-color:#fff;
			border:1px solid #ddd;
			border-bottom:none;
			padding:0 10px;
			&.on{
				background-color:@basecolor;
				color:#fff;
			}
		}
	}
}

.c-header-nav-list{
	.clearfix;
	li{
		.fl;margin:0 5px;
		a{
			transition:0.1s ease-in-out;
			.db;.x;.fz(14px,2);
			.w(42px);
			padding:22px 15px;
			//padding:12px 15px;

			span{
				.db;color:#999;
				.fz(12px,1.2);
				font-family:"Trebuchet MS",'Helvetica Neue',Helvetica,Arial,sans-serif;
				//.none;
			}
			&.new{
				background: url('@{url}user/new.gif')no-repeat right 35%;
			}
			&.disabled{
				.color(#999,#999);
				cursor:default;
			}
		}
	}
	.on{
		a{
			border-bottom:2px solid #b42841;
			color: #111;
		}
	}
}