@import url('../public/base.less');		//函数
@import url('../global/color.less');	//配色
@import url('../global/var.less');		//尺寸

/*.pg_guide{
	#fwin_nav{
		#postbtn.xg1{
			background: #ccc;
			border: 1px solid #999;
			color: #888 !important;
		}
	}
	.tl .th td, .tl .th th{
		height:auto;
	}
	.tl .th{
		border-bottom:none;
		.r(24px);
	}
}
*/
/*.user-guide-main{
	.w(@wp);.auto(x);

	.user-guide-content{
		margin-left:140px;
		#ct{
			.w(auto);
			padding:10px 0;
		}
	}

}

.pg_guide{
	#threadlist{
	}
}

.user-guide-content{

	#thread_types{.none;}

	.bm_c,.bm_c a{
		font-size:12px !important;
	}
	td,th{
		padding:5px 10px;
	}
	th{
		padding-left:0;
	}
	.bm_c {
		tr:hover th,tr:hover td{
			background-color:#E9F7FB;
		}
		th,td{
			border-bottom:1px dotted #ddd;
		}
	}
	//.icn{.none;}
} 

.user-guide-toppgs{

	.pg{
		margin-top:0 !important;
	}

	.u-btn-publish{
		.fr;.db;.size(77px,28px);
		.u-btn-blue(b);
		.x;
		.fz(12px,28px);.r(3px);
	}

}

.user-guide-type{
	.fl;
	.fz(12px,28px);
	a{.db;.size(77px,28px);margin-right:10px;.fl;.x;.u-btn-blue(b);}
}*/