.c-alert-tipsskin{
	color:#E00A0A;
	background-color: #FFF897;
	.nobreak;
	.lh(30px);
	.pf;.z(21);
	.x;.full(x);

	a{
		color:@blue-link;
		&:hover{
			text-decoration:underline;
		}
	}
}

//IE 6 & 7警告
.c-alert-ie{
	.none;
	.lb(0,0);
	border-top:1px solid #FFD403;
	&:extend(.c-alert-tipsskin);
}

.ie6,.ie7{
	.c-alert-ie{.db;}
}

//服务器维护紧急通告
.c-alert-warning{
	.none;
	.lt(0,0);
	border-bottom:1px solid #FFD403;
	&:extend(.c-alert-tipsskin);
}
.alertHTML{
	body,.c-header,.i-header{margin-top:30px;}
}