<!--{subtemplate common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/system/system.css" type="text/css" />
<link rel="stylesheet" href="http://css.jx3pve.com/css/system/about.css" type="text/css" />
<header class="i-header">
	<a class="i-header-back" href="./"><i></i></a>
	<div class="i-header-title">合作联系</div>
	<div class="i-header-menu">
		<a class="u-all" id="i-header-sidebar-tg" href="javascript:;"><span>更多</span></a>
	</div>
</header>
<div class="system-container contact-container">
	<div class="wp">

		<div id="pt" class="system-route bm cl">
			<div class="z">
				<a href="./" class="nvhm" title="{lang homepage}">$_G['setting']['bbname']</a>
				<em>&rsaquo;</em><a href="./about">关于我们</a>
				<em>&rsaquo;</em>合作联系
			</div>
		</div>

		<div class="system-main">

			<div class="system-sidebar">
				<!--{subtemplate public/about_sidebar}-->
			</div>

			<div class="system-content">

				<div class="m-about-union">
					<h2>合作伙伴</h2>
					<!--{block/1299}-->
				</div>

				<div class="m-about-contact">
					<h2>联系方式</h2>
					<!--{block/1301}-->
				</div>
				
			</div>

		</div>

	</div>
</div>
<script src="http://js.jx3pve.com/js/page/page-system.min.js"></script>
<!--{subtemplate common/footer}-->