<!--{subtemplate common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/system/sitemap.css" type="text/css" />
<header class="i-header">
	<div class="i-header-title">导航</div>
</header>
<div class="sitemap-container">
	<div class="wp">

		<div id="pt" class="bm cl">
			<div class="z">
				<a href="./" class="nvhm" title="{lang homepage}">$_G['setting']['bbname']</a> <em>&rsaquo;</em>
				站点地图
			</div>
		</div>

		<div class="m-sitemap-compass">
			<!--{subtemplate jx3pve/c_compass}-->
		</div>

		<div class="m-sitemap-more">
			<img src="http://img.jx3pve.com/img/system/sitemap/link.png" alt="">标识代表该为站外栏目，与本站非同一套账号系统。
		</div>
		
	</div>
</div>
<script src="http://js.jx3pve.com/js/page/page-sitemap.min.js"></script>
<!--{subtemplate common/footer}-->