@import url('../../public/base.less');		//函数
@import url('../../public/shape.less');		//函数
@import url('../../global/var.less');			//常量
@import url('../../global/color.less');		//配色
@import url('../../module/ui/button.less');	
@import url('../../module/ui/tips.less');	
@import url('common.less');	

.vip-pc-container{
	//padding:20px 0;
}

.vip-pc-header{
	img{
		.db;.w(100%);
	}
}

.vip-pc-intro{
	background:url("@{url}vip/nav-bg.png") no-repeat center top;
	height:109px;
	margin:20px 0 10px;
}

.vip-pc-details{
	padding-right:240px;
	padding-left:20px;
	margin:20px 0;
	background:url("@{url}vip/mogubg.png") no-repeat right top;
	table{width:100%;}
	td{border:1px solid #ddd;padding:2px 5px;line-height:24px;color:#777;}
}

.vip-pc-buy .m-gobutton{
	background-color:#c00;
	&:hover{
		background-color:#e60000;
	}
}

.ua-responsive .screen-s{
	//.m-status .profile .rights{.none;}
	.vip-pc-details{padding:0 20px;background: none;}
	.m-credit-primary .m-msg-true{
		.ps;margin-left:0;
	}
	.m-block{
		margin:0 10px 10px 10px;
	}
	.m-credit-primary{
		padding:0 10px;
	}
	.m-vip-rights{
		.none;
	}
}