<div class="m-tool-primary">

	<div class="m-tool-baseinfo m-tool-block">
		<div class="information">
			<ul>
				<li><span>工具名称</span>{chajian2111_value}</li>
				<li><span>作者名称</span>{chajian2311_value}</li>
				<li><span>下载地址</span>
					<a id="down_url_1" class="down_url" href="">
						下载地址1
					</a>
					<div class="down_url_data">{downurl_value}</div>
					<a id="down_url_2" class="down_url" href="">
						下载地址2
					</a>
					<div class="down_url_data">{tool_down2_value}</div>
				</li>
				<li class="tool_pwd"><span>网盘密码</span>{tool_pwd_value}</li>
			</ul>
		</div>
		<div class="m-tool-relative">
			<ul>
				<li><a class="u-report" href="javascript:;" onclick="showWindow('miscreport', 'misc.php?mod=report&amp;url='+REPORTURL);return false;"><i></i>举报病毒</a></li>
			</ul>
		</div>
	</div>

	<div class="m-tool-important m-tool-block">
		<h3>功能介绍 <span>Introduction</span></h3>
		<div class="content">
			{tool_function_value}
		</div>
	</div>

	<div class="m-tool-extend m-tool-info m-tool-block">
		<div class="til"><h3>游戏设置要求</h3></div>
		<div class="content">
			{tool_setcriteria_value}
		</div>
	</div>
	<div class="m-tool-extend m-tool-info m-tool-block">
		<div class="til"><h3>常见问题答疑</h3></div>
		<div class="content">
			{tool_question_value}
		</div>
	</div>
	<div class="m-tool-more m-tool-info m-tool-block">
		<div class="til"><h3>更新日志</h3></div>
		<div class="content">
			{tool_update_value}
		</div>
	</div>
	<div class="m-tool-more m-tool-info m-tool-block">
		<div class="til"><h3>更多说明</h3></div>
	</div>

</div>