@import url('../public/base.less');		//函数

body{
	margin:20px;
	line-height:2;
	font-size:14px;
	font-family: "微软雅黑",'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.footer{
	.x(right);
	margin-top:10px;
	border-top:1px solid #ccc;
	.fz(12px,2.5);color:#999;
    font-family: "Trebuchet MS",'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header{
	.x;.fz(24px);
}

.meta{
	background-color:#f9f9f9;
	padding:0 10px;
	.fz(12px);
}
.title{
	.bold;
	.fz(16px);
	margin:0;
}
.primary{
	padding:10px;
	margin-bottom:20px;
}
td,th{
	border:1px solid #ddd;
	padding:2px 5px;
}
table{
	border-collapse:collapse;
}
.quote,.blockcode{
	border:1px dashed #ddd;
}
.blockcode em{
	.none;
}
ul{margin:0;}