@import url('../public/base.less');		//函数
@import url('../public/path.less');		//路径
@import url('../global/color.less');	//配色

.sitemap-container{
	padding:20px 0;
}

.sitemap-title{
	.fz(20px,2);
	border-bottom:1px dotted #ddd;
	margin-bottom:20px;
}

.sitemap-block{
	margin-bottom:20px;
	padding-left:80px;
	.pr;

	.color(#222,@blue-link,@blue-link);

	h2{
		.bold;
		.pa;.lt(0,0);
	}

	ul{
		.clearfix;
	}

	li{
		.fl;
		margin-right:20px;
		margin-bottom:10px;
	}

	a:hover{
		text-decoration:underline;
	}

	li a span{
		.dbi;
		color:#999;
		padding:0 2px;
		transform:scale(0.8);
	}
}

//平板竖屏
.ua-responsive .screen-m{
}

//手机版
.ua-responsive .screen-s{
	.sitemap-title{
		.none;
	}
}