@import url('../public/base.less');		//函数
@import url('../global/color.less');	//配色
@import url('../global/var.less');		//尺寸

//网站地图
.sitemap-container {
	padding:10px 0;
	#pt{margin-bottom:10px;}
}

.m-sitemap-more{
	border-top:1px dashed #ddd;
	padding-top:20px;
	margin-top:20px;
}
.m-sitemap-block{
	margin-bottom:10px;
	padding-left:80px;
	.pr;

	.color(#222,@blue-link,@blue-link);

	h2{
		.bold;
		.pa;.lt(0,0);
	}

	ul{
		.clearfix;
	}

	li{
		.fl;
		margin-right:20px;
		margin-bottom:10px;

		i{.none;}
	}

	a:hover{
		text-decoration:underline;
	}

	li a em{
		.dbi;
		color:#999;
		padding:0 2px;
		transform:scale(0.8);
	}
}


.ua-responsive .screen-s{

	.sitemap-container{padding:0;}
	.wp{padding:0;}

	.m-sitemap-more{.none;}
	.m-sitemap-block{
		padding:0;margin-bottom:0;
		h2,li{
			.fz(1.2rem,40px);
			border-bottom:1px solid #ddd;
		}
		h2{
			.ps;
			padding:0 20px;
			background-color:#f7f7f7;
		}
		li{
			.db;float:none;
			margin:0;
		}
			
		a{.db;padding:5px 20px;}
		a:hover{text-decoration:none;}
		em{.fr;}
	}

}
