@import url('../public/base.less');		//函数
@import url('../global/color.less');	//配色
@import url('../global/var.less');		//尺寸

.system-main{
	padding:10px 0;
	.clearfix;
}

.system-sidebar,.f-392 .default-sidebar{
	//.pa;.lt(0,15px);
	.w(@sd2);.fl;
	padding:0;

	ul{
		padding:0 10px;
	}
	li{
		//border-bottom:1px solid #eee;
	}
	a{
		.db;
		.fz(12px,20px);
		padding:6px 10px;
		i{
			.dbi;.y;margin-right:5px;
			.size(15px);
			background:url('@{url}header/icons2.png') no-repeat -168px -4px;
		}
		&.on{
			color:@blue-link;
			.bold;
			i{background-position:-168px -24px;}
		}
	}
}
.system-content,.f-392 .default-content{
	//margin-left:@sd2;
	.fr;.w(@wp - @sd2 - 20px);
	padding:0;
}

.ua-responsive .screen-m .system-content,
.ua-responsive .screen-m.f-392 .default-content{
	margin-left:0;
	.w(@wpm - @sd2 - 20px);
}

.ua-responsive .screen-s .system-sidebar{.none;}
.ua-responsive .screen-s .system-sidebar{
	//.db;
	.pf;.lt(0,@c-header-height);
	.z(40);
	.w(100%);
	padding:10px 0;
	border-bottom:1px solid #ddd;
	background-color:#fff;
	.r(0);
}
.i-header.showSidebar{
	.z(40);
}
.alertHTML.ua-responsive .screen-s .system-sidebar{
	top:@c-header-height + @c-alert-height;
}
.ua-responsive .screen-s .system-content{
	.w(auto);
	float:none;
}


