@import url('../public/base.less');		//函数
@import url('../global/color.less');	//配色
@import url('../global/var.less');		//尺寸


.system-container{
}

.system-route{
	
}

.system-main{
	.pr;
	padding:10px 0;
}


.system-sidebar,.f-392 .default-sidebar{
	.pa;.lt(0,15px);
	.w(@sd2);
	padding:0;

	ul{
		padding:0 10px;
	}
	li{
		//border-bottom:1px solid #eee;
	}
	a{
		.db;
		.fz(12px,20px);
		padding:6px 10px;
		i{
			.dbi;.y;margin-right:5px;
			.size(15px);
			background:url('@{url}header/icons2.png') no-repeat -168px -4px;
		}
		&.on{
			color:@blue-link;
			.bold;
			i{background-position:-168px -24px;}
		}
	}
}

.system-content,.f-392 .default-content{
	margin-left:@sd2;
	padding:0;
}

.ua-responsive .screen-s .system-sidebar{.none;}
.ua-responsive .screen-s .system-content{margin-left:0;}

//网站地图
.sitemap-container {
	padding:10px 0;
	#pt{margin-bottom:10px;}
}
.m-sitemap-block{
	margin-bottom:10px;
	padding-left:80px;
	.pr;

	.color(#222,@blue-link,@blue-link);

	h2{
		.bold;
		.pa;.lt(0,0);
	}

	ul{
		.clearfix;
	}

	li{
		.fl;
		margin-right:20px;
		margin-bottom:10px;
	}

	a:hover{
		text-decoration:underline;
	}

	li a span{
		.dbi;
		color:#999;
		padding:0 2px;
		transform:scale(0.8);
	}
}

