.i-mark{
	.db;.size(58px);
	.pa;.rt(0,0);
	background-position:right top;
	background-repeat:no-repeat;
}

.i-mark-red{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-red.png');
}
.i-mark-hot{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-hot.png');
}

.i-mark-green{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-green.png');
}
.i-mark-beta{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-beta.png');
}

.i-mark-blue{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-blue.png');
}
.i-mark-standard{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-st.png');
}

.i-mark-yellow{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-yellow.png');
}
.i-mark-com{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-com.png');
}

