.i-mark{
	.db;.size(47px,48px);
	.pa;.rt(0,0);
	background-position:right top;
	background-repeat:no-repeat;
}

.i-mark-os{
	.size(56px);
}

//os
.i-mark-beta{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-beta.png');
}

//common
.i-mark-baoliao{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-baoliao.png');
}
.i-mark-diaoyan{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-diaoyan.png');
}

.i-mark-gonglue{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-gonglue.png');
}
.i-mark-hot{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-hot.png');
}
.i-mark-huodong{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-huodong.png');
}

.i-mark-zhongyao{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-zhongyao.png');
}
.i-mark-jiaocheng{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-jiaocheng.png');
}

.i-mark-new{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-new.png');
}
.i-mark-tuiguang{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-tuiguang.png');
}
.i-mark-tuijian{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-tuijian.png');
}
.i-mark-doc{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-doc.png');
}
.i-mark-yule{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-yule.png');
}
.i-mark-zt{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-zt.png');
}
.i-mark-source{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-source.png');
}
.i-mark-zz{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-zz.png');
}

.i-mark-fail{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-fail.png');
}
.i-mark-stop{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-stop.png');
}
.i-mark-will{
	&:extend(.i-mark);
	background-image:url('@{url}index/mark-will.png');
}