.e-role{
}
.e-role-item{
	.size(24px);.dbi;.y;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:100% auto;
}
.e-role-ty{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/ty.png');}
.e-role-qx{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/qx.png');}
.e-role-wh{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/wh.png');}
.e-role-wd{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/wd.png');}
.e-role-tc{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/tc.png');}
.e-role-mj{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/mj.png');}
.e-role-sl{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/sl.png');}
.e-role-cy{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/cy.png');}
.e-role-tm{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/tm.png');}
.e-role-cj{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/cj.png');}
.e-role-gb{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/gb.png');}
.e-role-cyun{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/cyun.png');}
.e-role-cgm{&:extend(.e-role-item);background-image:url('@{url}role/role-mp/cgm.png');}