.tips(yel){
  	background: #FFFAF3;
    color: #EFAA00;
}

.tips(darkyel){
	background-color: #FFF897;
  	color:#FB7707;
}

.tips(warning){
  	background-color: #FFF897;
  	border: 1px solid #FFD403;
}

.tips(graylight){
	color:#777;
	background-color:#f7f7f7;
}

.tips(grays){
	color: #dd0055;
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 3px;
	box-shadow: 0 0 1px #eee inset;
}


.tips(help){
	background-color:#7dbd20;
	&:hover{
		background-color:lighten(#7dbd20,2%);
	}
	.color(#fff,#fff,#fff);
}