.tbms{
	padding: 5px 10px 5px 26px;
    //border: 1px dashed #FF9A9A;
    border: 1px dashed @yel;
    background:url('@{urls}common/notice.gif') no-repeat 10px 50%;
}


//蓝条提醒
.pc_inner{
	a{.color(@blue,#ff0);}
}
