<!--{template common/header_m}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/user/member/invitecode.css" type="text/css" />
<header class="i-header i-header-list">
	<a class="i-header-back" href="javascript:;" onclick="history.go(-1)"><i></i></a>
	<div class="i-header-title">邀请码</div>
</header>
<div class="invitecode-container">
	<div id="wp" class="wp">
		<div id="ct">

			<!--{if $order && $codes}-->
				<div class="invitecode-header">
					<h3>{lang invitecode_succeed_title}</h3>
				</div>
				<div class="invitecode-content">
					<div class="invitecode-success">
						<p><textarea id="invitecode" class="u-textarea invitecode-codebox" cols="40" rows="3">$codetext</textarea></p>
						<p class="mtn copy-code"><a href="javascript:;" onclick="copyinvitecode();" class="xi2">{lang copycode}</a></p>
						<p class="mtn u-msg-success">{lang invitecode_email}</p>
						<p class="mtm cl"><a href="member.php?mod={$_G[setting][regname]}&invitecode=$codes[0]" class="pn pnc z u-btn u-btn-ok"><strong>{lang reg_continue}</strong></a></p>
					</div>
					<script type="text/javascript">
						function copyinvitecode(obj) {
							setCopy($('invitecode').innerHTML, '{lang copycode_invite_succeed}');
							return false;
						}
					</script>
				</div>
			<!--{else}-->
				<div class="invitecode-header">
					<h3>{lang invitecode_buycode}</h3>
				</div>
				<div class="invitecode-content m-buy">
					<form id="confirmform" class="postbox" method="post" autocomplete="off" action="misc.php?mod=buyinvitecode" onsubmit="ajaxpost(this.id, 'return_addfundsform');return false;">
						<div class="m-msg-wx"><!--{block/1015}--></div>
						<input type="hidden" name="formhash" value="{FORMHASH}" />
						<input type="hidden" name="buysubmit" value="true" />
						<input type="hidden" name="handlekey" value="buyinvite" />
						<!--{if $_G['setting']['inviteconfig']['invitecodeprompt']}-->
								<div class="rfm ptw pbm">$_G['setting'][inviteconfig][invitecodeprompt]</div>
							<!--{/if}-->
						<!--{if $_G['setting']['inviteconfig']['buyinvitecode'] && $_G['setting']['inviteconfig']['invitecodeprice'] && ($_G[setting][ec_tenpay_bargainor] || $_G[setting][ec_tenpay_opentrans_chnid] || $_G[setting][ec_account])}-->
						<div class="rfm">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<th>{lang buy_nums}</th>
									<td>
										<input type="text" name="amount" id="amount" class="u-text px p_fre vm" value="1" onkeyup="addamount()" />
										<span class="u-msg u-msg-price">{lang need_money} <strong id="desamount" class="xi1">$_G['setting']['inviteconfig']['invitecodeprice']</strong> {lang money_unit}</span>
									</td>
								</tr>
							</table>
						</div>
						<div class="rfm">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<th>{lang active_email}</th>
									<td>
										<input type="text" name="email" class="u-text u-mail px p_fre vm" value="" /> 
										<span class="u-msg u-msg-email">
											{lang active_email_comment}
										</span>
									</td>
								</tr>
							</table>
						</div>
						<div class="rfm">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<th>{lang invitecode_expiration}</th>
									<td><span class="u-exday">$maxinviteday</span></td>
								</tr>
							</table>
						</div>
						<div class="rfm">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<th>{lang trade_type}</th>
									<td>
										<!--{if $_G[setting][ec_ratio] && ($_G[setting][ec_tenpay_bargainor] || $_G[setting][ec_tenpay_opentrans_chnid])}-->
											<div class="mbm pbn bbda cl m-payway-tencent user-pay-tencent user-pay">
												<div id="div#tenpayBankList"></div><span id="#bank_type_value"></span>
												<link rel="stylesheet" type="text/css" href="http://union.tenpay.com/bankList/css_col3.css" />
												<script type="text/javascript">
													$('div#tenpayBankList').html = function(){$('div#tenpayBankList').innerHTML = htmlString; };
													$("#bank_type_value").val = function(){
														{if $_G[setting][card][open]}$('cardbox').style.display='none';if($('card_box_sec')){$('card_box_sec').style.display='none';}$('paybox').style.display='';{/if}
													};
													appendscript('http://union.tenpay.com/bankList/bank.js', '');
												</script>
											</div>
										<!--{/if}-->
										<div class="m-payway-alipay mbw user-pay-alipay user-pay">
											<ul>
											<!--{if $_G[setting][ec_ratio] && $_G[setting][ec_account]}-->
												<li class="z">
													<input name="bank_type" type="radio" value="alipay" id="apitype_alipay" checked="checked" $ecchecked /><label for="apitype_alipay"></label>
													<span class="u-msg u-alipay-tips">如您选择支付宝,请注意交易接口页面输入的是“<b>支付密码</b>”而非"登录密码"</span>
												</li>
											<!--{/if}-->
											</ul>
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="rfm bw0">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<th>&nbsp;</th>
									<td><button type="submit" name="buysubmit" class="u-btn u-btn-blue u-btn-ok" value="true"><strong>{lang confirms}</strong></button></td>
								</tr>
							</table>
						</div>
						<script type="text/javascript">
							function addamount() {
								var amount = $('amount').value.replace(/^0/, '');
								amount = parseInt(amount);
								$('desamount').innerHTML = !isNaN(amount) ? amount * $_G['setting']['inviteconfig']['invitecodeprice'] : 0;
							}
						</script>
						<!--{/if}-->
					</form>
					<span style="display: none" id="return_addfundsform"></span>
				</div>
			<!--{/if}-->

		</div>
	</div>
</div>
<!--{template common/footer}-->