.m-book-list{
	padding:20px 0;

	ul{
		.clearfix;
		.w(@ctm + 20px);
	}
	li{
		//.fl;
		//.w(@e-book-w);
		//padding:20px;
		background-color:#fefefe;
		border:1px solid #eee;
		//border-bottom:1px dotted #ddd;
		padding:10px;
		margin-right:20px;
		margin-bottom:20px;
		.clearfix;
		.fl;
		.w(348px);
		&:hover{
			background-color:#f7fdff;
		}
	}
	.book{
		//.pa;.lt(0,0);
		.fl;
	}
	.u-name{
		.bold;color:#454545;
	}
	.u-info{
		margin-left:145px + 10px;
		.db;//.x(right);
		.u-info-item{.db;.nobreak;}
		em{color:#888;}
	}
	.u-go{
		margin-top:10px;
		.size(100px,24px);
		text-indent:30px;line-height:24px;
		color:#555;
		background:url('@{url}common/details.png') no-repeat 0 0;
		&:hover{
			color:#c00;
		}
	}
	.u-author{
		.color(#444);
		.fzlh(13px,26px);
	}
	.u-time{
		i{
			.dbi;.y;.size(12px);
			background:url('@{url}icon/icon_task.gif') no-repeat center center;
			margin-right:5px;
			margin-left:2px;
			margin-top:-3px;
		}
		color:#777;
	}
	.u-views{
		color:#259;
	}


}
.w-listfilter-list .u-sort{.none;}
.ua-mobile,.screen-s {
	.m-book-list{
		padding-top:0;
		ul{
			.w(100%);
		}
		li{
			.w(100%);box-sizing:border-box;
			background:#fff;
			border:none;
			float:none;
			overflow:hidden;
			font-size:13px;
			margin-bottom:10px;
		}
	}
}