//分类导航
.m-book-sort{
	margin-bottom:15px;
	li{
		.lh(40px);
		border-bottom:1px solid #eee;
		a{
			.db;.full;transition:0.2s ease-in-out;
			.fz(13px,40px);
			.bold;
			color:@bluex;
			&:hover{background-color:#f7f7f7;}
		}
		i{
			.dbi;.size(28px);.y;margin-right:10px;
			background-color:#eee;
			border:1px solid #eee;
			background:url('@{url}book/navicon.png') no-repeat 0 0;
		}
		em{
			.normal;
			margin-left:10px;
			text-transform:uppercase;
			color:#888;
			font-family:'Trebuchet MS',Tahoma,"\5FAE\8F6F\96C5\9ED1";
			.none;
		}
		.legend i{background-position:-87px 0;}
		.fiction i{background-position:-29px 0;}
		.memoirs i{background-position:-58px 0;}
		.plot i{background-position:0 0;}
	}
}

//搜索
.m-book-search{
	
	.label,.u-text{.db;}

	.u-text{
		.lh(28px);
		.w(100%);
		box-sizing:border-box;
	}

	.item{
		margin-bottom:5px;
	}

	.u-button{
		margin-top:5px;
		.w(100%);
		box-sizing:border-box;
	}
}

//排行榜
.m-book-top{
	margin-bottom:15px;
	ul{
		li{
			margin-bottom:5px;
			.fzlh(12px,24px);
			.clip;
			a{
				.db;.nobreak;
				.pr;
				.top{
					.dbi;.y;
					.size(20px);line-height:20px;background-color:#f7f7f7;
					.x;margin-right:2px;
				}
				.top-1,.top-2,.top-3{
					color:#c00;
				}
				.views{
					.pa;.rt(0,0);
					background-color:#fff;
					padding:0 2px 0 5px;
					color:#999;
					background-color:#f7f7f7;
					border-radius:3px;
					.none;
				}
				&:hover{
					color:@blue-link;
				}
			}
		}
	}
}
.ua-responsive .screen-s{

	.m-book-top ul li a{
		.lh(40px);
		border-bottom:1px solid #ddd;
	}

}