//评分
.c-fli-rate{
	font-size:12px;
	//标题
	.psth{
		background:#f2f2f2;
		.lh(28px);
		margin:0;
		padding:0;
		padding-left:10px;
		width:auto;
		color:#444;
		.icon_ring{.none;}
	}
	.rate{
		padding:10px;
		margin:0;
	}
	.ratl{
		.w(100%);
		th{font-weight:normal;}
		th,td{border-bottom:1px dashed #ddd;line-height:32px;.nobreak;}
		img{.size(18px);.y;margin-top:-4px;}
	}
	.ratc{
		line-height:32px;
	}

}

.m-jiyu-status{
	.r(2px);
	padding:3px 8px 3px 25px;
	.color(#555,#333,#333);
	a{padding:0 2px;}
	a:hover{text-decoration:underline;}
	background:url('@{url}icon/viewpay.gif') no-repeat 5px center;
	border:1px dashed #ddd;
	background-color:#fafafa;
}

.ua-mobile,.screen-s{
	.c-fli-rate{
		.ratl,.ratl_l{
			tr{
				th:last-child,td:last-child{
					.op{.none;}
					//.none;
				}
			}
		}
		.ratc{
			border-bottom:none;
		}
	}

	.c-fli-rate .psth,.c-fli-rate .ratl{
		.none;
	}
}