.c-fli-footer{
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	margin-bottom:10px;
	.pr;
}

.c-fli-magic{
	.pa;
	.rt(0,100%);.z(20);
	margin-top:0 !important;//不应该受 alertHTML影响
}
.ua-mobile,.screen-s{
	.c-fli-magic{
		.pf;.lt(0,0);.z(41);
		.full(x);.x;

		a{.lh(26px) !important;}
		img{.y;margin-top:4px;}
	}
}