//真实内容区(包含追加)
.c-fli-primary{
	.t_table{
		td,th{
			border:1px solid #ddd;
			padding:3px 8px;
		}
	}
	a{color:@blue-link;}
	a:hover{text-decoration:underline;}
}

//文字内容区
.c-fli-article,.c-fli-reply,.t_f,#blog_article{

	.clearfix;

	//文字
	color:#222;
	font-size:13px;

	//链接
	a{text-decoration:none;}
	a:hover{text-decoration:underline;}

	//普通字体
	strong{.bold;}
	i{.italic;}
	u{text-decoration:underline;}

	//图片
	embed{
		width:800px;height:600px;
		max-width:100%;min-height:200px;
	}
	img{max-width:100%;height: auto;}

	//水平线
	hr.l{margin:5px auto;}

	//表格
	table{
		margin-top:10px;
		margin-bottom:10px;
		max-width:100%;
	}

	//列表
	ul,ul li{
		list-style:square inside;
	}
	ol,ol li{
		list-style:decimal inside;
	}
	ul,ol{
		margin-left:20px;
	}

	//最后编辑
	.pstatus{
		font-style:normal;
		font-size:12px;
		color:#999;
	}

	//引用文字
	.quote{
		background: none;
		padding:10px;
		border:1px dashed #ddd;
		background-color:#F8FDFF;
		overflow:visible;
		blockquote{
			background:none;
			padding:0;
			line-height:2;
			.db;
		}
		.pr;
		&:after{
			content:'QUOTE';
			.pa;.rt(-1px,-17px);
			background-color:#F8FDFF;
			border:1px dashed #ddd;
			border-bottom:none;
			.fzlh(12px,12px);color:#45A3C7;
			padding:2px 5px;
			.none;
		}
	}

	//代码
	.blockcode{
		background: none;
		border:none;
		padding:0;
		overflow:visible;
		font-family: Monaco,Consolas,'Lucida Console','Courier New',serif;
		.r(4px);

		ol,ol li{list-style-position:outside;}
		ol{background-color:#272822;margin:0 !important;}
		li{background-color:#272822;margin-left:40px;padding-left:10px;}
		ol li{border-left:1px solid #555;.fz(12px,2.4);color:#f8f8f2;}
		ol li:hover{background-color:#333;color:#f8f8f2;}
		em{
		    .db;background: #f7f8fa;
		    border: 1px solid #dce0e6;
		    text-shadow: 0 1px 1px #fff;
		    margin:0;
		    //.indent(40px);
		    color:#555 !important;
		    .x(right);
		    padding-right:10px;
		    .pointer;
		}

		.pr;
		&:after{
			content:'CODE';
			.pa;.rt(0,-15px);
			background-color:#333;
			border:1px solid #555;
			border-bottom:none;
			.fzlh(12px,10px);color:#999;
			padding:2px 5px;
			.none;
		}
	}

	//隐藏可见
	.locked{
		.x(left);
		padding: 5px 10px 5px 25px;
		border:1px dashed @bluex;
		.tobevip{
			margin-top:-2px;
		}
		.tips(warning);
	}
	.showhide{
		.size(auto,auto);
		background: none;
		text-indent:0;
		cursor:default;
		.x(left);

		padding:10px;
		//color:@bluex;
		border:1px dashed @bluex;
		h4{
			color:@bluex;border-bottom:1px solid #cceafe;
			line-height:26px;height:26px;
			.x;
			margin-bottom:5px;
		}
	}
	ignore_js_op{
		span{white-space:normal !important;}
	}
}
.ua-responsive .screen-s{
	.locked{
		padding:10px;
		background-image:none;
		
	}
	.c-fli-article,.c-fli-reply,.t_f{
		.t_table{
			.w(100%) !important;
		}
	}
	.c-fli-reply,.t_f{
		font-size:1rem;
	}
	.c-fli-article{
		font-size:1.2rem;
	}
}

//主楼文字内容区
.c-fli-article{

}

//副楼文字内容区
.c-fli-content{
	//副标题
	.c-fli-title{
		.bold;
		margin:5px 0 0 0;
		//color:@blue-link;
	}
}


//分类信息回复可见
.u-tobevip{
	.pointer;
	.db;
	//.lh(28px);
	/*padding: 5px;margin: 10px 0;
	color:#A97413;
	background: #fffddf;
	border: 1px dashed #f0ea8e;*/
	.color(#555,@blue-link,@blue-link);
	a:hover{
		text-decoration:underline;
	}

	.fz(12px,2);
	letter-spacing: .5px;
	color: #555 !important;
	text-align: left !important;
	margin: 10px 0;
	padding: 8px 8px 8px 24px;
	background:url('@{urls}common/locked.gif') no-repeat 6px 50%;
	background-color: #fffddf;
	border: 1px solid #f0ea8e;

	/*&:hover{
		color:#CC9300;
		background-color:#FFFCCA;
	}*/

	b{
		color:@bluex;
		//text-decoration:underline;
	}
	i{
		.size(84px,16px);.dbi;.y;
		background:url('@{url}vip/vip.gif') no-repeat 0 0;
		margin: 0 3px;
		.pr;top:-1px;
		.indent;
	}
}