.c-fli-footer{

}

.c-panel{
	.clearfix;
}

.c-panel-left{
	.fl;
}

.c-panel-right{
	.fr;
}

.c-panel{
	.color(#999,#999,@zhblue);

	a{
		background: none;
		margin-right:5px;
	}

	i{.dbi;.y;background:url('@{url}header/icons2.png') no-repeat 0 0;}

	.u-edit{
		i{
			.size(12px,12px);margin-right:3px;
			background-position: -120px -51px;
		}
		&:hover{
			i{background-position: -133px -51px;}
		}
	}

	.u-cmt,.u-reply{
		i{
			.size(9px,12px);margin-top:-2px;margin-right:3px;
			background-position: -28px -22px;
		}
		&:hover{
			i{background-position:-28px -37px;}
		}
	}

	.u-reply{

	}

	.u-pub{
		i{
			.size(14px,12px);
			margin-top:-2px;margin-right:3px;
			background-position: -90px -4px;
		}
	}

	.u-push{
		i{
			.size(12px,12px);
			margin-top:-2px;margin-right:3px;
		    background-position: -27px -67px;
		}
	}

	.u-good,.u-bad{
		i{
			.size(12px,12px);
			margin-top:-2px;margin-right:1px;
		}
	}

	.u-good{
		i{
			background-position: -108px -22px;
		}
		&:hover{
			i{background-position:-108px -37px;}
		}
	}

	.u-bad{
		i{
			background-position: -121px -22px;
		}
		&:hover{
			i{background-position:-121px -37px;}
		}
	}

	.u-best{
		i{
			.size(12px,14px);
			margin-top:-2px;margin-right:3px;
		    background-position: -210px -147px;
		}
	}

	.u-rate{
		i{
			.size(12px,12px);
			margin-top:-2px;margin-right:3px;
		    background-position: -249px -46px;
		}
	}

	.u-report{
		i{
			.size(12px,12px);
			margin-top:-2px;margin-right:3px;
		    background-position: -71px -182px;
		}
	}

}