.default-main{
	.pr;
	padding:10px 0;
}

.default-sidebar{
	.pa;.lt(0,0);
	.w(@sd);
}

.default-content{
	margin-left:@sd + 20px;
}

.ua-responsive .screen-s{
	.viewpage-container{
		padding-bottom:@c-footer-height;
	}
	.default-sidebar{
		//.pf;.lt(0,90px);
		.none;
	}
	.default-content{
		margin-left:0;
	}
}

//楼层公共
.c-fli-common{
	.pr;
}

//首楼
.c-fli-first{
	
}
//副楼
.c-fli{

}

//头部
.c-fli-top{
	border-bottom:1px dotted #ddd;
	margin-bottom:10px;
	padding-bottom:10px;
}