.c-fli-header{

	.color(#888,#222,#222);
	a:hover{
		text-decoration:underline;
	}

	.clearfix;
	.u-avatar{
		.fl;
		img{.size(28px);.dbi;.y;.r(28px);}
	}
	.u-info{
		.fl;
		margin-left:10px;
	}
	.u-username{
		.bold;.fl;
		margin-right:5px;
	}
	.u-usergroup{
		.fl;
		margin-top:6px;
		margin-right:5px;
	}
	.u-verif{
		.fl;line-height:1;
		.db;
		*{.db;.fl;}
		margin-top:5px;
		a{margin-right:2px;}
	}
	.u-info-1{.clearfix;.db;}
	.u-info-2{.clearfix;.db;}

	.u-floor{
		color:#999;
		.fl;margin-right:5px;

		.u-settop{
			.dbi;.y;background:url('@{url}header/icons2.png') no-repeat 0 0;
			.size(12px,14px);
			margin-top:-2px;margin-right:3px;
		    background-position: -210px -147px;
		}
	}

	.u-time{
		.fl;margin-right:5px;
		em{.none;}
	}

	.c-fli-replycredit{
		.fl;
		margin-right: 10px;
	    border: 1px solid #ddd;
	    padding: 2px 5px;
	    border-radius: 2px;
	    color: #999;
	}

}
.ua-responsive .screen-s{
	.c-fli-header{
		font-size:12px;
	}
	.c-fli-replycredit{.none;}
}