.c-forum-title{}

.c-forum-title-subject{

	.pr;
	margin-bottom:5px;

	a:hover{color:@blue-link;}

	.u-type{}

	.u-sort{}

	.u-subject{
		.fz(14px);.bold;
	}

	.u-subjectmark{}

	.u-only,.u-fav{
		.fr;
   		margin-left:5px;
	    border-radius: 2px;
	    padding: 0 8px;
	    border:1px solid #999;
	    color:#666;
	    &:hover,&.on{
	    	color:@blue-link;
	    	border-color:@blue-link;
	    }
	}

	.w-stamp{
		.fr;
		.h(24px);
	}
}

.c-forum-title-meta{
	
	.clearfix;
	.c-forum-title-meta-left{.fl;.clearfix;}
	.c-forum-title-meta-right{.fr;.clearfix;}

	//隐藏发布时间
	.u-posttime{.none;}

	.u-author,.u-posttime,.u-lastedit,.u-view,.u-reply{
		color:#555;
	}

	.u-posttime,.u-lastedit,.u-view,.u-reply{
		margin-left:10px;
	}
	
	.u-author{
		margin-right:2px;
		img{.size(20px);.r(2px);.y;}
		a{.bold;}
		a:hover{
			text-decoration:underline;
		}
	}

	.u-follow{
		color:#999;
		i{
			.dbi;.y;.size(16px);background:url('@{url}forum/follow.png') no-repeat 0 0;
		    margin-top: -2px;
			margin-right: 3px;
		}
	}

	.u-view{
		i{
			.dbi;.y;.size(16px);
			background:url('@{url}forum/view.png') no-repeat 0 0;
			margin-top: -1px;
    		margin-right: 3px;
		}
	}

	.u-reply{
		i{
			.dbi;.y;.size(16px);
			background:url('@{url}forum/reply.png') no-repeat 0 0;
			margin-right: 3px;
		}
	}

	.u-report,.u-share,.u-goto,.u-print,.u-descending{
		.fl;
		color:#999;
		margin-left:10px;
		i{
			.dbi;.y;
			.size(16px);
			margin-right:3px;
		    margin-top: -2px;
		}
		&:hover{
			color:@zhblue;
			i{background-position:0 -16px;}
		}
		span{
			//.none;
		}
	}

	.u-report{
		.none;
		i{
			background:url('@{url}forum/report.png') no-repeat 0 0;
		}
	}
	.u-descending{
		i{
			background:url('@{url}forum/descending.png') no-repeat 0 0;
		}
	}

	.u-print{
		i{background:url('@{url}forum/print.png') no-repeat 0 0;}
	}

	.u-share{
		.pr;.pointer;
		i{
			background:url('@{url}forum/share.png') no-repeat 0 0;
		}
		.bdsharebuttonbox{
			.pa;.lt(-39px,26px);.z(2);
			.w(115px);
			padding:0 5px 0 10px;
			background-color:#fafafa;
			border:1px solid #ddd;
		}
		.bdsharebuttonbox{.none;}
		&.on .bdsharebuttonbox{.db;}
	}

	.u-goto{
		.pr;.pointer;
		i{
			background:url('@{url}forum/goto.png') no-repeat 0 0;
			margin-top:-1px;
			margin-right:4px;
		}
		.u-goto-box{
			.pa;.lt(-101px,26px);.z(2);
			width: 111px;
    		padding: 4px 10px 4px 10px;
			background-color:#fafafa;
			border:1px solid #ddd;
			label{color:#999;}
			label,a,input{margin-right:5px;}
			a{margin-right:0;}
		}
		.u-goto-box{.none;}
		&.on .u-goto-box{.db;}

		#fj label, #fj input{.lh(24px);}
		#fj input{.w(60px);}
	}
}

//ipad
.ua-responsive .screen-m{
	.c-forum-title-meta-left,.c-forum-title-meta-right{
		float:none;
	}
	.c-forum-title-meta .u-report{
		.db;
	}
}

//mobile
.ua-responsive .screen-s{
	.c-forum-title-subject .u-subject{font-size:1.2rem;}
	.c-forum-title-subject .u-only, .c-forum-title-subject .u-fav{.none;}
	.c-forum-title-meta .u-view, .c-forum-title-meta .u-reply{.none;}
	.c-forum-title-meta-right{.none;}
}