.wp{
	.w(@wp);
}

.default-main{
	.pr;
	padding:10px 0;
}

.default-sidebar{
	.pa;.lt(0,0);
	.w(@sd);
}

.default-content{
	margin-left:@sd + 20px;
}

.ua-responsive .screen-s{
	.default-sidebar{
		//.pf;.lt(0,90px);
		.none;
	}
	.default-content{
		margin-left:0;
	}
}