.c-forum-title{}

.c-forum-title-subject{

	.pr;
	margin-bottom:5px;

	a:hover{color:@blue-link;}

	.u-type{}

	.u-sort{}

	.u-subject{
		.fz(14px);.bold;
	}

	.u-subjectmark{}

	.u-only,.u-fav{
		.fr;
		/*background-color: @blue-link;
   		color: #fff;*/
   		margin-left:5px;
	    border-radius: 2px;
	    padding: 0 8px;
	    border:1px solid #999;
	    color:#666;
	    &:hover,&.on{
	    	/*color:#fff;
	    	background-color:darken(@blue-link, 10%);*/
	    	color:@blue-link;
	    	border-color:@blue-link;
	    }
	}

	.w-stamp{
		.fr;
		.h(24px);
	}
}

.c-forum-title-meta{
	.fz(12px,24px);

	.u-author,.u-posttime,.u-lastedit,.u-view,.u-reply{
		color:#555;
	}

	.u-posttime,.u-lastedit,.u-view,.u-reply{
		margin-left:10px;
	}
	

	.u-author{
		margin-right:2px;
		img{.size(20px);.r(2px);.y;}
		a{.bold;}
		a:hover{
			text-decoration:underline;
		}
	}

	.u-follow{
		color:#999;
		i{
			.dbi;.y;.size(16px);background:url('@{url}forum/follow.png') no-repeat 0 0;
		    margin-top: -2px;
			margin-right: 3px;
		}
	}

	.u-view{
		i{
			.dbi;.y;.size(16px);
			background:url('@{url}forum/view.png') no-repeat 0 0;
			margin-top: -1px;
    		margin-right: 3px;
		}
	}

	.u-reply{
		i{
			.dbi;.y;.size(16px);
			background:url('@{url}forum/reply.png') no-repeat 0 0;
			margin-right: 3px;
		}
	}

	.u-report,.u-share,.u-goto,.u-print{
		.fr;
		color:#999;
		margin-left:10px;
		i{
			.dbi;.y;
			.size(16px);
			margin-right:3px;
		}
		&:hover{
			color:@zhblue;
			i{background-position:0 -16px;}
		}
	}

	/*.u-top{
		i{.size(10px,10px);background-position:-134px -22px; }
		&:hover i{
			background-position: -134px -37px;
		}
	}

	.u-color{
		i{.size(7px,10px);background-position: -56px -22px;margin-right: 5px; }
		&:hover i{
			background-position: -56px -37px;
		}
	}*/

	.u-report{
		i{
			background:url('@{url}forum/report.png') no-repeat 0 0;
		}
	}

	.u-share{
		.pr;.pointer;
		i{
			background:url('@{url}forum/share.png') no-repeat 0 0;
		}
		.bdsharebuttonbox{
			.pa;.lt(-39px,26px);.z(2);
			.w(115px);
			padding:0 5px 0 10px;
			background-color:#fafafa;
			border:1px solid #ddd;
		}
		.bdsharebuttonbox{.none;}
		&.on .bdsharebuttonbox{.db;}
	}

	.u-goto{
		.pr;.pointer;
		i{
			background:url('@{url}forum/goto.png') no-repeat 0 0;
			margin-top:-1px;
			margin-right:4px;
		}
		.u-goto-box{
			.pa;.lt(-101px,26px);.z(2);
			width: 111px;
    		padding: 4px 10px 4px 10px;
			background-color:#fafafa;
			border:1px solid #ddd;
			label{color:#999;}
			label,a,input{margin-right:5px;}
			a{margin-right:0;}
		}
		.u-goto-box{.none;}
		&.on .u-goto-box{.db;}

		#fj label, #fj input{.lh(24px);}
		#fj input{.w(60px);}
	}

	.u-print{
		i{background:url('@{url}forum/print.png') no-repeat 0 0;}
	}



}