.i-viewpage-menu{
	.none;
}
.ua-responsive .screen-s{
	.i-viewpage-menu{
		//.db;
	}
}

//#u-mask{.db !important;}

.i-header-view{
	.pa;.rt(0,0);

	.u-only{
		.fl;
		border:1px solid #eee;
		.r(2px);
		padding:2px 8px;
		line-height:16px;
		margin-top:13px;
		margin-right:12px;

		&.on{
			background-color:@basecolor;
			//color:@blue;
		}
	}

	.u-all{
		.db;.fl;
		span{.none;}
		.size(32px,24px);
		background:~"url('@{url}forum/i-menu-more.svg') no-repeat 0 0 / auto 100%";
		margin-top:11px;
	}
}


.i-viewpage-menu{
	.pf;.lb(0,0);.z(40);
	.w(100%);
}
.i-maskmenu-li{
	.h(41px);
	.color(@blue-link,@blue-link,@blue-link);
	background-color:#fff;
}
.i-maskmenu-li-wrapper{
	.fzlh(13px,40px);
	.db;.x;margin:0 15px;
	border-bottom:1px solid #eee;
}

.i-maskmenu-li-goto{
	label,input,a{.dbi;float:none;}
}
.i-maskmenu-li-cancel{
	margin-top:2px;
}