.m-fam-search{
	.clearfix;
	.item{
		margin-bottom:5px;
		.label,.select{
			.db;
		}
	}
	.u-select,.u-text,.u-button{
		.w(100%);
		.db;
		.fzlh(13px,28px);
		box-sizing:border-box;
	}
	.u-select{
		.pointer;
	}
	.u-text{
	}
	.u-button{
	}
}
/*.m-fam-ztsd{
	a{
		.db;
		.size(200px,80px);
		background:url('@{url}fam/zt.png') no-repeat 0 0;
	}
	a{
		transition:0.2s ease-in-out;
	}
	a:hover{
		-webkit-filter:brightness(120%);
	}
}*/
/*.m-fam-task{
	.u-list-1{
		background:url('@{url}medal/fam_3.gif') no-repeat 0 center;
	}
	.u-list-2{
		background:url('@{url}medal/fam_2.gif') no-repeat 0 center;
	}
	.u-list-3{
		background:url('@{url}medal/fam_1.gif') no-repeat 0 center;
	}
}*/
.default-sidebar-content{
	margin-bottom:20px;
}
.m-fam-nav{
	padding:5px 0;
	li{
		margin-bottom:5px;
		background-color:#fff;
		border:1px solid #ddd;
		border-radius:3px;
		a{
			.db;line-height:24px;
			padding:5px 10px;

			i{.size(24px);.dbi;.y(top);margin-right:6px;}

			em{
				.fr;
				.fz(12px);color:#999;
				text-transform:uppercase;
				letter-spacing:0.5px;
				//transform:scale(0.8);
				font-family: "Trebuchet MS",'Helvetica Neue',Helvetica,Arial,sans-serif;
				.none;
			}
		}
		&:hover,&.on{
			background-color:#f7f7f7;
			box-shadow: 0 0 2px #eee inset;
			transition:0.15s ease-in-out;
			em{.db;animation:fadeIn 0.2s ease-in-out;}
		}
		.u-zt{background:url('@{url}fam/xzt.png') no-repeat 0 0;}
		.u-top{background:url('@{url}fam/top.png') no-repeat 0 0;}
		.u-team{background:url('@{url}fam/team.png') no-repeat 0 0;}
		.u-member{background:url('@{url}fam/member.png') no-repeat 0 0;}
	}
}