<!--{template app/header}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/app/app.css" type="text/css" />
<link rel="stylesheet" href="http://css.jx3pve.com/css/app/faceclean/faceclean.css" type="text/css" />
<div class="app-container">
    <div class="app-content">
        <div class="m-faceclean">
            <p>
                部分玩家导出的脸型数据中包含了收费贴花等<br>
                在导入时会提示非法数据<br>
                使用本应用，上传脸型.dat数据文件<br>
                即可重置收费数据为默认<br>
            </p>
            <iframe src="http://www.jx3pve.com/jx3pveos/facedata/faceclear.php" frameborder="0" width="100%" height="200px"></iframe>
        </div>
    </div>

    <div class="app-footer">
        <div class="m-author"><!--{block/1810}--></div>
    </div>

</div>
<script src="http://js.jx3pve.com/js/app/app.min.js"></script>
<!--{template app/footer}-->