//认证图标
.verf-raid{background:url('@{url}verif/raid.png') no-repeat 0 0;}
.verf-leader{background:url('@{url}verif/leader.png') no-repeat 0 0;}
.verf-girl{background:url('@{url}verif/girl.png') no-repeat 0 0;}
.verf-player{background:url('@{url}verif/player.png') no-repeat 0 0;}
.verf-author{background:url('@{url}verif/author.png') no-repeat 0 0;}




//充值
.u-btn-cre{
	width:73px;height:28px;.dbi;margin:0 2px;.y;
	background:url('@{url}user/credits.png') no-repeat 0 0;
	&:hover{
		background-position:0 -28px;
	}
}

//vip提示


//vip图标


//积分兑换



//购买按钮
//蓝色
.buy-cre{
	color:#fff;font-weight:bold;width: 82px;height:32px;line-height:32px;
	border: none;display: block;cursor:pointer;text-align: center;
	background:url('@{url}user/buy-cre.png') no-repeat 0 0;
	&:hover{
		background: url("@{url}user/buy-cre.png") no-repeat 0 -32px;
	}
}
.btn-cre-size2{
	color:#fff;width:87px;height:38px;line-height:38px;
	border:none;display: block;cursor:pointer;text-align: center;
}
.btn-red{
	.btn-cre-size2;
	background:url('@{url}user/btn-red.png') no-repeat 0 0;
	&:hover{
		background:url('@{url}user/btn-red.png') no-repeat 0 -38px;
	}
}
.btn-blue{
	.btn-cre-size2;
	background:url('@{url}user/btn-blue.png') no-repeat 0 0;
	&:hover{
		background:url('@{url}user/btn-blue.png') no-repeat 0 -38px;
	}
}

//faq问号
.u-icon-faqtips{
    background: url('@{url}icon/faq.gif') no-repeat 0 0;
    .dbi;.size(13px);.y;
}