.pg_luckypost{
	#pt{
		margin-bottom:10px;
	}
	.m-jiyu-listth{
		background-color:#f2f2f2;
		.r(24px);
		.fz(12px);
		border:none;

		td,th{
			height:auto;
		}
	}
}

.m-jiyu-status{
	a:hover{color:#f39;}
}