.app-help{
	.fr;

	.m-help,.m-error{
		.fzlh(12px,32px,28px);margin-right:10px;
		.color(#999,#7371CA);
		&:hover{text-decoration:underline;}
	}
	.m-help{
		i{
			.size(13px);.dbi;.y(-2px);margin-right:5px;
			background:url('@{url}app/common/faq.gif') no-repeat 0 0;
		}
	}
	.m-error{
		i{
			.size(13px);.dbi;.y(-2px);margin-right:5px;
			background:url('@{url}app/common/error.gif') no-repeat 0 0;
		}
	}

	.m-share{
		margin-left:5px;
		margin-top:2px;
		.size(161px,28px);
		.fr;//margin-bottom:5px;
		.tm(0.6);
		&:hover{
			.tm(1);
		}
	}
}

.app-search{
	.size(100%,36px);

	.r(4px);
	border:1px solid #ddd;
	background:#fff;
	box-shadow:0 0 2px #ddd inset;
	transition:0.2s ease-in-out;
	&.focus{
		border-color:#FF9B33;
	}

	form{
		.db;
		.pr;
		padding:0 50px 0 10px;

		input{
			.btn-reset;.full;.db;.fzlh(13px,36px);
		}
		button{
			.pa;.rt(0,0);.db;
			.size(40px,100%);
			.indent;.btn-reset;
			box-shadow:none;
			background:url('@{url}app/common/search-btn.png') no-repeat center center;
		}
	}
}