.app-104-container{
	.wp{
		padding:0 !important;
	}
	.default-main{
		padding:0;
	}
}
.app-index{
	ul{}
	li{
		line-height:40px;
		padding:5px 10px;
		border-bottom:1px solid #ddd;
	}
	a{
		.db;
		font-size:1.2rem;
	}
	i{
		.dbi;.y;
		.size(24px);
		margin-right:10px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:100% auto;
	}
	.u-servers{
		background-image:url('@{url}app/sidebar/servers.svg');
	}
	.u-exam{
		background-image:url('@{url}app/sidebar/exam.svg');
	}
}
