.app-sidebar{

}
.default-sidebar-title{
	margin-bottom:10px;
}
.app-list{
	li{
		margin-bottom:5px;
	}
	a{
		.db;
		.lh(32px);
		//padding:10px;
	}
	i{
		.dbi;.size(16px);.y;
		margin:-5px 6px 0 10px;
	}
	.on,a:hover{
		background-color:#f7f7f7;
	}
	a:hover{
		color:@blue-link;
	}
	margin-bottom:20px;
}

.app-list-in{

}

.app-list-out{
	i{.none;}
	a{padding:0 10px;}
}

.app-sidebar-code{
	.x;
	border-top:1px dotted #ddd;
}	


.u-icon-exam{
	background:url('@{url}app/sidebar/exam.png') no-repeat center center;
}
.u-icon-servers{
	background:url('@{url}app/sidebar/servers.png') no-repeat center center;
}