.w-custom{//.none;
	//background-color:#fff;
	.pa;.rt(0,0);
	line-height:29px;
	padding:5px 5px 3px 20px;
	.color(#555,#555,#222);
}

.adminHTML .w-custom{
	.db;
}

.w-custom-width{
	.fl;
	.none;
	
}
.w-custom-zoom{
	.fl;padding:0 10px;cursor:pointer;margin-right:5px;
	i{.dbi;.y;.size(16px);margin-right:2px;background:url('@{url}forum/zoom.png') no-repeat 0 0;}
}

.w-custom-mywork{
	.fl;margin-right:10px;
	i{.dbi;.y;.size(14px);background:url('@{url}header/icons.png') no-repeat -62px 0;}
	.none;
}
.w-custom-fav{
	.fl;
	i{.dbi;.y;.size(15px);background:url('@{url}header/icons2.png') no-repeat -193px -148px;}
}