//dz默认弹层
.fwinmask{
	max-width:100%;
	max-height:100%;

	.pn{
		.db;
    	.lh(28px);
    	.fr;
    	margin-left:10px;
	}
}
.ua-responsive .screen-s{

	.fwinmask{
		.size(100%);
		box-sizing:border-box;
	}

	.fwin{
		.w(100%);
		box-sizing:border-box;
	}
	
	//收藏
	.altw{
		.w(100%);
		box-sizing:border-box;
	}

	//回复
	.m_c .quote{
		.none;
	}

}