//dz默认弹层
.fwinmask{
	max-width:100%;
	max-height:100%;

	.pn{
		.db;
    	.lh(28px);
    	.fr;
    	margin-left:10px;
	}
}
.ua-responsive .screen-s .fwinmask{

	.w(100%) !important;
	box-sizing:border-box;

	.fwin{
		.w(100%);
		box-sizing:border-box;
	}

	//表格内容区
	.m_c{
		.y(top);
	}
	form{

	}
	//操作内容区
	.f_c{

	}
	//操作条
	/*.o{
		background:none;
		border:none;
		position: absolute;
		bottom: 16px;
		right: 8px;
		width: 100%;
		//width: ~"calc(100% - 38px)";
	}*/

}

//回复
.ua-responsive .screen-s #fwin_reply{
	//隐藏引用内容
	.m_c .quote{
		.none;
	}
	//隐藏无用的编辑器按钮
	.fcd,.fqt,.fat,.flnk,.fsml,.fmg{
		.none;
	}
	//加大输入框
	.tedt .pt{
		.h(280px);
	}
	//本版积分规则
	.o .y{
		.none;
	}
}

//文字类弹层提示
.ua-responsive .screen-s .fwinmask{
	.altw{
		.w(100%);
		box-sizing:border-box;
	}
}
//收藏
.ua-responsive .screen-s #fwin_k_favorite{
}
//收听提示
.ua-responsive .screen-s #fwin_followmod{
}