.w-gotofloor{
	.fr;
	.clearfix;
	border-right: 1px dashed #ddd;
    margin-right: 10px;
	.z{margin-right:10px;}
}
.w-gotofloor-box#fj{
	.clearfix;

	.u-font{
		color:#888;.lh(26px,26px);
	}
	.u-go{
		.lh(26px);padding:0 10px;
		img{margin-top:-1px;}
	}
	.u-floor{
		.size(70px,24px);padding:0 5px;.fl;
		.u-text{.w(50px) !important;.h(24px) !important;padding:0 10px;}
	}
}

.ua-responsive .screen-s .w-pages-bottom{
	.w-pages-list,.w-gotofloor{
		float:none;
	}
	.w-gotofloor{
		border:none;
		margin-right:0;
		background-color: #f7f7f7;
    	padding: 5px 0;
	}
	.w-gotofloor-box{
		.fr;
	}
}