.w-gotofloor{
	.fr;
	.clearfix;
	border-right: 1px dashed #ddd;
    margin-right: 10px;
	.z{margin-right:10px;line-height:24px;}
	label{color:#888;}
}
.w-gotofloor-box{
	.clearfix;
}

.ua-responsive .screen-s .w-pages-bottom{
	.w-pages-list,.w-gotofloor{
		float:none;
	}
	.w-gotofloor{
		border:none;
		margin-right:0;
	}
	.w-gotofloor-box{
		.x(right);
		.z{float:none;.y;}
	}
}