//翻页公共
.w-pages{
	.clearfix;
}
.w-pages-list{
	.clearfix;

	&#pgt .pg{
		margin:0;
	}
	.pgb{
		.none;
	}
	.pg{
		.clearfix;
		//当前页
		strong{background-color:#f2f2f2;}
		a,strong,label{border-color:#ddd;margin-bottom:5px;}
		a:hover{border-color:@zhblue;}
	}
}

//顶部翻页
.w-pages-top{
	padding-bottom:0  !important;
	border-bottom:none !important;
}
.viewpage-container .w-pages-top{
	.none;
}

//底部翻页
.w-pages-bottom{
	.w-pages-list{
		.fr;
	}
}

//底部下一页按钮
.u-btn-nextpage,.u-pages-next{
	&:extend(.u-btn-gray);
	.fz(13px,28px);
	.db;.x;
	margin-bottom:10px;
	&:hover{
    	color:#222;
    }
}

//翻页旁发布按钮
.u-btn-publish{
	.fzlh(12px,28px);
	.db;.w(80px);.x;
	border-radius: 2px;
	.fl;
	&:extend(.u-btn-blue);
	img{.none;}
}

//没有分页时
.w-pages-null{
	.tips(graylight);
	.x;
	cursor:default;
}

//手机端
.ua-responsive .screen-s{

	.w-pages-bottom .u-btn-publish{
		.w(100%);
		margin-bottom:10px;
	}
	.viewpage-container .u-btn-publish{
		.none;
	}

} 