#pt{
	.auto(x);
	border:none;
	padding: 5px 0;
    border-bottom: 1px dotted #ddd;
    .lh(29px);
    .nobreak;
}
.ua-responsive .screen-s #pt{
	.none;
}

//管理面板
.pg_portalcp{
	 #pt,.wp{
	 	.w(960px);
	 }
}