.i-header{
	.pf;.lt(0,0);.z(20);.full(x);
	.lh(@c-header-height);
	.color(#fff,#fff,#fff);

	background: #0767c8;
    background: -webkit-linear-gradient(top,#086ed5,#055db5);
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}
.i-header-title{
	.x;//.bold;
}
.i-header-back{
	.pa;.lt(0,0);
	padding:0 20px;

	i{
		.dbi;
		border: 2px solid #fff;
		border-width: 2px 0 0 2px;
		width: 10px;
		height: 10px;
		margin: 0 0 -2px 0;
		transform: scale(1) rotate(-50deg) skew(-10deg) translateZ(0);
	}
	span{
		.fz(1rem);.bold;
		padding-left:10px;
		//.none;
	}
}
.i-header-menu{
	.pa;.rt(0,0);

	//更多
	.u-all{
		.db;.fl;
		span{.none;}
		.size(32px,24px);
		background:~"url('@{url}forum/i-menu-more.svg') no-repeat 0 0 / auto 100%";
		margin-top:11px;
		margin-right:10px;
	}

	//只看楼主（列表页）
	.u-only{
		.fl;
		border:1px solid #eee;
		.r(2px);
		.fz(13px,18px);
		padding:2px 8px;
		margin-top:12px;
		margin-right:20px;

		&.on{
			background-color:@basecolor;
		}
	}

	//发表（发布页）
	.u-pub{
		padding:0 10px;
		line-height:24px;
		font-size:1.2rem;
		i{
			.dbi;.y;.size(32px,24px);
			background:~"url('@{url}forum/post.svg') no-repeat 0 0 / auto 100%";
		}
		//span{.none;}
		background: none;
		border:none;
		box-shadow:none;
		appearance:none;
	}

	//发布（列表页）
	.u-post{
		.fl;
		margin-top:10px;
		margin-right:10px;
		i{
			.db;.size(32px,25px);
			background:~"url('@{url}forum/write.svg') no-repeat 0 0 / auto 100%";
		}
		span{.none;}
	}

}

.i-header{.none;}
.ua-responsive .screen-s .i-header{.db;}