.m-face-view{
	.m-default{
		.pr;
		min-height:442px;
	}
	.m-short{
		.db;.size(300px,400px);
		.clip;
		border:1px solid #ddd;
		border-radius:4px;
		margin:10px;
		padding:10px;
		.img{
			.db;.x;.full;.pr;
			background:url('@{url}header/jx3pve-logo-white.png') no-repeat center center;
			img{
				max-width:100%;
				max-height:100%;
			}
			&:after{
				content:'';
				.db;
				.full;
				.pa;.lt(0,0);
				background:url('@{url}face/mirror.png') no-repeat 0 0;
			}
		}

		.pa;.lt(0,0);
	}
	.m-info{
		padding:10px 0;
		margin-left:322px + 30px;
	}
	.m-info-inner{
		.clearfix;
		margin-bottom:10px;
	}
	.m-details{
		//background-color:#fafafa;
		//border:1px solid #eee;
		//padding:5px 10px;
		//.r(4px);
		.fl;.w(180px);

		line-height:2.6;
		.item{
			border-bottom:1px dashed #ddd;
			white-space: nowrap;
		}
		.u-author{
			a{color:@blue-link;}
			a:hover{text-decoration:underline;}
		}
		.u-tips{
			.tips(yel);
			padding:5px;
		}
		.u-true{color:#f00;}
		.u-false{color:green;}

		.u-report{
			//.db;.x;
			.fz(12px,20px);
			padding:0 5px;
			border-radius:3px;
			b{color:@yel;}
			i{
				background:url('@{url}icon/notice.gif') no-repeat 0 center;
				.dbi;.y;margin-right:3px;margin-top:-3px;.size(13px);
			}
			//padding-left:18px;
			.color(#555,#555,#222);
		}
	}
	.m-down{
		.fl;
		margin-bottom:10px;
		.u-btn-facedown{
			background:url('@{url}face/download.png') no-repeat center center;
			.size(210px,60px);
			.db;.indent;
			//margin:10px auto 5px auto;
			margin-top:10px;
		}
		.counts{
			.x;.db;
			padding:5px 0;
			span{color:#c00;}
		}
	}


	.m-clean{
		background-color:#EDF7FD;
		border:1px solid #D0EBFF;
		padding:20px 20px 0 20px;
		//.tips(yel);

		.m-clean-title{
			border-bottom:1px solid #ddd;
		}
		.m-clean-desc{
			.color(#888);
		}
	}

	.m-extend{
		margin-top:10px;
		margin-bottom:20px;
		padding:0 10px;
		.m-more{
			border-bottom:1px dotted #ddd;
			border-top: 1px dotted #ddd;
			color: #999;
			//span{.upen;}
			background-color:#f7f7f7;
			padding:5px 10px;
		}
		.minipic{
			.clearfix;
			li{
				.fl;margin:0 30px;
				.w(160px);
				span{
					.db;.x;line-height:2;margin:5px 0;color:#777;
				}
				img{
					.db;.size(100%,210px);border:1px solid #eee;
					background:url('@{url}common/blankbg.png') #f9f9f9 no-repeat center center;
				}
			}
		}
	}
}

.m-til{
	.pr;
	&:before{content:'';.db;width:90%;height:1px;background-color:#ddd;.ct(y,2px);right:0;}
	h3{
		.dbi;width:70px;.fzlh(13px,24px);border-radius:24px;background-color:#eee;.x;color:#555;
		.pr;.z(2);
	}
}

.ua-responsive .screen-s .m-face-view{
	.m-default{
		min-height:auto;
	}
	.m-short{
		.ps;
		.w(100%);
		height:auto;
		padding:0;
		margin:0;
	}
	.m-short .img:after{
		.none;
	}
	.m-info{
		margin:0;
	}
	.m-details{
		float:none;
		.w(auto);
	}
	.m-down{
		float:none;
		.u-btn-facedown{.auto(x);}
	}
	.u-wb{
		.none;
	}

	.m-clean{
		.none;
	}
	.m-extend .minipic li{
		.auto(x);
		float:none;
	}
}