<div class="m-macro-primary">

	<div class="m-macro-block m-macro-topblock">
		<div class="m-macro-baseinfo macro-info-base">
			<ul>
				<li><em>作者名称:</em>
					<span>{macro_author_value}</span>
				</li>
				<li><em>适用心法:</em>
					<span id="u-macro-role"></span>
				</li>
				<li><em>适用资料片:</em>
					<span id="u-macro-zlp">{zlp_value}</span>
				</li>
				<li><em>特殊标签:</em>
					<span>
						<b class="u-macro-justjx3pve"><i class="u-macro-sptag">独家首发</i><span id="u-macro-justjx3pve">{justjx3pve_value}</span></b>
						<b class="u-macro-posttime"><i class="u-macro-sptag" id="u-macro-posttime-ex">一年老字号</i><span id="u-macro-posttime">{dateline}</span></b>
						<b class="u-macro-zan"><i class="u-macro-sptag">点赞破千</i><span id="u-macro-zan">{recommends}</span></b>
					</span>
				</li>
			</ul>
			<div class="m-banner-macro"><a href="http://www.jx3pve.com/feedback" target="_blank"><img src="http://img.jx3pve.com/img/banner/adbanner1.png" /><span><b>广告</b>广告位招租 admin@jx3pve.com</span></a></div>
		</div>
		<div class="m-macro-relative">
			<ul>
				<li><a class="u-down" href="{macro_tool_value}"><i></i>下载配套工具</a></li>
				<li><a class="u-report" href="javascript:;" onclick="showWindow('miscreport', 'misc.php?mod=report&amp;url='+REPORTURL);return false;"><i></i>举报失效</a></li>
			</ul>
		</div>
	</div>

	<div class="m-macro-block m-macro-important">
		<h3>简介说明 <span>!important</span></h3>
		<div class="content">
			{macro_ac_value}
		</div>
	</div>

	<div class="m-macro-block m-macro-roleinfo">
		<div class="til"><h3>奇穴方案</h3></div>
		<div class="content e-jx3qixue">
			{macro_qx_value}
		</div>
	</div>

	<div class="m-macro-block m-macro-roleinfo">
		<div class="til"><h3>秘籍搭配</h3></div>
		<div class="content">
			{macro_mj_value}
		</div>
	</div>

	<div class="m-macro-block m-macro-roleinfo">
		<div class="til"><h3>急速推荐</h3></div>
		<div class="content">
			{macro_js_value}
		</div>
	</div>

	<div class="m-macro-block m-macro-frag m-macro-alone">
		<div class="til"><h3>一段宏</h3></div>
		<div id="macro-ct1" class="e-macro">
			{macro_ct1_value}
		</div>
		<div class="e-copycode flash-copy" data-clipboard-target="macro-ct2">复制宏代码</div>
	</div>

	<div class="m-macro-block m-macro-frag m-macro-more">
		<div class="til"><h3>多段宏</h3><span id="macro-copy-tips">绿色部分为注释说明,请勿复制到宏中</span></div>
		<div id="macro-ct2" class="e-macro">
			{macro_ct2_value}
		</div>
		<div class="e-copycode flash-copy" data-clipboard-target="macro-ct2">复制宏代码</div>
	</div>

	<div class="m-macro-block m-macro-roleinfo">
		<div class="til"><h3>配装建议</h3></div>
		<div class="content">
			{macro_pz_value}
		</div>
	</div>

	<div class="m-macro-block m-macro-roleinfo">
		<div class="til"><h3>更新日志</h3></div>
		<div class="content">
			{macro_log_value}
		</div>
	</div>

	<div class="m-macro-roleinfo">
		<div class="til"><h3>更多说明</h3></div>
	</div>

</div>