//平板竖屏
.ua-responsive .screen-m{
	.c-header-search{
		.w(280px);
	}
	.c-header-menu{
		.none;
	}
	.c-header .wp{
		padding-right:0;
	}
	.c-header-user-logout{
		padding-right:10px;
	}
	.c-header-nav-list li a{
		font-size:13px;
		padding-left:12px;
		padding-right:12px;
	}
}
