
.gift-container{
}

.gift-rule{
	.w(90%);
	//.h(180px);overflow:auto;
	margin:20px auto !important;
	border:2px solid #ddd;
	background-color:#EEFCFF;
	padding:20px;

	h2{
		.fz(18px,2);.x;
		margin-bottom:10px;
	}

	p{
		.indent(26px);.fz(13px,2.2);
	}

	a{
		.color(@bluex,@bluex);
		&:hover{text-decoration:underline;}
	}

	.rule-style-red{.color(#c00);.bold;}
	.rule-style-right{.x(right);}
}
.gift-rule-agree{
	.x;
}
.gift-rule-go{
	.size(120px,40px);
	.x;//.auto(x);
	.db;
	.u-btn-blue(b);
	.r(4px);
	.fz(16px,40px);
	margin:10px auto;
}

#gift-primary-1{
	//.none;
}
#gift-primary-2{
	padding:20px 0;
}

.gift-rule-back{
	.fr;
}

.gift-progress{
	.clearfix;
	
	.m-progress{
		.w(380px);.auto(x);
	}
	.til{
		.db;
		.fz(16px,2);
		border:2px solid #ddd;
		background-color:#EEFCFF;
		.x;
		padding:20px;
	}
	b{
		.bold;
	}
	strong{
		.bold;color:#cc0000;
	}
	.desc{
		.fz(12px,2);
		padding:10px 0;
	}
	.desc a{
		.color(@bluex,@bluex);
		text-decoration:underline;

		&.black{
		color:#333;
		}	
	}


	.m-progress-bar{

		.size(10px,100px);
		background-color:#eee;
		border:2px solid #ddd;
		margin:20px auto;

		.pr;.arrows(b,10px,#eee,2px,#ddd);
	}

	.m-progress-3 span{
		background-color:#ffff00;
		color:#ff0000;
		.db;border:1px solid #c00;
		padding:5px;
		.bold;
	}
}


.gift-acdetails{
	.fz(12px,2);
	margin:0 10px;
	padding:10px;
	border:1px dotted #ddd;
	color:#666;
}