<!-- jx3pve:c-footer -->
<div class="c-footer">
	<div class="wp">
		<div class="c-footer-lang">
			<span class="lang-til">Choose Language</span>
			<p class="lang-img">
				<a title="简体中文" href="http://www.jx3pve.com"></a>
				<a title="國語" href="http://translate.google.com/translate?hl=zh-CN&sl=zh-CN&tl=zh-TW&u=http%3A%2F%2Fwww.jx3pve.com%2F" target="_blank"></a>
				<a title="English" href="http://translate.google.com/translate?hl=zh-CN&sl=zh-CN&tl=en&u=http%3A%2F%2Fwww.jx3pve.com%2F" target="_blank"></a>
				<a title="한국의" href="http://translate.google.com/translate?hl=zh-CN&sl=zh-CN&tl=ko&u=http%3A%2F%2Fwww.jx3pve.com%2F" target="_blank"></a>
				<a title="Việt" href="http://translate.google.com/translate?hl=zh-CN&sl=zh-CN&tl=vi&u=http%3A%2F%2Fwww.jx3pve.com%2F" target="_blank"></a>
			</p>
		</div>

		<div class="c-footer-subnav">
			<!--{loop $_G['setting']['footernavs'] $nav}-->
			<!--{if $nav['available'] && ($nav['type'] && (!$nav['level'] || ($nav['level'] == 1 && $_G['uid']) || ($nav['level'] == 2 && $_G['adminid'] > 0) || ($nav['level'] == 3 && $_G['adminid'] == 1)) ||
					!$nav['type'] && ($nav['id'] == 'stat' && $_G['group']['allowstatdata'] || $nav['id'] == 'report' && $_G['uid'] || $nav['id'] == 'archiver' || $nav['id'] == 'mobile' || $nav['id'] == 'darkroom'))}-->
					$nav[code]
			<!--{/if}-->
			<!--{/loop}-->
		</div>

		<div class="c-footer-nav">
			<a href="./sitemap">网站地图</a>
			<a href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=24">更新日志</a>
			<a href="./portal.php?mod=topic&topicid=113">版权声明</a>
			<a href="./portal.php?mod=topic&topicid=114">免责声明</a>
			<a href="./forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=26">加入我们</a>
			<a href="./portal.php?mod=topic&topicid=115">友情链接</a>
			<a href="./portal.php?mod=topic&topicid=65">合作联系</a>
		</div>

		<div class="c-footer-official">
			官方微信公众号：<span class="wx">剑网3PVE<i class="wxcode_small"></i><i class="wxcode"></i></span> | 
			<!--{if $_G['setting']['icp']}-->
				<a href="http://www.miitbeian.gov.cn/" target="_blank">$_G['setting']['icp']</a>
			<!--{/if}-->
			<!--  |
			官方微博：<a href="http://weibo.com/jx3pve" target="_blank">@剑网3精品资料站</a> -->
		</div>

		<!-- <div class="c-footer-gov">
			<a href="http://jx3.xoyo.com/" target="_blank">剑侠情缘网络版叁</a>  | 
			
		</div> -->

		<div class="c-footer-copyright">
			&copy; 2012-2016 <a href="$_G['setting']['siteurl']">$_G['setting']['sitename']</a> All rights reserved.
		</div>

		<!--{hook/global_footerlink}-->

		<!-- [dz] debuginfo -->
		<p class="c-footer-debuginfo">
			{lang time_now}
			<span id="debuginfo">
			<!--{if debuginfo()}-->, Processed in $_G[debuginfo][time] second(s), $_G[debuginfo][queries] queries
				<!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}--><!--{if C::memory()->type}-->, <!--{echo ucwords(C::memory()->type)}--> On<!--{/if}-->.
			<!--{/if}-->
			</span>
		</p>
	</div>
</div>

<!-- jx3pve:u-mask-->
<!--{template common/mask}-->

<!-- jx3pve:w-dialog-->
<!--{template common/dialog}-->

<!-- jx3pve:c-float -->
<!--{template common/float}-->

<!-- jx3pve:c-alert -->
<!--{template common/alert}-->

<!-- jx3pve:c-showbox -->
<div class="c-showbox" id="c-showbox">
	<span class="c-showbox-close" id="c-showbox-close" title="关闭"></span>
	<div class="c-showbox-content" id="c-showbox-content"></div>
</div>

<!-- jx3pve:mobile footer -->
<footer class="i-footer">
	<ul>
		<li><a class="u-index {if CURMODULE == 'index'}on{/if}" href="./"><i></i><span>首页</span></a></li>
		<li><a class="u-nav {if $_GET['topicid'] == '110'}on{/if}" href="./sitemap"><i></i><span>导航</span></a></li>
		<li><a class="u-ask" href="./ask"><i></i><span>发布</span></a></li>
		<li><a class="u-search {if $_GET['topicid'] == '111'}on{/if}" href="./search"><i></i><span>搜索</span></a></li>
		<li><a class="u-os" href="./home.php"><i><em class="e-msg"></em></i><span>我</span></a></li>
	</ul>
</footer>