<!--{if $_G['uid']}-->
<!--status: is login and uid is not empty-->
	<div class="c-header-user-login">
		<div class="m-default" id="c-header-user-login-default">
			<a href="home.php" id="c-header-user-tg">
				<span class="avatar">
					<!--{avatar($_G[uid],small)}-->
					<i id="c-header-usergroup" class="{if ($_G[groupid]==22)}vip{/if} $_G[groupid]">$_G[group][grouptitle]</i>
				</span>
				<span class="username">
					{$_G[member][username]}
					<b id="c-header-msg-count"></b>
				</span>
			</a>
		</div>
		<div class="m-extend" id="c-header-user-login-extend">
			<ul>
				<li><a href="./home.php"><i class="os"></i>个人中心</a></li>
				<li><a href="./home.php?mod=space&do=pm"><i class="msg"></i>消息 (<em id="c-header-msgcount">$_G[member][newpm]</em>)</a></li>
				<li><a href="./home.php?mod=spacecp&ac=profile&op=password"><i class="setting"></i>设置</a></li>
				<!--{if ($_G['group']['allowmanagearticle'] || $_G['group']['allowpostarticle'] || $_G['group']['allowdiy'] || getstatus($_G['member']['allowadmincp'], 4) || getstatus($_G['member']['allowadmincp'], 6) || getstatus($_G['member']['allowadmincp'], 2) || getstatus($_G['member']['allowadmincp'], 3))}-->
				<li class="e-admin-bar"><a href="portal.php?mod=portalcp" target="_blank"><i class="mag"></i><!--{if $_G['setting']['portalstatus'] }-->{lang portal_manage}<!--{else}-->{lang portal_block_manage}<!--{/if}--></a></li>
				<!--{/if}-->
				<!--{if $_G['uid'] && getstatus($_G['member']['allowadmincp'], 1)}-->
				<li class="e-admin-bar"><a href="admin.php" target="_blank"><i class="mag"></i>{lang admincp}</a></li>
				<!--{/if}-->
				<li><a href="member.php?mod=logging&action=logout&formhash={FORMHASH}"><i class="exit"></i>{lang logout}</a></li>
			</ul>
			<div class="none">
				<li><!--{hook/global_usernav_extra1}--></li>
				<li><!--{hook/global_usernav_extra4}--></li>
				<li><!--{hook/global_usernav_extra3}--></li>
			</div>
		</div>
	</div>
<!--{elseif !empty($_G['cookie']['loginuser'])}-->
<!--status: cookie login-->
	<div class="c-header-user-logout">
		<div class="m-default">
			<span class="default_avatar"></span>
			<a class="noborder" id="loginuser"><!--{echo dhtmlspecialchars($_G['cookie']['loginuser'])}--></a> | 
			<a href="member.php?mod=logging&action=login" onclick="showWindow('login', this.href)">{lang activation}</a> | 
			<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
		</div>
	</div>
<!--{elseif !$_G[connectguest]}-->
<!--status: guest-->
	<div class="c-header-user-logout">
		<div class="m-default">
			<a href="member.php?mod=logging&action=login">{lang login}</a> | 
			<a href="member.php?mod=register">{lang register}</a>
		</div>
		<div class="m-extend">
		</div>
	</div>  
<!--{else}-->
<!--status: qq guest-->
	<div class="c-header-user-logout">
		<div class="m-default">
			<span class="default_avatar"></span>
			<span>{$_G[member][username]}<!--{hook/global_usernav_extra1}--></span> | 
			<a href="member.php?mod=logging&action=logout&formhash={FORMHASH}">{lang logout}</a>
		</div>
	</div>
<!--{/if}-->

<!--{if $_G['uid']}-->
<p id="c-header-msgdetails" class="none">
	<span>$_G[member][newpm]</span>
	<span>$_G[member][newprompt]</span>
</p>
<!--{/if}-->