<!-- headjs -->
<script>
	var head_conf = {
			head:'H',
			ROOT:'http://test.jx3pve.com/js/',
			CDNROOT:'http://js.jx3pve.com/js/'
		}
</script>
<script src="http://js.jx3pve.com/js/lib/head.min.js"></script>
<!-- jquery -->
<script src="http://js.jx3pve.com/js/lib/jquery-1-10-2.min.js"></script>
<!-- load modules -->
<script src="http://js.jx3pve.com/js/init.min.js"></script>
<script src="http://js.jx3pve.com/js/plugin/responsive.min.js"></script>
<!-- sdk -->
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
