<div class="c-header-menu">
	<ul class="c-header-menu-default">
		<li class="{if CURMODULE == 'index'}on{/if}"><a href="./">首页</a></li>
		<li class="{if $_G[fid]=='294'}on{/if}"><a href="./macro">宏库</a></li>
		<li class="{if $_G[fid]=='321'}on{/if}"><a href="./tool">工具</a></li>
		<li class="{if $_G[fid]=='384'}on{/if}"><a href="./role">职业</a></li>
		<li class="{if $_G[fid]=='369'}on{/if}"><a href="./fam">副本</a></li>
		<li class="{if $_G[fid]=='92'}on{/if}"><a href="./face">捏脸</a></li>
		<li class="{if $_G[fid]=='2'}on{/if}"><a href="./bbs">交流</a></li>
		<li class="{if $_GET['topicid'] == '110'}on{/if}"><a id="c-header-menu-moretg" href="./sitemap">更多</a></li>
	</ul>
	<!-- <ul class="c-header-menu-extend" style="display:none;">
		<li><a href="./fb">副本专题</a></li>
		<li><a href="./team">团队招募</a></li>
		<li><a href="./member">团员找团</a></li>
		<li><a href="./biz-sale">出售信息</a></li>
		<li><a href="./biz-buy">求购信息</a></li>
		<li><a href="./snow">读条皮肤</a></li>
		<li><a href="./story">回忆录</a></li>
		<li><a href="./ow">守望先锋</a></li>
	</ul> -->
</div>
