<div class="wp">
    <!-- 标题 -->
    <div class="columns-title">
        <a href="http://www.jx3pve.com/video"></a>
    </div>

    <!-- 分类导航 -->
    <div class="tab">
        <ul>
            <li class="story"><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=1&scid=0&tcid=0"><i></i><span>剧情</span></a></li>
            <li class="music"><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=3&scid=0&tcid=0"><i></i><span>音乐</span></a></li>
            <li class="official"><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=2&scid=0&tcid=0"><i></i><span>官方</span></a></li>
            <li class="other"><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=7&scid=0&tcid=0"><i></i><span>其他</span></a></li>
        </ul>
    </div>

</div>

<!-- 菜单栏 -->
<div class="nav">
    <ul>
        <li class="on"><a href="http://www.jx3pve.com/plugin.php?id=smart_video">视频首页</a></li>
        <li><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=1&scid=0&tcid=0">剧情视频</a></li>
        <li><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=3&scid=0&tcid=0">音乐视频</a></li>
        <li><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=2&scid=0&tcid=0">官方视频</a></li>
        <li><a href="http://www.jx3pve.com/smart_video-smart_video.html?mod=s&fcid=7&scid=0&tcid=0">其他视频</a></li>
        <li><a href="http://dev.tech.seasungame.com/movieeditor/index.html" target="_blank">制作视频</a></li>
        <li><a href="http://www.jx3pve.com/plugin.php?id=smart_video&mod=p" target="_blank">分享视频</a></li>
        <li class="back"><a href="http://www.jx3pve.com">&laquo; 返回网站首页</a></li>
    </ul>
</div>
