//友情链接
.m-about-links{
	.clearfix;
	.color(#222,@blue-link,@blue-link);
	ul{
		.fl;margin:0 20px;
	}
	li{
		.fz(12px,2.5);
		list-style:square;
	}
	a:hover{
		text-decoration:underline;
	}
}
.m-about-links-add{
	margin-top:10px;
	.clear;
}