.f-392{
	.w-category,.w-order,.w-filter{.none;}
	.w-category-nav{.none;}
	.w-pages-top{.none;}
}
.adminHTML{
	.f-392{
		.w-category,.w-order,.w-filter{.db;}
		.w-category-nav{.db;}
		.w-pages-top{.db;}
	}
}

//发布按钮
.u-btn-publish{
	.none;
}
.adminHTML{
	.u-btn-publish{
		.db;
	}
}
.ua-responsive .screen-s{
	.pg{
		float:none;
		margin-bottom:10px;
	}
	.u-btn-publish{
		float:none !important;
		margin:0 auto !important;
		.clear;
	}
} 

//列表
.ua-responsive .screen-m .m-timelist ul{padding-left:100px;}
.ua-responsive .screen-s .mn{overflow:visible;} //for phone

