.m-ow-list{
}
.m-ow-tips{
	.x;
	//border:1px solid #ddd;
	.r(3px);
	margin:20px 0;
	color:#888;
}
.m-ow-item-th{
	background-color:#f7f7f7;
	border-bottom:1px solid #ddd !important;
	border-top:1px solid #ddd !important;
	.u-details{.x;}
	*{color:#888 !important;}
}
.m-ow-item{

	.pr;.clearfix;

	.fzlh(12px,36px);
	border-bottom:1px dotted #ccc;

	.u-subitem{
		.db;.fl;
		height:100%;
		overflow:hidden;
	}

	.u-sex{
		.db;.w(30px);
		em{.none;}
		i{.db;.size(30px,36px);
			background-position:center;background-repeat:no-repeat;
			opacity:0.8;
		}
		.u-sex-boy{
			background-image:url('http://ww3.sinaimg.cn/large/bcc700eegw1f632owbx05j200c00c0ku.jpg');
		}
		.u-sex-girl{
			background-image:url('http://ww3.sinaimg.cn/large/bcc700eegw1f632owzpxvj200c00c0if.jpg');
		}
		.u-sex-gay{
			background-image:url('http://ww2.sinaimg.cn/large/bcc700eegw1f632tsitp8j200c00c0ks.jpg');
		}
		.u-sex-shemale{
			background-image:url('http://ww2.sinaimg.cn/large/bcc700eegw1f632ttbm5oj200c00c0ip.jpg');
		}
	}
	.u-user{
		.w(120px);
		a{.color(@blue-link,@yel);}
	}
	.u-id{
		.w(260px);
		/*.bold;
		color:#c00;*/
		i{.none;color:#888;}
	}
	.u-hero,.u-fwq{
		.w(30px*8);
		margin-right:20px;
		em{.none;}
		strong{.none;color:#888;.fl;}

		.u-hero-icon{.db;.clearfix;margin:(36px - 24px)/2 0;.h(24px);overflow:hidden;}
		.u-hero-icon i{
			.db;.fl;.size(24px);margin-right:2px;
			background-position:center center;
			background-size:100% auto;
			background-repeat:no-repeat;
			border:1px solid #ccc;
			.r(3px);
			box-shadow:0 0 1px #888;
		}

		.u-hero-76{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634abr3glj200o00o0sh.jpg");
		}
		.u-hero-reaper{
			background-image:url("http://ww1.sinaimg.cn/large/bcc700eegw1f634a9sgo5j200o00o0ne.jpg");
		}
		.u-hero-pharah{
			background-image:url("http://ww2.sinaimg.cn/large/bcc700eegw1f634a9jheqj200o00o741.jpg");
		}
		.u-hero-genji{
			background-image:url("http://ww1.sinaimg.cn/large/bcc700eegw1f634a6zr5hj200o00o0rl.jpg");
		}
		.u-hero-tracer{
			background-image:url("http://ww4.sinaimg.cn/large/bcc700eegw1f634ackmvdj200o00o0sh.jpg");
		}
		.u-hero-mccree{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634a8srdgj200o00o0s6.jpg");
		}
		.u-hero-hanzo{
			background-image:url("http://ww2.sinaimg.cn/large/bcc700eegw1f634a7rzvkj200o00o0sh.jpg");
		}
		.u-hero-bastion{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634a5o78lj200o00o0pr.jpg");
		}
		.u-hero-torbjorn{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634ac7iqtj200o00o0sh.jpg");
		}
		.u-hero-junkrat{
			background-image:url("http://ww1.sinaimg.cn/large/bcc700eegw1f634a7g3crj200o00o0sh.jpg");
		}
		.u-hero-mei{
			background-image:url("http://ww4.sinaimg.cn/large/bcc700eegw1f634a9f0b5j200o00o0s7.jpg");
		}
		.u-hero-widowmaker{
			background-image:url("http://ww2.sinaimg.cn/large/bcc700eegw1f634adxarzj200o00o0sh.jpg");
		}
		.u-hero-dva{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634a6w131j200o00o0sh.jpg");
		}
		.u-hero-zarya{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634ae23ekj200o00o0sh.jpg");
		}
		.u-hero-winston{
			background-image:url("http://ww2.sinaimg.cn/large/bcc700eegw1f634adqsr3j200o00o0op.jpg");
		}
		.u-hero-reinhardt{
			background-image:url("http://ww1.sinaimg.cn/large/bcc700eegw1f634ab8n14j200o00o0py.jpg");
		}
		.u-hero-roadhog{
			background-image:url("http://ww3.sinaimg.cn/large/bcc700eegw1f634aar208j200o00o0q8.jpg");
		}
		.u-hero-lucio{
			background-image:url("http://ww1.sinaimg.cn/large/bcc700eegw1f634a8derfj200o00o0sh.jpg");
		}
		.u-hero-mercy{
			background-image:url("http://ww4.sinaimg.cn/large/bcc700eegw1f634a8y6yoj200o00o0sh.jpg");
		}
		.u-hero-ana{
			background-image:url("http://ww4.sinaimg.cn/large/bcc700eegw1f634a5r8j2j200o00o3y9.jpg");
		}
		.u-hero-zenyatta{
			background-image:url("http://ww4.sinaimg.cn/large/bcc700eegw1f634aeqbcyj200o00o0sh.jpg");
		}
		.u-hero-symmetra{
			background-image:url("http://ww1.sinaimg.cn/large/bcc700eegw1f634acfrh5j200o00o0sh.jpg");
		}
	}
	.u-status{
		.w(110px);
		&.u-status-on{color:green;}
		&.u-status-off{color:@yel;}
	}
	.u-words{
		color:#666;
		.w(180px);
		.nobreak;
	}
	.u-details{
		.nobreak;
		.pa;.rt(0,0);
		.w(34px);
		.color(#555,@yel);
	}
}


.ua-responsive .screen-s{
	.m-ow-item-th{.none !important;}
	.m-ow-item,.m-ow-item .u-subitem{height:auto;}
	.m-ow-item{
		.u-hero,.u-fwq{
			.w(100%);
			.clear(left);
			strong{.di;}
		}
	}
	.m-ow-item .u-id{
		.w(100%);
		.clear(left);
		i{.di;}
	}
	.m-ow-tips{.none;}
	.i-header-list .i-header-menu .u-all{.none;}
}

.c-fli-custom{
	li{
		border-bottom:1px dotted #ddd;line-height:36px;
		em{color:#888;.dbi;.w(100px);}
	}
}
.w-adminbar{
	padding:0 !important;
	margin:10px 0;
}