.app-sidebar{

}
.default-sidebar-title{
	margin-bottom:10px;
}
.app-list{
	li{
		margin-bottom:5px;
	}
	a{
		.db;
		.lh(24px);
		padding:4px 5px;
		//padding:10px;
	}
	i{
		.dbi;.y(top);.size(24px);
		margin-right:5px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:100% auto;
	}
	.on,a:hover{
		background-color:#f7f7f7;
	}
	a:hover{
		color:@blue-link;
	}
	margin-bottom:20px;
}

.app-list-in{

}

.app-list-out{
	i{background-color:@basecolor;color:#fff;line-height:16px;.x;}
	//a{padding:0 10px;}
}

.app-sidebar-code{
	.x;
	b{.bold;color:#c00;}
	padding:10px;
	background-color:#f8f8f8;
	margin-top:10px;
}	

