<span class="u-addex">
	<!--{if $thread[folder] == 'lock'}-->
		<img src="{IMGDIR}/folder_lock.gif" />
	<!--{elseif $thread['special'] == 1}-->
		<img src="{IMGDIR}/pollsmall.gif" alt="{lang thread_poll}" />
	<!--{elseif $thread['special'] == 2}-->
		<img src="{IMGDIR}/tradesmall.gif" alt="{lang thread_trade}" />
	<!--{elseif $thread['special'] == 3}-->
		<img src="{IMGDIR}/rewardsmall.gif" alt="{lang thread_reward}" />
	<!--{elseif $thread['special'] == 4}-->
		<img src="{IMGDIR}/activitysmall.gif" alt="{lang thread_activity}" />
	<!--{elseif $thread['special'] == 5}-->
		<img src="{IMGDIR}/debatesmall.gif" alt="{lang thread_debate}" />
	<!--{elseif in_array($thread['displayorder'], array(1, 2, 3, 4))}-->
		<img src="{IMGDIR}/pin_$thread[displayorder].gif" alt="$_G[setting][threadsticky][3-$thread[displayorder]]" />
	<!--{else}-->
	<!--{/if}-->
</span>