
/*.edt{
	.u-editor-book{background-position:-220px -120px;}
	.u-editor-bookpart{background-position:-200px -60px;}
	.w-editor-tip{}

	#e_page,#e_index,#e_book,#e_bookpart{.none;}
}
*/






#postbox{

	/*//编辑区
	.edt .pt{
		height:600px !important;
	}

	
	.pnpost{
		//#adddynamicspan{.none;}
		//转播给听众
		.m-tofollows{
			
			.m-tofollows-tips{
				.pr;
				background: #E3FCCF;
				padding: 5px;
				border-radius: 3px;
				color: #589336;
				.arrow(l,8px,#E3FCCF);
				margin-left:8px;
			}
		}
		//来自群组
		.m-groups{
			.none;
		}
	}

	//发布按钮
	.u-postbtn{
		.w(160px);.lh(40px);
	}

	.u-postsave{
		.none;
	}*/
	
}


//百度网盘
/*.pbn #e_cst__virtualpan_param_1{
	width:100% !important;
}*/

//默认附件
/*.fwinmask{
	.dbank_small_tips{
		.none;
	}
	#e_dbankplugin_c iframe{
		border:none;
	}
	//注册条例
	.m_c .c{
		.acolor(@bluex,#cc0000);
	}
}*/

//分类信息上传按钮
/*#uploadform{
	.filebtn{
		.w(auto);
		.pn{.db;.auto(x);}
	}
}*/

/*#e_macro {
   width: 50px;
   background-image: url("http://img.jx3pve.com/img/editor/macro.png");
   background-repeat: no-repeat;
 }*/