.ct2_a h1.mt{
	.none;
	img{.none;}
}
.ct2_a .mn{
	.w(auto);
	float:none;
	.db;
	margin:0;
	padding:0;
}
#nv_home,.user-os-wechat,.user-container{

	//去掉中央边框
	.ct2_a, .ct3_a{border:none;background:none;}

	//与分页拉开间距
	.xld{margin-bottom:10px;}

	//头像设置
	.tfm{
		h2.xs2{
			.fz(12px,2) !important;border-bottom:1px dashed #ddd;margin-bottom:10px;.bold;
		}
	}
} 
html{font-size:13px;}
.ua-responsive .screen-s{
	.tfm {.table(block);}
	.tfm .pt, .tfm .px{.w(auto);}
}

