.ua-mobile,.screen-s{
	.user-sidebar{
		.none;
	}
}

.user-sidebar h3{
	user-select:none;
	.pointer;
	.fz(13px,28px);
	margin:5px 0;
	a{
		.db;
		padding: 2px 10px;
	    border: 1px solid #eee;
	    background: #fafafa;
	    .r(3px);
	    .pr;
	}
	a:hover{
		background-color:#f5f5f5;
		border:1px solid #e3e3e3;
	}
	a em{
		right:10px;.ct(y,10px);
		content:'';
		.db;
		.size(10px);
		background:url('@{url}user/sidebar/down.png') no-repeat 0 0;
	}
	&.on{
		.bold;
		.color(#0F75BF,#0F75BF,#0F75BF);
		em{
			background-image:url('@{url}user/sidebar/up.png');
		}
	}
	i{
		.dbi;.y;.size(14px);margin-right:8px;margin-top:-2px;

		background-size:100% auto;
		background-repeat:no-repeat;
		background-position:center center;
	}
}
.u-user-os-index{background-image:url('@{url}user/sidebar/index.png');}
.u-user-os-msg{background-image:url('@{url}user/sidebar/msg.png');}
.u-user-os-thread{background-image:url('@{url}user/sidebar/book.png');}
.u-user-os-setting{background-image:url('@{url}user/sidebar/setting.png');}
.u-user-os-credit{background-image:url('@{url}user/sidebar/coin.png');}
.u-user-os-space{background-image:url('@{url}user/sidebar/home.png');}
.u-user-os-extend{background-image:url('@{url}user/sidebar/extend.png');}
.u-user-os-other{background-image:url('@{url}user/sidebar/lock.png');}

.user-sidebar-list{
	//padding-top:5px;
	.color(#888,#555,@blue-link);

	li{
		.lh(28px);
		margin-bottom:5px;
	}
	.on,li:hover{
		background-color:#f7f7f7;
		.r(28px);
	}
	.on{
		//.bold;
	}
	a{
		.db;
		padding:0 10px 0 40px;
	}

	.none;
	&.on{
		.db;
	}
}