.c-fli-replycredit{
	.clearfix;

	line-height:26px;
	color:#999;
	strong{color:@yel;}

	&#pl_top{border-top:none;}

	.u-icons-replycredit{
		.size(10px,14px);.dbi;.y;
		background:url('@{url}forum/replycredit.png') no-repeat 0 0;
		//.y;margin-top: -1px;
	}
}
.ua-responsive .screen-s .c-fli-replycredit{
	font-size:12px;
}



