.c-fli-custom{
	margin:10px auto;
	padding-bottom:10px;
	line-height:2.5;

	ul{}
	li{}
	border-bottom:1px solid #eee;
	em{
		background-color:#f2f2f2;
		.r(2px);
		padding: 3px 6px;
		margin-right: 5px;
		color:#555;
	}
	span{

	}
}