//点评
@c-fli-cmt-border:#ddd;
@c-fli-cmt-bg:#f9f9f9;

.c-fli-cmt{
	margin-top:40px;
	margin-bottom:20px;
	.clearfix;
}
.c-fli-cmt-title{
	//.pa;.rt(-1px,-28px);
	.fr;
	.w(80px);.x;
    background-color: @c-fli-cmt-bg;
    border: 1px solid @c-fli-cmt-border;
    border-bottom:1px solid @c-fli-cmt-bg;
    color: #259;
    .pointer;
    &.on{
    	background-color:@bluebg;
    	color:#fff;
    }
}
.c-fli-cmt-content{
	.clear;
	.pr;
	background-color:@c-fli-cmt-bg;
	border:1px solid @c-fli-cmt-border;
    min-height: 50px;
}
.c-fli-cmt-list{
	border-bottom:1px solid @c-fli-cmt-border;
	padding:10px;

	.u-avatar{
		.size(18px);.db;.fl;margin-right:5px;
		img{.db;.full;.y;}
	}
	.u-username,.u-time{
		.fz(13px,18px);
		.db;.fl;
	}
	.u-username{
		margin-right:10px;
		.color(@blue-link,@blue-link);
	}
	.u-time{
		color:#999;
	}
	.u-del{
		.fr;
		.color(#999,#c00);
	}
	.u-words{
		.db;.clear;
		padding:10px;
	}
}
.c-fli-cmt-bottom{
	.clearfix;
	min-height:33px;
	padding:10px 10px 5px 10px;
	.w-pages{.fl;padding-right:150px;}
	.c-fli-cmt-btn{.fr;}
}
.c-fli-cmt-btn{
	.pa;.rb(10px,10px);
	&:extend(.u-btn-gray);
    padding: 0 28px;
    border-radius: 4px;
    &:hover{
    	color:#222;
    }
}

.ua-responsive .screen-s .c-fli-cmt{
	.c-fli-cmt-btn{
		//.ps;.fr;margin-top: 10px;
		.none;
	}
}

.ua-responsive .screen-s #fwin_comment{
	.pt{
		.h(100px);
	}
}
