.c-fli-commend{
	.x;
	margin:20px auto 40px auto;
	.clearfix;

	.u-top,.u-color,.u-zan,.u-rate{
		.dbi;margin:0 10px;
		.lh(16px);
		.r(2px);
		padding:4px 8px;
		.clip;

		i{.dbi;.y;.size(16px);margin-right:5px;}
		//.color(@zhblue,@zhblue);
		//border:1px solid @zhblue;

		&:hover{
			i{
				animation:goUp 0.4s ease-in-out;
			}
		}
	}

	.u-top{
		i{background:url('@{url}forum/stick2.png') no-repeat 0 0;margin-top:-1px;}
	}
	.u-color{
		i{background:url('@{url}forum/color.png') no-repeat 0 0;margin-top:-1px;}
	}
	.u-zan{
		i{background:url('@{url}forum/zan.png') no-repeat 0 0;margin-top:-2px;}
	}
	.u-rate{
		i{background:url('@{url}forum/fav2.png') no-repeat 0 0;margin-top:-3px;}
	}
}
.ua-responsive .screen-s .c-fli-commend{
	//a{.db;margin:10px;padding:10px;}

	.u-top,.u-color,.u-zan,.u-rate{
		//border:none;
		font-size:12px;
		padding:5px 10px;
		background-color:#f2f2f2;
		border-color:#ddd;
		color:#666;
		i{.none;}
	}
}