//付费
.c-fli-pay{
	//帖子需要收费时
	.c-paysub{
		@h:30px;
		padding: 5px 8px 5px 24px !important;

		//购买按钮
		.u-btn-buysub{
			.db;.fr;
			.lh(@h);
			.bold;color:#c00;
			padding:0 10px;
			background:#fff;border:1px solid darken(#f5d80e,3%);border-radius:3px;
			&:hover{
				border-color:darken(#f5d80e,5%);
				color:lighten(#c00,1%);
			}
			i{
				background:url('@{url}icon/viewpay.gif') no-repeat center center;
				.size(16px,@h);.y(top);margin-right:5px;.dbi;
			}
		}
		//本主题需向作者支付 2 米币 才能浏览。
		.u-msg-paysub{
			line-height:@h + 2px;
		}
		//成为VIP会员全站资源免费下载，无需回复即可查看隐藏内容。
		.u-msg-tobevip{

		}
		//已有购买数（隐藏）
		.u-haspay{
			.none;
		}
	}
}