<h2>全站搜索</h2>
<div class="m-mix-search m-pve-search">
	<div id="bdcs">
		<div class="bdcs-container">
			<div class="bdcs-main bdcs-clearfix" id="bdcs-search-nofocus"> 
				<form action="http://zhannei.baidu.com/cse/search" method="get" target="_blank" class="bdcs-search-form" id="bdcs-search-form"> 
					<input type="hidden" name="s" value="16227720870024914123" id="bdcs-search-form-s"> 
					<input type="hidden" name="entry" value="1" id="bdcs-search-form-entry">               
					<input type="text" autocomplete="off" name="q"  class="bdcs-search-form-input px vm" id="bdcs-search-form-input-notspan" placeholder="请输入关键词">              
					<input type="submit" style="-webkit-appearance: none;" class="bdcs-search-form-submit u-button-search" id="bdcs-search-form-submit-notspan" value="搜索">             
				</form>              
			</div>
		</div> 
	</div>
	<a class="m-mix-searchtips" href="./faq"><i class="u-icon-faqtips"></i>站内问题请先查看帮助中心</a>
	<div class="m-mix-hotsearch">
		<!--{block/1789}-->
	</div>
</div>

<div class="m-mix-say">
	<!--{block/1790}-->
</div>

<h2>发帖说明</h2>
<div class="m-mix-ac m-pve-ac">
	<!--{block/1788}-->
</div>
