#select_snowcolor .u-checkbox-list{
	.u-checkbox-item{
		label{.db;.full(x);}
		.u-checkbox{margin-left:10px;}
		&:nth-child(1){background-color:#ccc;}
		&:nth-child(2){background-color:gold;}
		&:nth-child(3){background-color:pink;}
		&:nth-child(4){background-color:red;}
		&:nth-child(5){background-color:orange;}
		&:nth-child(6){background-color:yellow;}
		&:nth-child(7){background-color:green;}
		&:nth-child(8){background-color:#32F7EE;}
		&:nth-child(9){background-color:#09f;}
		&:nth-child(10){background-color:#93f;}
		&:nth-child(11){background-color:#000;color:#fff;}
		&:nth-child(12){background-color:#fff;}
	}
}