.c-post-extra{
}

.c-post-title{
	.pr;

	.u-check{
		.pa;.rt(0,0);
		.w(113px);
	}
}
.c-post-category{
	.pa;.lt(0,0);
	.size(143px,28px);
	
	.c-post-category-bg{
		.pa;.lt(0,0);.z(1);
		.db;.full;.x;    
		background-color: #f9f9f9;
    	color: #555;
    	border-radius: 2px;
    	cursor:default;
    }
	.c-post-category-ct{
		.pa;.lt(0,0);.z(2);
		.db;.full;.x;    
		background-color:#fff;
		a{.w(auto) !important;}
	}

}
.c-post-subject{
	.clearfix;
	float:none;
	.u-subject{
		.db;
		margin-left:143px + 10px;
		margin-right:123px;
	}
	.u-text{
		.db;.lh(28px);
		width: 100% !important;
    	box-sizing: border-box;
	}
}

//标题内元素
.c-post-title{

	//标题输入框
	.u-subject,.u-reply-edit{
		.u-text{
			line-height:inherit;
			padding:0 10px;
		}
	}

	//编辑回复时的标题
	.u-reply{
		a{
			.color(@blue-link);
		}
	}

	//检查剩余可输入字数
	.u-check{
		#checklen{
			.color(@yel);
			.bold;
		}
	}
}

//附件提醒
.c-post-attachnotice{
	margin-top:10px;
}

//引用内容
.c-post-quote{
	background-color: #f7f7f7;
    border: 1px dashed #ddd;
    padding: 10px;
}

.ua-responsive .screen-s .c-post-title{
	.c-post-category{
		.pr;float:none;
		.full(x);
		margin-right:0;
		margin-bottom:10px;
		a{.bold;}
	}

	.c-post-subject .u-subject{
		margin:0 ;
		margin-bottom:5px;
		.u-text{.lh(32px);box-shadow:none;}
	}

	.u-check{
		.ps;float:none;
		font-size:13px;
		.x(right);
		.db;
		.w(auto);
		color:#888;
	}
}

.ua-responsive .screen-s{
  	.c-post-attachnotice,.c-post-quote{
		font-size:12px;
	}
}

//投票类
.c-post-extra{
	.exfm{
		background-color:#f7f7f7;
		padding:10px;
		.r(4px);
		margin-bottom:10px;
		.u-text,.px{
			padding:0 5px;
		}
	}
	.sppoll #pollm_c_1 p{margin-bottom:5px;}
	.sadd{.fr;padding-top:10px;}
}
.ua-responsive .screen-s .c-post-extra{
	.sppoll{float:none;}
	.sadd{float:none;padding-top:10px;}
}