.c-post-tips{
	ol,li{
		list-style-position:inside;
	}
}

.c-post-tips{
	.tips(graylight);
    padding: 3px 10px;
    margin-top: 10px;
    //border:1px dashed #ddd;

    hr{border:none;background: none;height:1px;border-bottom:1px dashed #ddd;margin:5px auto;.db;}
}

#c-post-tips-tg{
	.none;
	background:~"url('@{url}icon/info.gif') no-repeat right center / auto 80%";
	color:#222;
}
#c-post-tips-moretg{
	user-select:none;
	.tips(warning);
	.pr;
	.pointer;
	padding:0 10px;
	i{
		.size(13px);.db;
		.ct(y,13px);right:5px;
		background:url('@{url}icon/add.gif') no-repeat 0 0;}
	&.open{
		i{background:url('@{url}icon/desc.gif') no-repeat 0 0;}
	}
}


.ua-responsive .screen-s{
	#c-post-tips-tg{.db;}
	#c-post-tips-moretg{.none;}
	#c-post-tips-content{.none;}

	#c-post-tips-content{
		.pf;.lt(0,0);.full;
		z-index: 40;
	    background-color: rgba(255,255,255,0.95);
	    padding: 20px;
	    box-sizing: border-box;
        overflow: auto;
	}
} 