.c-post-header{
	margin-bottom:10px;
}

.c-post-tab{
	margin:0 !important;
}

.c-post-draftlist{
	margin-top:5px;
	.ps !important;
    background: #FEFEE9;
    border: 1px solid #ddd;
    border-radius: 4px;

    ul{
    	padding: 5px 10px;
    }

    ul li {
    	.fz(13px,2) !important;
    	border-bottom:1px dashed #ddd;
    }

    ul li a:hover{
		color:#c00;
    }

    ul li a .xg1{
    	.fr;
    }
}

.ua-responsive .screen-s .c-post-tab{
    li.y{.none;}
}

.c-post-custominfo{
	.db;
}

