.c-post-custom{}

.c-post-custom-warning{
	.tips(yel);
	margin-bottom:10px;
	padding: 0 10px;
    border: 1px dashed #efaa00;
}

.c-post-custom-list{

}

.c-post-custom-listitem{
	.pr;
	margin-bottom:10px;
	border-bottom:1px dotted #ddd;
	padding-bottom:10px;
	.u-title{
		.pa;.lt(0,0);
		.w(100px);
		.indent(2px);
	}
	.u-check{
		.pa;.rt(0,0);
		width: 100px;
    	white-space: nowrap;
		img{
		    margin-top: -3px;
		}
	}
	.u-content{
		.db;
		margin-left: 110px;
    	margin-right: 123px;
	}
	.u-tip{
		color:#999;
		margin-top:5px;
	}

	.u-input{
		padding:0 10px;
		.db;.full(x);
		box-sizing:border-box;
	}

	.u-text{
		.lh(28px);
		&:extend(.c-post-custom-listitem .u-input);
	}
	
	.u-textarea{
		&:extend(.c-post-custom-listitem .u-input);
		padding:5px 10px;
	}

	.u-radio-list,.u-checkbox-list{
		.clearfix;
	}
	.u-radio-item,.u-checkbox-item{
		.fl;
		min-width:22%;
		padding-right:10px;
		margin-bottom:5px;
	}

	.u-select{
		&:extend(.c-post-custom-listitem .u-input);
		padding:4px 10px;
		.pointer;
	}

	.u-upload{
		.w(120px);
	}
}
.c-post-validity{
	.ftid{float:none;}
}

.ua-responsive .screen-s .c-post-custom-listitem{
	border-bottom:none;

	.u-text{
		.lh(32px);
	}
	.u-title,.u-check{
		.ps;
		.lh(26px);
	}
	.u-title{
		//color:#259;
		.bold;
	}
	.u-check{
		.fr;
		.w(auto);
		color:#888;
		font-size:12px;
	}
	.u-content{
		margin:0;

		.u-tip{.fz(12px,2);}
	}
	.u-upload{
		.w(100%);
		margin:0;
	}
}

#fwin_upload{
	.filebtn{
		.w(auto);

		.pn{
			.db;.w(80%);
			margin:0 auto;
			float:none;
		}
	}
}
.ua-responsive .screen-s  #fwin_upload{
	.upfile{
		.w(auto);
	}
}