.c-post-footer{

}
.c-post-postbar{

}

.c-post-rule{

}


.c-post-postbar{

	.u-button{
		padding:0 10px;
		min-width:80px;
	}

	.u-button-publish{

	}

	.u-button-draft{
		
	}

	.u-actopfollow{
		margin-left:10px;
	}

	.u-fromgroup{

	}

}

.ua-responsive .screen-s .c-post-postbar{
	.c-post-rule,.u-fromgroup{.none;}
}

.u-actopfollow{
	.pr;
	&:after{
		content:'收听关注你的人会收到通知';
		.lt(0,-32px);
		.w(180px);
		.x;
	}
	.hiddenTipshow;
}